<div class="sidebar-nav">
  <div class="well">
    <ul class="nav nav-list">
      <li class="nav-header">Admin Menu</li>
      <% if current_user.has_role? :admin %>
        <li><%= link_to patron_path(current_patron) do %><i class="icon-home"></i> <%= t("dashboard.link.patron_info") %><% end %></li>
        <li><%= link_to users_path do %><i class="icon-user"></i><%= t("dashboard.link.user_actions") %><% end %></li>
        <li><%= link_to branches_path do %><i class="icon-comment"></i> <%= t("dashboard.link.branch_actions") %><% end %></li>
        <li><%= link_to listheaders_path do %><i class="icon-list"></i> <%= t("dashboard.link.params_actions") %><% end %></li>
        <!--li><%#= link_to counters_path do %><i class="icon-user"></i> Sayaçlar<%# end %></li-->
        <li class="divider"></li>
      <% end %>
      <li><%= link_to edit_user_path(current_user) do %><i class="icon-cog"></i><%= t("dashboard.link.user_preferences") %><% end %></li>
      <li>
        <% if current_user.person %>
          <%= link_to person_path(current_user.person) do %><i class="icon-user"></i><%= t("dashboard.link.user_profile") %><% end %>
        <% else %>
          <%= link_to new_person_path do %><i class="icon-user"></i><%= t("dashboard.link.user_profile") %><% end %>
        <% end %>
      </li>
      <li class="divider"></li>
      <% if current_user.has_role? :admin %>
        <li><%= link_to betausers_path do %><i class="icon-user"></i><%= t("dashboard.link.betauser_actions") %><% end %></li>
        <li><%= link_to feedbacks_path do %><i class="icon-cog"></i><%= t("dashboard.link.feedback_actions") %><% end %></li>
        <li><%= link_to patrons_path do %><i class="icon-user"></i><%= t("dashboard.link.patron_actions") %><% end %></li>
        <li class="divider"></li>
        <li><%= link_to countries_path do %><i class="icon-globe"></i><%= t("dashboard.link.country_actions") %><% end %></li>
        <li><%= link_to banks_path do %><i class="icon-gift"></i><%= t("dashboard.link.bank_actions") %><% end %></li>
        <li><%= link_to currencies_path do %><i class="icon-bell"></i><%= t("dashboard.link.currency_actions") %><% end %></li>
      <% end %>
    </ul>
  </div>
</div>