<div id="branch-form">
<%= simple_form_for @branch, :validate => true do |f| %>
  <%= f.error_notification %>

  <div class="pageBlock">
    <%= render 'shared/form_buttonsh', :f => f, :header => "New User" %>

    <!--div class="tabbable tabs-below"-->

      <div id="my-tab-content" class="tab-content">
        <div id="user-main-form" class="tab-pane active">
          <div class="row-fluid">
            <fieldset>
              <legend>New Branch</legend>
              <div class="span6">
                <%= f.input :name %>
                <%= f.input :tel  %>
                <%= f.input :email %>
              </div>
              <div class="span6">
                <%= f.input :country_id do %>
                  <%= f.input_field :country_id, :as => :select, :collection => Country.all, :include_blank => false, :class => "input-small" %>
                  <%= f.grouped_collection_select :city_id, Country.order(:name), :cities, :name, :id, :name, {:include_blank => true}, {:class => "input-small"} %>
                <% end %>
                <%= f.input :district, :label => "Semt" do %>
                  <%= f.input_field :district, :class => "input-small" %>
                  <%= f.input_field :postcode, :class => "input-small" %>
                <% end %>
                <%= f.input :address %>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  <!--/div-->
<% end %>
</div>
