<div id="branch-form" class="span16 columns">
<%= simple_form_for @branch, :validate => true do |f| %>
  <%= f.error_notification %>

  <fieldset>
    <div class="row">
      <div class="page-header span16 columns">
        <h4>New Branch</h4>
      </div>
      <div class="span8 columns">
        <%= f.input :name %>
        <%= f.input :tel  %>
        <%= f.input :email %>
        <%= f.input :address %>
        <%= f.input :postcode %>
        <%= f.input :district %>
        <%= f.input :country_id, :as => :select, :collection => Country.all, :include_blank => false %>
        <%#= f.input :state_id %>
        <%= f.input :city_id, :as => :select, :collection => City.all, :include_blank => false %>
        <%= f.button :submit, :class => 'btn primary' %>
      </div>
    </div>
  </fieldset>

<% end %>
</div>
