<div id="branch-form">
<%= simple_form_for @branch, :validate => true do |f| %>
  <%= f.error_notification %>

  <fieldset>
    <div class="row-fluid">
      <legend>New Branch</legend>

      <div class="span6">
        <%= f.input :name %>
        <%= f.input :tel  %>
        <%= f.input :email %>
      </div>
      <div class="span6">
        <%= f.input :address %>
        <%= f.input :district, :label => "Semt" do %>
          <%= f.input_field :district, :class => "input-small" %>
          <%= f.input_field :postcode, :class => "input-small" %>
        <% end %>
        <%= f.input :country_id do %>
          <%= f.input_field :country_id, :as => :select, :collection => Country.all, :include_blank => false, :class => "input-small" %>
          <%= f.grouped_collection_select :city_id, Country.order(:name), :cities, :name, :id, :name, {:include_blank => true}, {:class => "input-small"} %>
        <% end %>

        <%= f.button :submit, :class => 'btn primary' %>
      </div>
    </div>
  </fieldset>

<% end %>
</div>
