<div id="login_page" class="container">
  <div class="row">
    <div class="span6 columns">
      <div id="login_image" style="padding:20px;">
        <%#= image_tag "ff.jpg" %>
      </div>
      <div id="login_form">
        <%= form_tag sessions_path, class: "form-horizontal", validate: true do %>
          <fieldset>
          <div class="control-group">
            <%= label_tag :email, t("web.label.email"), class: "control-label" %>
            <div class="controls">
              <%= text_field_tag :email, cookies[:socialfreight_mail].to_s, class: "medium" %>
            </div>
          </div>
          <div class="control-group">
            <%= label_tag :password, t("web.label.password"), class: "control-label" %>
            <div class="controls">
              <%= password_field_tag :password, nil, class: "medium" %>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= label_tag :remember_me, class: "checkbox" do %>
                <%= check_box_tag :remember_me, 1, cookies[:socialfreight_rememberme] %>&nbsp;<%= t("web.label.remember_me") %>
              <% end %>
            </div>
          </div>
          <div class="control-groups">
            <div class="controls">
              <%= submit_tag t("web.label.login"), :class => "btn btn-success" %>
              <%= link_to t("web.label.forgot_password"), new_password_reset_path %>
            </div>
          </div>
          </fieldset>
        <% end %>
      </div>
      <div id="signupnote">
        <p><%= t("web.label.no_account_yet") %>&nbsp;<%= link_to t("web.label.signup_for_free"), try_path%></p>
        <p><%= t("web.label.are_you_freighter") %>&nbsp;<%= link_to t("web.label.try_socialfreight"), try_path%></p>
      </div>
    </div>
    <div class="span6 columns">
      <div id="login_roadmap">
        <%= image_tag "cloud-go.jpg" %>
      </div>
    </div>
  </div>
</div>