<div id="opform">
  <%= simple_form_for @transport, html: { class: 'form-horizontal' }, validate: true do |f| %>
    <%= f.error_notification %>
    <%= f.error :base, error_method: :to_sentence %>

    <div class="pageBlock">
   
      <div id="transport-main-form" class="tab-pane active">
        <%= render "form_#{@transport.trans_method}", f: f %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t("transports.action.save"), class: 'btn btn-info', accesskey: "s" %>
        <%= link_to t("defaults.link.cancel"), position_path(@transport.position), class: "btn" %>
        <% if params[:action] != "edit" %>
          <span class="pull-right label"><%= t("transports.message.enter_road_route") %></span>
        <% end %>
      </div>

      <div style="display:none">
        <%= f.input :trans_method, as: :hidden %>
        <%= f.input :dep_place_type, as: :hidden %>
        <%= f.input :arv_place_type, as: :hidden %>
        <%= f.input :position_id, as: :hidden %>
        <%= f.input :position_id, as: :hidden %>
      </div>
    </div>

  <% end %>
</div>