<div class="row-fluid">
  <div class="span6">
      <%= f.input :vessel, :label => "Dorse & Sefer No", hint: "Dorse Plakası ile Dorse Sefer No" do %>
        <%= f.input_field :vessel, :class => "input-small" %>
        <%= f.input_field :voyage, :class => "input-small disabled", disabled: "" %>
      <% end %>
      <%= f.input :truck, hint: "Römork plate number" %>
      <%= f.input :driver_name, hint: "Driver Name & Surname" %>
      <%#= f.input :waybill_flag, hint: "CMR belgesini biz düzenleyeceğiz" %>
  </div>
  <div class="span6">
      <%= f.input :owner_id, :as => :select, :collection => [[@transport.owner_id ? @transport.owner.name : "", @transport.owner_id]], :label => I18n.t("position.#{@transport.trans_method}.label.transporter"), :input_html => {:class => "chosen_input", "data-url" => "/companies.json" }, hint: "Araç Sahibi Firma" %>
      <%#= f.input :supplier_id, :as => :select, :collection => [[@transport.supplier_id ? @transport.supplier.name : "", @transport.supplier_id]], :label => I18n.t("position.#{@transport.trans_method}.label.supplier"), :input_html => {:class => "chosen_input", "data-url" => "/companies.json" }, hint: "Liner Agent" %>
      <%= f.input :freight_price, label: "Taşıma Ücret", hint: "Kiralık araçlarda, araç sahibi ile anlaşılan fiyat" do %>
        <%= f.input_field :freight_price, :class => "input-small" %>
        <%= f.input_field :freight_curr, :as => :select, :collection => Currency.all, :include_blank => false, :class => "input-small" %>
      <% end %>
  </div>
  <!--legend>Çıkış Bilgisi</legend-->
  <div class="span12" style="float:left">
    <table class="inline-form-table table" style="width:96%">
      <tr>
        <th colspan="2">Çıkış Tarih & Saati</th>
        <th>Çıkış Noktası</th>
        <th>Çıkış Yeri</th>
        <th>Çıkış Ülkesi</th>
        <th>Çıkış Şehri</th>
      </tr>
      <tr>
        <td>
        <%= f.input :departure_date, as: :string, label: false, hint: "Aracın Çıkış Tarihi", input_html: { class: "input-date", "data-datepicker" => "datepicker" } %>
        </td>
        <td>
          <%= f.input :departure_hour, label: false, hint: "ve Saati", input_html: { class: "input-hour" } %>
        </td>
        <td>
          <%= f.input :dep_place_type, as: :select, collection: Loading.point_types.map { |r| [r[1], r[0] ] }, include_blank: false, label: false, input_html: { class: "chosen_input input-medium" } %>
        </td>
        <td>
          <%= f.input :dep_place_id, :as => :select, :collection => [[@transport.dep_place_id ? @transport.dep_place.name : "", @transport.dep_place_id]], label: false, hint: "Aracın Sefere Başladığı Yer Bilgisi", input_html: { class: "chosen_input", "data-url" => "/places.json" } %>
        </td>
        <td>
          <%= f.input :dep_country_id, as: :select, collection: Country.all, include_blank: true, label: false, input_html: { class: "input-medium country_select", "data-placeholder" => "Çıkış Ülkesi" } %>
        </td>
        <td>
          <%= f.input :dep_city_id, as: :select, collection: City.find(:all, conditions: ["country_id = :c", { :c => @transport.dep_country_id } ]), include_blank: true, label: false, input_html: { class: "input-medium city_select", "data-placeholder" => "Çıkış Şehri" } %>
          <%#= f.grouped_collection_select :dep_city_id, Country.order(:name), :cities, :name, :id, :name, {:include_blank => true}, {:class => "input-medium chosen_input"} %>
        </td>
      </tr>
    <!--/table>
  </div>
  <legend>Varış Bilgisi</legend>
  <div class="span12" style="float:left">
    <table class="inline-form-table table"-->
      <tr>
        <th colspan="2">Varış Tarih & Saati</th>
        <th>Varış Noktası</th>
        <th>Varış Yeri</th>
        <th>Varış Ülkesi</th>
        <th>Varış Şehri</th>
      </tr>
      <tr>
        <td>
        <%= f.input :arrival_date, as: :string, label: false, hint: "Aracın Varış Tarihi", input_html: { class: "input-date", "data-datepicker" => "datepicker" } %>
        </td>
        <td>
          <%= f.input :arrival_hour, label: false, hint: "ve Saati", input_html: { class: "input-hour" } %>
        </td>
        <td>
          <%= f.input :arv_place_type, as: :select, collection: Loading.point_types.map { |r| [r[1], r[0] ] }, include_blank: false, label: false, hint: "Aracın varış noktası", input_html: { class: "chosen_input input-medium", "data-placeholder" => "Varış Yeri Tipi" } %>
        </td>
        <td>
          <%= f.input :arv_place_id, :as => :select, :collection => [[@transport.arv_place_id ? @transport.arv_place.name : "", @transport.arv_place_id]], "data-url" => "/places.json", label: false, hint: "Aracın Sefere Başladığı Yer Bilgisi", input_html: { class: "chosen_input", "data-placeholder" => "Varış Noktası"} %>
        </td>
        <td>
          <%= f.input :arv_country_id, as: :select, collection: Country.all, include_blank: true, label: false, input_html: { class: "input-medium country_select", "data-placeholder" => "Varış Ülkesi"} %>
        </td>
        <td>
          <%= f.input :arv_city_id, as: :select, collection: City.find(:all, conditions: ["country_id = :c", { :c => @transport.arv_country_id } ]), include_blank: true, label: false, input_html: { class: "input-medium city_select", "data-placeholder" => "Varış Şehri" } %>
        </td>
      </tr>
    </table>
  </div>
  <%= f.input :trans_method, :as => :hidden %>
</div>
