<div id="opform">
  <%= simple_form_for @transport, html: { class: 'form-horizontal' }, validate: true do |f| %>
    <%= f.error_notification %>
    <%= f.error :base, error_method: :to_sentence %>

    <div class="pageBlock">
      <%#= render 'shared/form_buttonsh', :f => f %>
   
      <div class="page-header">
        <h4>Multimodal Taşıma Bilgisi<small class="pull-right">Bu projede taşınacak yükler için bu uçağın hareket bilgisini girelim</small></h4>
      </div>
      <div id="transport-main-form" class="tab-pane active">
        <%= render "form_#{@transport.trans_method}", f: f %>
      </div>

      <div style="display:none">
        <%= f.input :trans_method, as: :hidden %>
        <%= f.input :dep_place_type, as: :hidden %>
        <%= f.input :arv_place_type, as: :hidden %>
        <%= f.input :position_id, as: :hidden %>
        <%= f.input :position_id, :as => :hidden %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Multimodal Taşıma Bilgisini Kaydet", class: 'btn btn-info', :accesskey => "s" %>
        <button type="button" class="btn">Vazgeç</button>
      </div>
    </div>

  <% end %>
</div>
