<div class="row-fluid">
  <div class="row-fluid">
    <div class="span6">
      <fieldset>
        <legend>Araç Bilgisi</legend>
        <%= f.input :vessel, label: "Dorse & Çekici" do %>
          <%= f.input_field :truck, class: "input-small", placeholder: "Çekici Plakası" %>
          <%= f.input_field :vessel, class: "input-small", placeholder: "Dorse Plakası" %>
        <% end %>
        <%= f.input :voyage, placeholder: "Sefer No" %>
        <%#= f.input :driver_name, "data-placeholder" => "Sürücü" %>
        <%= f.input :driver_id, as: :hidden, label: "Sürücü", input_html: {class: "chosen_input", "data-url" => "/people.json", "data-newrecurl" => "/people/new", "data-placeholder" => "Sürücü Seçiniz."} %>
        <hr>
        <%= f.input :owner_id, as: :hidden, label: "Araç Sahibi Firma", input_html: { class: "chosen_input", "data-url" => "/companies.json", "data-newrecurl" => "/companies/new", "data-placeholder" => "Araç Sahibi Firmayı Seçiniz"} %>
        <%= f.input :supplier_id, as: :hidden, label: "Nakliyeci Firma", input_html: { class: "chosen_input", "data-url" => "/companies.json", "data-newrecurl" => "/companies/new", "data-placeholder" => "Nakliyeci Firmayı Seçiniz" } %>
        <%= f.input :freight_price, label: "Navlun Ücreti" do %>
          <%= f.input_field :freight_price, class: "input-small" %>
          <%= f.input_field :freight_curr, as: :select, collection: Currency.all, include_blank: false, class: "input-small" %>
        <% end %>
      </fieldset>
    </div>
    <div class="span6">
      <fieldset>
        <legend>Araç Hareket Bilgisi</legend>
        <%= f.input :departure_date do %>
          <%= f.input_field :departure_date, as: :string, placeholder: "Çıkış Tarihi", class: "input-date", "data-datepicker" => "datepicker" %>
          <%= f.input_field :departure_hour, placeholder: "Saati", class: "input-hour" %>
        <% end %>
        <%= f.input :dep_place, label:"Çıkış Yeri" do %>
          <%= f.input_field :dep_place_type, as: :select, collection: Loading.point_types.map { |r| [r[1], r[0] ] }, include_blank: true, class: "input-small" %>
          <%= f.input_field :dep_place, class: "input-small" %>
        <% end %>
        <%= f.input :dep_country_id, label: "Çıkış Ülke & Şehir" do %>
          <%=f.input_field :dep_country_id, as: :select, collection: Country.all, include_blank: true, class: "input-small country_select", placeholder: "Çıkış Ülkesi" %>
          <%= f.input_field :dep_city, class: "input-small", placeholder: "Çıkış Şehri" %>
        <% end %>
        <hr>
        <%= f.input :arrival_date do %>
          <%= f.input_field :arrival_date, as: :string, placeholder: "Varış Tarihi", class: "input-date", "data-datepicker" => "datepicker" %>
          <%= f.input_field :arrival_hour, placeholder: "Saati", class: "input-hour" %>
        <% end %>
        <%= f.input :arv_place, label:"Varış Yeri" do %>
          <%= f.input_field :arv_place_type, as: :select, collection: Loading.point_types.map { |r| [r[1], r[0] ] }, include_blank: true, class: "input-small" %>
          <%= f.input_field :arv_place, class: "input-small" %>
        <% end %>
        <%= f.input :arv_country_id, label: "Varış Ülke & Şehir" do %>
          <%= f.input_field :arv_country_id, as: :select, collection: Country.all, include_blank: true, class: "input-small country_select", placeholder: "Varış Ülkesi" %>
          <%= f.input_field :arv_city, class: "input-small", placeholder: "Varış Şehri" %>
        <% end %>
      </fieldset>
    </div>
  </div>
  <div class="row-fluid">
    <legend>Güzergah Bilgisi</legend>
  </div>
</div>