<div class="row-fluid">
  <div class="page-header">
    <h4>
      <%= t("transports.title.transport_info") %>
      <small class="pull-right"><%= t("transports.message.rail_transport") %></small>
    </h4>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <fieldset>
        <legend><%= t("transports.title.rail_transport") %></legend>
        <%= f.input :vessel, label: t("transports.label.air_vessel") do %>
          <%= f.input_field :vessel, class: "input-small", placeholder: t("transports.placeholder.train") %>
          <%= f.input_field :truck, class: "input-small", placeholder: t("transports.placeholder.vagon") %>
        <% end %>
        <%= f.input :voyage, label: t("transports.label.voyage") %>
        <%#= f.input :owner_id, as: :hidden, label: "Tren İşletmecisi", input_html: { class: "chosen_input", "data-url" => "/companies.json", "data-newrecurl" => "/companies/new", "data-placeholder" => "Tren İşleten Firmayı Seçiniz"} %>
        <%= f.input :supplier_id, as: :hidden, label: t("transports.label.traincompany"), input_html: {class: "chosen_input", "data-url" => "/companies.json", "data-placeholder" => t("transports.placeholder.traincompany") } %>
        <hr>
        <%= f.input :freight_price, label: t("defaults.label.freight_price") do %>
          <%= f.input_field :freight_price, :class => "input-small" %>
          <%= f.input_field :freight_curr, :as => :select, :collection => Currency.all, :include_blank => false, :class => "input-small" %>
        <% end %>
        <%= f.input :waybill_no, label: t("transports.label.cim_info") do %>
          <%= f.input_field :waybill_no, class: "input-small", placeholder: t("transports.placeholder.cim_no") %>
          <%= f.input_field :waybill_date, as: :string, class: "input-small", "data-datepicker" => "datepicker", placeholder: t("transports.placeholder.cim_date") %>
        <% end %>
      </fieldset>
    </div>
    <div class="span6">
      <fieldset>
        <legend><%= t("transports.title.rail_departure") %></legend>
        <%= f.input :departure_date, label: t("transports.label.departure_datehour") do %>
           <%= f.input_field :departure_date, as: :string, placeholder: t("operations.label.departure_date"), class: "input-date", "data-datepicker" => "datepicker" %>
           <%= f.input_field :departure_hour, placeholder: t("transports.placeholder.transport_hour"), class: "input-hour" %>
        <% end %>
        <%= f.input :dep_place, label:"Çıkış İstasyonu", placeholder: t("transports.label.departure_station") %>
        <%= f.input :dep_country_id, label: t("transports.label.departure_citycountry") do %>
          <%=f.input_field :dep_country_id, as: :select, collection: Country.all, include_blank: true, class: "input-small country_select", placeholder: t("transports.placeholder.departure_country") %>
          <%= f.input_field :dep_city, class: "input-small", placeholder: t("transports.placeholder.departure_city") %>
        <% end %>
        <hr>
        <%= f.input :arrival_date, label: t("transports.label.arrival_datehour") do %>
          <%= f.input_field :arrival_date, as: :string, placeholder: t("operations.label.arrival_date"), class: "input-date", "data-datepicker" => "datepicker" %>
          <%= f.input_field :arrival_hour, placeholder: t("transports.placeholder.transport_hour"), class: "input-hour" %>
        <% end %>
        <%= f.input :arv_place, label:"Varış İstasyonu", placeholder: t("transports.label.arrival_station") %>
        <%= f.input :arv_country_id, label: t("transports.label.arrival_citycountry") do %>
          <%= f.input_field :arv_country_id, as: :select, collection: Country.all, include_blank: true, class: "input-small country_select", placeholder: t("transports.placeholder.arrival_country") %>
          <%= f.input_field :arv_city, class: "input-small", placeholder: t("transports.placeholder.arrival_city") %>
        <% end %>
        <% if params[:action] != "edit" %>
          <span class="pull-right label"><%= t("transports.message.enter_rail_route") %></span>
        <% end %>
      </fieldset>
    </div>
  </div>
</div>
