<table>
  <tr>
    <th>Type</th>
    <th>Vessel</th>
    <th>Voyage</th>
    <th>Load Place</th>
    <th>Unload Place</th>
    <th>Supplier</th>
    <th>Price</th>
    <th>Add.Vessel</th>
    <th></th>
  </tr>

<% transports.each do |transport| %>
  <tr>
    <td><%= transport.trans_method %>-<%= transport.trans_type %></td>
    <td><%= transport.vessel %></td>
    <td><%= transport.voyage %></td>
    <td><%= transport.load_place.name %></td>
    <td><%= transport.unload_place.name %></td>
    <td><%= transport.supplier.name %></td>
    <td><%= transport.freight_price %>&nbsp;<%= transport.freight_curr %></td>
    <td><%= transport.vessel2 %></td>
    <td><%= link_to "Edit", edit_position_transport_path(transport.position, transport) %></td>
  </tr>
<% end %>
</table>
