<div id="quick-profile" class="transport">
  <div>
    <table style="width:100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="labelCol2"><%= t("transports.label.#{transport.trans_method}_vehicle") %>:</td>
        <td class="dataCol2"><%= "#{transport.truck} #{transport.vessel}" %></td>
        <td class="labelCol2"><%= t("transports.label.voyage") %>:</td>
        <td class="dataCol2 lastCol"><%= transport.voyage %>
          <small class="pull-right"><%= link_to t("defaults.link.edit"), edit_transport_path(transport) %></small>
        </td>
      </tr>
      <tr>
        <td class="labelCol2"><%= t("transports.label.#{transport.trans_method}owner") %>:</td>
        <td class="dataCol2"><%= company_name(transport.owner) if transport.owner %></td>
        <td class="labelCol2"><%= t("transports.label.#{transport.trans_method}supplier") %>:</td>
        <td class="dataCol2 lastCol"><%= company_name(transport.supplier) if transport.supplier %></td>
      </tr>
      <tr>
        <td class="labelCol2"><%= t("transports.label.departure") %>:</td>
        <td class="dataCol2"><%= transport_departure(transport) %></td>
        <td class="labelCol2"><%= t("defaults.label.freight_price") %>:</td>
        <td class="dataCol2 lastCol"><%= transport_freight_price(transport) %></td>
      </tr>
      <tr>
        <td class="labelCol2"><%= t("transports.label.arrival") %>:</td>
        <td class="dataCol2"><%= transport_arrival(transport) %></td>
        <td class="labelCol2"><%= t("positions.title.position_info") %>:</td>
        <td class="dataCol2 lastCol"><%= position_name(transport.position) %></td>
      </tr>
    </table>
  </div>
</div>
