<div class="listHeader profile" style="margin-bottom:10px;">
  <table cellspacing="0" cellpadding="0" border="0" style="width:100%;">
    <tbody>
      <tr style="width:100%">
        <td class="listTitle"  style="width:30%;text-align:left">
          <h5 class="mainTitle"><%= listItem.humanize.pluralize %></h5>
        </td>
        <td class="listButtons" style="width:50%;text-align:left">
          <%#= link_to "New #{listItem.humanize}", new_record_path(listItem, object), class: "btn btn-mini btn-info" %>

          <div class="btn-group">
            <a class="btn btn-info btn-mini dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon-plus-sign icon-white"></i>Taşıma Bilgisi Ekle<i class="icon-chevron-down icon-white"></i></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Gemi/RORO Taşıma Bilgisi Ekle", new_transport_path(position_id: object.id, :trans_method => "sea") %></li>
              <li><%= link_to "Tır Taşıma Bilgisi Ekle", new_transport_path(position_id: object.id, :trans_method => "road") %></li>
              <li><%= link_to "Tren Taşıma Bilgisi Ekle", new_transport_path(position_id: object.id, :trans_method => "rail") %></li>
              <li><%= link_to "Uçak Taşıma Bilgisi Ekle", new_transport_path(position_id: object.id, :trans_method => "air") %></li>
              <li><%= link_to "Dahili(Ön/Son) Taşıma Bilgisi Ekle", new_transport_path(position_id: object.id, :trans_method => "inland") %></li>
            </ul>
          </div>
        </td>
        <td class="listHelp" style="width:20%;text-align:right;padding-right:10px;">
          <%= link_to "#" do %><%= "#{listItem.humanize.pluralize} Help" %><i class="icon-question-sign"></i><% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>