<div class="page-header">
  <ul class="inline">
    <li><h5 class="mainTitle"><%= t("defaults.title.#{listItem.pluralize}") %></h5></li>
    <li>
      <div class="btn-group">
        <a class="btn btn-info dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon-plus-sign icon-white"></i><%= t("defaults.link.new_transport") %><i class="icon-chevron-down icon-white"></i></a>
        <ul class="dropdown-menu">
          <li><%= link_to t("operations.link.new_sea_transport"), new_transport_path(position_id: object.id, :trans_method => "sea") %></li>
          <li><%= link_to t("operations.link.new_road_transport"), new_transport_path(position_id: object.id, :trans_method => "road") %></li>
          <li><%= link_to t("operations.link.new_rail_transport"), new_transport_path(position_id: object.id, :trans_method => "rail") %></li>
          <li><%= link_to t("operations.link.new_air_transport"), new_transport_path(position_id: object.id, :trans_method => "air") %></li>
          <li><%#= link_to t("operations.link.new_inland_transport"), new_transport_path(position_id: object.id, :trans_method => "inland") %></li>
        </ul>
      </div>
    </li>
    <li class="pull-right"><%= link_to "#" do %><%= "#{listItem.humanize.pluralize} Help" %><i class="icon-question-sign"></i><% end %></li>
  </ul>
</div>