<div id="transports_index_page" class="row-fluid">

  <div class="page-header">
  	<h3>
  		<%= t("transports.defaults.page_header") %>
  		<small>
	      <div class="btn-group">
	        <a class="btn btn-success dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon-plus-sign icon-white"></i><%= t("transports.defaults.new_record_label") %><i class="icon-chevron-down icon-white"></i></a>
	        <ul class="dropdown-menu">
	          <li><%= link_to t("operations.link.new_road_transport"), new_transport_path(trans_method: "road") %></li>
	          <li><%= link_to t("operations.link.new_sea_transport"), new_transport_path(trans_method: "sea") %></li>
	          <li><%= link_to t("operations.link.new_rail_transport"), new_transport_path(trans_method: "rail") %></li>
	          <li><%= link_to t("operations.link.new_air_transport"), new_transport_path(trans_method: "air") %></li>
	        </ul>
	      </div>
  		</small>
  	</h3>
  </div>

  <%= page_intro_helper(t("transports.defaults.intro_message")) %>

  <%= sub_header_with_search_form(t("transports.defaults.last_records_title"), "transports") %>

  <%= render "transports/list", objects: @transports, is_paginated: false %>

</div>
<script type="text/javascript">
  document.getElementById('transportnavigator').classList.add('active');
</script>