<div id="opform">
<%= simple_form_for @position, :validate => true do |f| %>
  <%= f.error_notification %>
  <fieldset>

  <div class="pageBlock">
    <%= render 'shared/form_buttonsh', :f => f %>
 
    <div class="tabbable tabs-below">

      <div id="my-tab-content" class="tab-content">
        <div id="position-main-form" class="tab-pane active">
          <%= render 'form_main', :f => f %>
        </div>
        
        <div id="position-voyage-form" class="tab-pane">
          <%#= f.fields_for :transnodes, @position.transnodes do |builder| %>
            <%#= render 'form_voyage', :f => builder %>
          <%# end %>
          <%= f.fields_for :transnodes do |builder| %>
            <%= render 'transnodes_fields', :f => builder %>
          <% end %>

        </div>
      </div>

      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#position-main-form">1-Pozisyon Bilgileri</a></li>
        <li><a data-toggle="tab" href="#position-voyage-form">2-Gemi Bilgileri</a></li>
      </ul>
    </div>
    <%= f.error :base %>
  </div>

  </fieldset>
<% end %>
</div>
