<div id="opform">
<%= simple_form_for @position, :html => {:class => 'form-horizontal'}, :validate => true do |f| %>
  <%= f.error_notification %>
  <div class="row-fluid">
    <%= f.error :base %>
  </div>
  <fieldset>

  <div class="pageBlock">

    <div class="page-header">
      <h3>Yeni Taşıma Projesi</h3>
    </div>
    <%#= render 'shared/form_header', message: "Yeni Taşıma Projesi" %>
 
    <%= f.hidden_field :operation %>
    <legend>Pozisyon Bilgileri</legend>

    <div class="row-fluid">
      <div class="span6">
        <%= f.hidden_field :operation %>
        <%= f.input :direction, as: :select, collection: Position.direction_types.map { |r| [r[1], r[0] ] } %>
      </div>
      <div class="span6">
        <%= f.input :branch_id, as: :select, collection: current_patron.branches,selected: current_user.branch_id %>
      </div>
    </div>
    <div class="row-fluid">
      <%#= f.fields_for :transports do |builder| %>
        <%#= render "transports/form_#{@position.operation}", :f => builder %>
      <%# end %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Yeni Taşıma Projesini Başlat", :class => 'btn btn-info' %>
      <a href="" class="btn">Vazgeç</a>
    </div>
    <div class="row-fluid">
      <p class="alert alert-info">*Projede taşınacak yükleri ve araç bilgilerini bir sonraki adımda gireceksiniz</p>
    </div>
  </div>

  </fieldset>
<% end %>
</div>
