<div id="opform">
<%= simple_form_for @position, :validate => true do |f| %>
  <%= f.error_notification %>
  <fieldset>

  <div class="pageBlock">
    <%= render 'shared/form_buttonsh', :f => f, :header => "New Position" %>
    <%= render 'shared/form_header' %>
 
    <div class="row">
      <!--ul class="tabs" data-tabs="tabs">
        <li class="active"><a href="#position-main-form">Pozisyon Bilgileri</a></li>
        <div class="rightside">
          <%= f.button :submit, "Save Position", :class => 'btn primary' %>
        </div>
      </ul-->

      <div id="my-tab-content" class="tab-content">
        <div id="position-main-form" class="tab-pane active">
          <%= render 'form_main', :f => f %>
        </div>
      </div>

    </div>
    <%= render 'shared/form_buttonsb' %>
  </div>

  </fieldset>
<% end %>
</div>
