<div id="opform">
<%= simple_form_for @position, :html => {:class => 'form-horizontal'}, :validate => true do |f| %>
  <%= f.error_notification %>
  <div class="row-fluid">
    <%= f.error :base %>
  </div>
  <fieldset>

  <div class="pageBlock">

    <div class="row-fluid">
      <div class="page-header">
        <h3><%= t("positions.title.new_position") %></h3>
      </div>
    </div>
    <%#= render 'shared/form_header', message: "Yeni Taşıma Projesi" %>
 
    <%= f.hidden_field :operation %>
    
    <div class="row-fluid">
      <%= f.input :description, input_html: { class: "span8" }, label: t("positions.label.description"), placeholder: t("positions.placeholder.description") %>
      <%#= f.input :direction, as: :select, collection: Position.direction_types.map { |r| [r[1], r[0] ] }, label: t("positions.label.direction") %>
      <%= f.input :branch_id, as: :select, collection: current_patron.branches,selected: current_user.branch_id, label: t("positions.label.branch") %>
      <%= f.input :notes, as: :text, input_html: { rows: "2", class:"span8" }, label: t("positions.label.notes") %>
    </div>
    <div class="row-fluid" style="display:none">
      <%= f.hidden_field :operation %>
      <%= f.hidden_field :direction %>
      <%#= f.fields_for :transports do |builder| %>
        <%#= render "transports/form_#{@position.operation}", :f => builder %>
      <%# end %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, t("positions.action.create"), :class => 'btn btn-info' %>
      <a href="" class="btn"><%= t("defaults.link.cancel") %></a>
    </div>
    <div class="row-fluid">
      <p class="alert alert-info">*<%= t("positions.message.next_step") %></p>
    </div>
  </div>

  </fieldset>
<% end %>
</div>
