<div id="quick-profile" class="position">
  <div>
    <table style="width:100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><h3><%= @position.reference.upcase %></h3></td>
        <td/>
        <td colspan="3" style="text-align:right">
          <%= link_to "Edit", edit_position_path(@position), :class => 'btn primary' %>
        </td>
      </tr>
      <tr>
        <td class="labelCol2">Nakliyeci :</td>
        <td class="dataCol2"><%= @position.transporter.name if @position.transporter %></td>
        <td class="labelCol2">Yükleme:</td>
        <td class="dataCol2"><%= @position.load_place.name if @position.load_place %></td>
        <td class="dataCol2" rowspan="3"></td>
      </tr>
      <tr>
        <td class="labelCol2">Tedarikçi :</td>
        <td class="dataCol2"><%= @position.supplier.name if @position.supplier %></td>
        <td class="labelCol2">Boşaltma:</td>
        <td class="dataCol2 lastCol"><%= @position.unload_place.name if @position.unload_place %></td>
      </tr>
      <tr>
        <td class="labelCol2"> Acenta:</td>
        <td class="dataCol2 lastCol"><%= @position.agent.name if @position.agent %></td>
        <td class="labelCol2">Navlun:</td>
        <td class="dataCol2"><%= @position.freight_price %>&nbsp;<%= @position.freight_curr.upcase %></td>
      </tr>
    </table>
  </div>
</div>
