<div class="profile-content">

  <div class="row-fluid profile-summary">
    <%= link_to "Yükler(#{@position.loadings_count})", "##{@position.id}_loadingList" %> |
    <%= link_to "Multimodal Taşımalar(#{@position.transports_count})", "##{@position.id}_transportList" %> |
    <%= link_to "Dosyalar(#{@position.documents_count})", "##{@position.id}_documentList" %> |
          <%#= link_to "Fatura Kalemleri(2)", "##{@position.id}_invoitemList" %> |
          <%#= link_to "Masraflar(1)", "##{@position.id}_costList" %> |
  </div>
  <div class="row-fluid profile-section">
    <%= render "shared/related_list", list_model: "loading", parent: @position, objects: @position.loadings %>
  </div>

  <div class="row-fluid profile-section">
    <%= render "shared/related_list", list_model: "transport", parent: @position, objects: @position.transports %>
  </div>

  <div class="row-fluid profile-section">
    <%= render "shared/related_list", list_model: "document", parent: @position, objects: @position.documents %>
  </div>

  <!--div class="row-fluid profile-section">
    <%#= render "shared/related_list", list_model: "invoitem", parent: @position, objects: @position.invoitems %>
  </div-->

  <!--div class="row-fluid profile-section">
    <%#= render "shared/related_list", list_model: "cost", parent: @position, objects: @position.costs %>
  </div-->
  <div class="row-fluid profile-section">
    <div class="page-header">
      <h5>
        Discussions
        <span class="sub-link">
          <span class="btn btn-small btn-info togglebutton" data-href="#new_post_div">Post a new message</span>
        </span>
      </h5>
    </div>
    <div id="new_post_div" class="row-fluid slidingDiv">
      <div class="span6">
        <%= render 'posts/form', object: @position %>
      </div>
    </div>
    <%= render 'posts/postlist', posts: @position.posts %>
  </div>

  <div class="row-fluid profile-section">
    <div class="page-header">
      <h5>
        Todo List
        <span class="sub-link">
          <span class="btn btn-small btn-info togglebutton" data-href="#new_post_div">Create a todo list</span>
        </span>
      </h5>
    </div>
  </div>

  <!--div class="row-fluid profile-section">
    <div id="position_comments" class="feeds">
      <%#= render 'comments/commentable', :object => @position %>
    </div>
  </div-->

</div>

  <!--table class="outer" width="100%" id="contentTable" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="oRight" id="bodyCell">
          <div id="inner-content">
            <div id="position" class="profile">
              <ul class="nav nav-pills">
                <li class="active"><a data-toggle="tab" href="#position_profile">Profile</a></li>
                <li><a data-toggle="tab" href="#position_detail">Details</a></li>
                <li><a data-toggle="tab" href="#position_docs">Documents</a></li>
                <li style="float:right;padding-right:10px;">
        <div class="btn-group">
          <a class="btn btn-success" href="#" data-toggle="dropdown"><i class="icon-plus-sign icon-white"></i>Taşıma Bilgisi Ekle</a> 
          <a class="btn btn-success dropdown-toggle" href="#" data-toggle="dropdown">
            <span class="caret" />
          </a>
          <ul class="dropdown-menu">
            <li><%#= link_to "Gemi/RORO Taşıma Bilgisi Ekle", new_transport_path(position_id: @position.id, :trans_method => "sea") %></li>
            <li><%#= link_to "Tır Taşıma Bilgisi Ekle", new_transport_path(position_id: @position.id, :trans_method => "road") %></li>
            <li><%#= link_to "Tren Taşıma Bilgisi Ekle", new_transport_path(position_id: @position.id, :trans_method => "rail") %></li>
            <li><%#= link_to "Uçak Taşıma Bilgisi Ekle", new_transport_path(position_id: @position.id, :trans_method => "air") %></li>
            <li><%#= link_to "Dahili(Ön/Son) Taşıma Bilgisi Ekle", new_transport_path(position_id: @position.id, :trans_method => "inland") %></li>
          </ul>
        </div>
                </li>
              </ul>
              <div id="my-tab-content" class="tab-content">
                <%#= render 'tab1', :position => @position %>
                <%#= render 'tab2', :position => @position %>
                <%#= render 'tab3', :position => @position %>
              </div>
            </div>
            <div id="position_comments" class="feeds">
              <%#= render 'comments/commentable', :object => @position %>
            </div>
          </div>
      </td>
      <td id="rightCell" class="sidebarCell">
          <div id="rightbar">
            <%#= render 'goods', :position => @position %>
            <%#= render 'todos', :position => @position %>
            <%#= render 'loadings/followers', :loading => @position %>
          </div>
      </td>
    </tr>
  </table>
  <div class="modal fade" id="loadModalList"></div-->