<div class="page-header span16 columns">
  <h4>Araç Bilgileri</h4>
</div>
<div class="span8 columns">
  <%= f.input :vessel, :label => I18n.t("position.#{@position.operation}.label.vesselvoyage") do %>
    <%= f.input_field :vessel, :class => "small" %>
    <%= f.input_field :voyage, :class => "small" %>
  <% end %>
  <%= f.input :vessel2, :label => I18n.t("position.#{@position.operation}.label.vessel2voyage") do %>
    <%= f.input_field :vessel2, :class => "small" %>
  <% end %>
</div>
<div class="span8 columns">
  <%= f.input :tircarnet1, :label => "Belge" do %>
    <%= f.input_field :tircarnet1, :class => "small" %>
  <% end %>
</div>
