<div class="page-header span16 columns">
  <h4>Araç Bilgileri</h4>
</div>
<div class="span8 columns">
  <%= f.input :vessel, :label => I18n.t("position.#{@position.operation}.label.vesselvoyage") do %>
    <%= f.input_field :vessel, :class => "small" %>
    <%= f.input_field :voyage, :class => "medium" %>
  <% end %>
  <%= f.input :ordino_date, :input_html => { :class => "small", "data-datepicker" => "datepicker" } %>

</div>
<div class="span8 columns">
  <%= f.input :vessel2, :label => I18n.t("position.#{@position.operation}.label.vessel2voyage") do %>
    <%= f.input_field :vessel2, :class => "small" %>
    <%= f.input_field :voyage2, :class => "medium" %>
  <% end %>
  <%= f.input :sob_date, :input_html => { :class => "small", "data-datepicker" => "datepicker" }, :label => "SOB Date" %>
</div>
