<div id="position_docs" class="tab-pane profile-content">
  <div id="position_left">
    <%= render 'tab_header', :position => position %>
    <div id="position_positions" class="dlist">
    <dl>
      <dt>Oluşturma Tarihi</dt>
      <dd><%= position.created_at.strftime("%m/%d/%y") %></dd>
      <dt>Yükleme Adresi</dt>
      <dd><%= position.load_place.name if position.load_place %><span class="rightside"><a href="#">Show map</a></span></dd>
      <dt>Yükleme Tarihi</dt>
      <dd><%= position.load_date %></dd>
      <dt>Boşaltma Adres</dt>
      <dd><%= position.unload_place.name if position.unload_place %><span class="rightside"><a href="#">Show map</a></span></dd>
      <dt>Boşaltma Tarihi</dt>
      <dd><%= position.unload_date %></dd>
      <dt>Durumu</dt>
      <dd><%= Position.stages[position.stage] %>&nbsp;<%= position.stage_date %></dd>
    </dl>
  </div>
</div>
