<div class="profile-section">
  <div class="profile-data-header">
    <h4>Contact</h4>
  </div>
  <div class="profile-data-body">
    <div class="profile-data-section">
      <%= image_tag "occupied_icon.png" %><span><%= position.transporter.name if position.transporter %></span>
    </div>
    <div class="profile-data-section">
      <%= image_tag "mail_icon.png" %><span><%= position.load_place.name if position.load_place %></span>
    </div>
    <div class="profile-data-section">
      <%= image_tag "occupied_icon.png" %><span><%= position.unload_place.name if position.unload_place %></span>
    </div>
    <div class="profile-data-section">
      <%= image_tag "occupied_icon.png", "data-placement" => 'below',  :rel => 'twipsy', :title => 'Waybill No' %><span><%= position.mwb_no %></span>
    </div>
    <div class="profile-data-section">
      <%= image_tag "usd_icon.png" %><span><%= position.freight_price %>&nbsp;<%= position.freight_curr %>&nbsp;Navlun</span>
    </div>
    <div class="profile-data-section">
      <%= image_tag "tel_icon.png" %><span><%= position.agent.name if position.agent %>&nbsp;</span>
    </div>
    <div class="profile-data-section">
      <%= image_tag "usd_icon.png" %><span><%= position.agent_price %>&nbsp;<%= position.agent_curr %>&nbsp;</span>
    </div>
    <div class="profile-data-section">
      <%= image_tag "kfax_icon.png" %><span><span><%= position.created_at.strftime("%m/%d/%Y") %></span>
    </div>
  </div>
</div>
