<div id="position_profile" class="tab-pane profile-content active">
  <div id="position_left">
    <%= render 'tab_header', :position => position %>
    <div id="position_positions" class="dlist">
      <dl>
        <dt>Transporter</dt>
        <dd class="company"><%= position.transporter.name if position.transporter %>&nbsp;</dd>
        <dt>Tedarikçi</dt>
        <dd class="company"><%= position.supplier.name if position.supplier %>&nbsp;</dd>
        <dt>Forwarder</dt>
        <dd class="company"><%= position.forwarder.name if position.forwarder %>&nbsp;</dd>
        <dt>Acenta</dt>
        <dd class="company"><%= position.agent.name if position.agent %>&nbsp;</dd>
        <dt>Waybill No</dt>
        <dd class="company"><%= position.mwb_no %>&nbsp;</dd>
        <dt>Navlun Tutarı</dt>
        <dd><%= position.freight_price %>&nbsp;<%= position.freight_curr.upcase %></dd>
        <dt>Açıklama</dt>
        <dd class="description"><%= position.description %></dd>
      </dl>
    </div>
  </div>
</div>

