<!--div id="transnode_form">
<%#= simple_form_for [object, object.transnodes.build()], :validate => true do |f| %>
  <%#= f.error_notification %>

  <fieldset>
    <div class="row">
      <div class="page-header span16 columns">
        <h4>New MultiModal Node</h4>
      </div-->
	<div class="row-fluid">
		<div class="span6">
		  <fieldset>
        <%= f.input :vessel, :label => "Vessel-Voyage" do %>
          <%= f.input_field :vessel, :class => "input-small" %>
          <%= f.input_field :voyage, :class => "input-small" %>
        <% end %>
        <%= f.input :departure_place, :class => "input-small" %>
        <%= f.input :departure_date, :as => "string", :input_html => {:class => "input-small", "data-datepicker" => "datepicker"} %>

        <%= f.input :arrival_place, :class => "input-small" %>
        <%= f.input :arrival_date, :as => "string", :input_html => {:class => "input-small", "data-datepicker" => "datepicker"} %>
		  </fieldset>
		</div>
		<div class="span6">
		  <fieldset>
        <%#= f.input :supplier_id, :input_html => {:class => "token_input", "data-url" => "/companies.json", "data-pre" => @transnode.supplier_id ? @transnode.supplier_id.prepopulate_tokens.to_json : nil } %>
        <%= f.input :freight_price do %>
          <%= f.input_field :freight_price, :class => "input-small" %>
          <%= f.input_field :freight_curr, :as => :select, :collection => Currency.all, :include_blank => false, :class => "input-small" %>
        <% end %>
        <%= f.input :ticket_no do %>
          <%= f.input_field :ticket_no, :class => "input-small" %>
          <%= f.input_field :ticket_date, :as => "string", :class => "input-small", "data-datepicker" => "datepicker" %>
        <% end %>
        <%#= f.input :vessel2, :label => "Additional Vessel" %>
        <%= f.input :notes, :as => :text, :input_html => {:rows => "3"} %>
        <%= f.input :trans_method, :as => :hidden %>
		  </fieldset>
		</div>
	</div>

<%# end %>
<!--/div-->
