<div class="row">
  <div id="sidebar" class="span4 columns sidebar">
    <div id="profile-sidebar">
      <div id="profile-picture">
        <%= image_tag "#{@position.operation}pos.jpg" %>
      </div>
      <%= render 'tab_sidebar', :position => @position %>
    </div>
  </div>
  <div id="content" class="span9 columns content">
    <div id="position" class="row profile">
      <ul class="tabs" data-tabs="tabs">
        <li class="active"><a href="#position_profile">Profile</a></li>
        <li><a href="#position_detail">Details</a></li>
        <li><a href="#position_docs">Documents</a></li>
      </ul>
      <div id="my-tab-content" class="tab-content">
        <%= render 'tab1', :position => @position %>
        <%= render 'tab2', :position => @position %>
        <%= render 'tab3', :position => @position %>
      </div>
    </div>
    <div id="position_feeds" class="feeds">
      <%= render 'comment', :position => @position %>
      <%= render 'comments', :position => @position %>
    </div>
  </div>
  <div id="rightbar" class="span3 columns">
    <%= render 'todos', :position => @position %>
    <%= render 'goods', :position => @position %>
    <%= render 'followers', :position => @position %>
  </div>
</div>
