<%= render :partial => 'breadcrumb', :locals => { :step => 2 } %>
<div id="position" class="row">
  <div class="row">
    <div class="span12 columns">
      <div class="row">
        <div id="pos-nav" class="span7">
          <ul class="tabs">
            <li class="active"><a href="#">Position</a></li>
            <li><a href="#">Details</a></li>
            <li><a href="#">Documents</a></li>
          </ul>
        </div>
        <div id="pos-btn" class="span5">
          <ul class="pills rightside">
            <li><%= link_to "Add MultiModal Node", new_position_transnode_path(@position, @transnode), :class => "btn primary" %></li>
            <li><%= link_to "Add Loading", new_loading_path(:position_id => @position.slug), :class => "btn primary" %></li>
          </ul>
        </div>
      </div>
      <div class="profile-content row">
        <div id="position">
          <h3>
            <span id="reference">Referans No: <%= @position.reference %></span>
          </h3>
          <p class="headline-title title">
            Master Stok No: <%= @position.master_reference %>
          </p>
          <dl class="demographic-info adr" id="headline">
            <dd><%= link_to @position.branch.name, "#" %></span></dd>
            <dd class="industry"><%= link_to @position.operation.humanize, "#" %></dd>
            <dd class="industry"><%= link_to Position.direction_types[@position.direction], "#" %></dd>
            <dd class="industry"><%= link_to Position.payment_types[@position.paid_at], "#" %></dd>
          </dl>
        </div>
        <div class="span6">
        <dl id="overview">
          <dt>Konşimento</dt>
          <dd>
            <ul>
              <li>
                <span><%= Position.master_types[@position.master_type] %></span>
                <span style="border-left:1px solid #CCCCCC;padding-left:6px;"><%= @position.master_date %></span>
              </li>
            </ul>
          </dd>
          <dt>Tedarikçi</dt>
          <dd>
            <ul>
              <li>CASS</li>
            </ul>
          </dd>
          <dt>Navlun Ücreti</dt>
          <dd>
            <ul>
              <li>
                <span><%= @position.freight_price%></span>
                <span><%= @position.freight_curr%></span>
              </li>
            </ul>
          </dd>
          <dt>Agent</dt>
            <dd>
              <ul>
                <li><%= @position.agent.name if @position.agent%></li>
              </ul>
            </dd>
          <dt>Agent Price</dt>
          <dd>
            <ul>
              <li>
                <span><%= @position.freight_price%></span>
                <span><%= @position.freight_curr%></span>
              </li>
            </ul>
          </dd>  
          <dt>Açılış Tarihi</dt>
          <dd>
            <ul>
              <li><span><%= @position.created_at %></span></li>
            </ul>     
          </dd>
          <dt>Durumu</dt>
          <dd>
            <ul>
              <li>
                <span>Booking</span>
                <span>18/10/2011 - 42964</span>
              </li>
            </ul>
          </dd>
          <dt>Açıklama</dt>
          <dd class="last">
            <ul class="past">
              <li>
                <span><%= @position.description %></span>
              </li>
            </ul>
          </dd>
        </dl>
        </div>
        <div class="span6">
        <dl id="overview">
          <dt>Konşimento</dt>
          <dd>
            <ul>
              <li>
                <span><%= Position.master_types[@position.master_type] %></span>
                <span style="border-left:1px solid #CCCCCC;padding-left:6px;"><%= @position.master_date %></span>
              </li>
            </ul>
          </dd>
          <dt>Tedarikçi</dt>
          <dd>
            <ul>
              <li>CASS</li>
            </ul>
          </dd>
          <dt>Navlun Ücreti</dt>
          <dd>
            <ul>
              <li>
                <span><%= @position.freight_price%></span>
                <span><%= @position.freight_curr%></span>
              </li>
            </ul>
          </dd>
          <dt>Agent</dt>
            <dd>
              <ul>
                <li><%= @position.agent.name if @position.agent%></li>
              </ul>
            </dd>
          <dt>Agent Price</dt>
          <dd>
            <ul>
              <li>
                <span><%= @position.freight_price%></span>
                <span><%= @position.freight_curr%></span>
              </li>
            </ul>
          </dd>  
        </dl>
        </div>
      </div>
    </div>
    <div id="profile-details" class="span4 columns">
    <div id="pos-btn2" class="span4">
      <ul class="pills">
        <li><%= link_to "Edit Position", edit_position_path(@position.slug), :class => "btn primary" %></li>
      </ul>
    </div>
    <div class="profile-content">
      <div class="clearfix">
        <div class="profile-img">
          <img src="../assets/aircargo.jpg"/>
        </div>
      </div>
      <div class="clearfix">
        <dl id="sideview" class="span4">
          <dt>Kalkış Yeri:</dt>
          <dd><%= @position.load_place.name if @position.load_place %></dd>
          <dt>Kalkış Tarihi:</dt>
          <dd><%= @position.load_date %></dd>
          <dt>Varış Yeri:</dt>
          <dd><%= @position.unload_place.name if @position.unload_place %></dd>
          <dt>Varış Tarihi:</dt>
          <dd><%= @position.unload_date %></dd>
          <dt>Havayolu:</dt>
          <dd><%= @position.transporter.name if @position.transporter %></dd>
          <dt>Sefer No:</dt>
          <dd><%= @position.voyage %></dd>
          <dt>Uçak Kod:</dt>
          <dd><%= @position.vessel %></dd>
        </dl>
      </div>
      <div class="clearfix">
        <div>
          <a href="#" class="btn primary rightside">Aktarma Bilgisi Ekle</a>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render :partial => 'transnodes/list', :locals => { :transnodes => @position.transnodes } %>
