<tr>
 <td><%= betauser.email %></td>
 <td><%= betauser.name %></td>
 <td><%= betauser.company %></td>
 <td><%= betauser.phone %></td>
 <td><%= created_time(betauser.created_at) %></td>
 <td><%= betauser.country %></td>
 <td><%= betauser.ipaddr %></td>
</tr>