<div id="betauser_form">
  <%= simple_form_for @betauser, validate: true, remote: true, html: { class: "form-horizontal" }  do |f| %>
    <%= f.error_notification %>

    <div class="page-header">
      <h4>Lojistik süreçlerinizi yönetmekte zorlanıyor musunuz ?<small> Sizi ziyaret edebilir veya  arayıp detaylı bilgi verebiliriz</small></h4>
    </div>
    <div class="row">
      <fieldset>
        <%#= f.label :email, t("content.home.betauser_message"), style: "color: #686868;font-weight:bold;font-size: 18px;line-height: 27px;margin-right:15px;" %>
        <div class="span5">
          <%= f.input :name, label: t("feedbacks.label.name"), placeholder: t("feedbacks.placeholder.name"), input_html: { class: "input-medium" } %>
          <%= f.input :email, label: t("feedbacks.label.email"), placeholder: t("feedbacks.placeholder.email"), input_html: { class: "input-medium" } %>
        </div>
        <div class="span5">
          <%= f.input :phone, label: t("feedbacks.label.tel"), input_html: { class: "input-medium" } %>
          <%= f.input :company, label: t("feedbacks.label.company"), input_html: { class: "input-medium" } %>
        </div>
        <div class="span1">
        	<%= f.submit "Gönder", class: 'btn btn-success' %>
        </div>
        <%= f.hidden_field :username %>
      </fieldset>
    </div>

<% end %>
</div>
