<div class="row-fluid">
  <h4><%= t("junks.title.junks") %></h4>
  <table class="table table-condensed">
    <tr>
      <td></td>
      <td><%= t("junks.title.junk_time") %></td>
      <td><%= t("junks.title.junk_reference") %></td>
      <td><%= t("junks.title.junk_user") %></td>
      <td><%= t("junks.title.junk_description") %></td>
      <td></td>
    </tr>
    <%= render @junks %>
  </table>
  <%#= paginate @junks %>
</div>