<div class="row-fluid">
  <fieldset>
    <legend>Kişisel Bilgiler</legend>
    <div class="span6">
      <%= f.input :birth_date, :as => :string, :input_html => {:class => "input-small", "data-datepicker" => "datepicker"} %>
      <%= f.input :hometel %>
      <%= f.input :nation %>
      <%= f.input :country_id do %>
        <%= f.input_field :country_id, :as => :select, :collection => Country.all, :include_blank => false, :class => "input-small" %>
        <%= f.grouped_collection_select :city_id, Country.order(:name), :cities, :name, :id, :name, {:include_blank => true}, {:class => "input-small"} %>
      <% end %>
      <%= f.input :district do %>
        <%= f.input_field :district, :class => "input-small" %>
        <%= f.input_field :postcode, :class => "input-small" %>
      <% end %>
      <%= f.input :address, :as => :text, :input_html => {:rows => 2, :cols => 37} %>
    </div>
    <div class="span6">
      <%= f.input :citizen_no %>
      <%= f.input :twitter %>
      <%= f.input :facebook %>
      <%= f.input :linkedin %>
      <%= f.input :website, :label => "Blog/Website Url" %>
      <%= f.input :avatar, :as => :file, :label => "Picture" %>
    </div>
  </fieldset>
</div>
