<div id="person_form">
<%= simple_form_for @person, html: { class: 'form-horizontal' }, :validate => true do |f| %>
  <%= f.error_notification %>


  <div class="pageBlock">
    <%= render 'shared/form_buttonsh', :f => f, :header => "New Person" %>

    <div class="tabbable tabs-below">

      <div id="my-tab-content" class="tab-content">
        <div id="person-main-form" class="tab-pane active">
          <%= render 'form_main', :f => f %>
        </div>

        <div id="person-detail-form" class="tab-pane form_tab_pane">
          <%= render 'form_detail', :f => f %>
        </div>
      </div>

    </div>
    
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#person-main-form">1-Profil Bilgileri</a></li>
      <li><a data-toggle="tab" href="#person-detail-form">2-Kişisel Bilgiler</a></li>
    </ul>
    
  </div>

<% end %>
</div>
