<div class="row-fluid">
  <fieldset>
    <div class="row-fluid">
      <div class="span6">
        <legend>Pozisyon Bilgileriniz<small class="pull-right">?</small></legend>
        <div class="row-fluid">
          <%= f.input :name, label: "Name & Surname" do %>
            <%= f.input_field :name, class: "input-small", disabled: "" %>
            <%= f.input_field :surname, class: "input-small", disabled: "" %>
          <% end %>
          <%= f.input :jobtitle %>
          <%= f.input :department %>
          <%#= f.input :manager_id, as: :select, collection: [[@person.manager_id ? @person.manager.to_s : "", @person.manager_id]], input_html: {class: "chosen_input", "data-url" => "/people.json"} %>
          <%#= f.input :branch_id do %>
            <%#= f.input_field :branch_id, as: :select, collection: current_patron.branches, :include_blank => false, class: "medium" %>
          <%# end %>
          <%= f.input :busitel, label: "Business Tel" do %>
            <%= f.input_field :busitel, class: "input-small" %>
            <%= f.input_field :exttel, class: "input-mini" %>
          <% end %>
          <%= f.input :start_date, as: :string, input_html: {class: "input-small", "data-datepicker" => "datepicker"} %>
        </div>
      </div>
      <div class="span6">
        <legend>Kişisel Bilgileriniz<small class="pull-right">?</small></legend>
        <div class="row-fluid">
          <%= f.input :salutation, as: :select, collection: ['Mr', 'Ms', 'Mrs', 'Dr', 'Prof'] %>
          <%#= f.input :socialname %>
          <%= f.input :gsm %>
          <%= f.input :hometel %>
          <%= f.input :birth_date, as: :string, input_html: {class: "input-small", "data-datepicker" => "datepicker"} %>
          <%#= f.input :fax %>

          <%#= f.input :status %>
          <%= f.input :country_id do %>
            <%= f.input_field :country_id, as: :select, collection: Country.all, include_blank: false, class: "input-small", selected: current_patron.country_id %>
            <%= f.input_field :city, class: "input-small" %>
          <% end %>
        </div>
      </div>
    </div>
  </fieldset>
</div>
