<div id="quick-profile" class="class="row-fluid"">
  <div>
    <table  class="detailList" border="0" cellpadding="0" cellspacing="0" style="width:100%">
      <tr>
        <td class="dataCol2"><%= person.email %></td>
        <td class="labelCol2">Ünvan:</td>
        <td class="dataCol2"><%= person.jobtitle %></td>
        <td class="labelCol2">Kod:</td>
        <td class="dataCol2"><%= person.socialname %></td>
        <td><a href="https://twitter.com/#!/<%= person.twitter %>" target="_blank"><%= "@#{person.twitter}" %></a></td>
      </tr>
      <tr>
        <td class="dataCol2"><%= "#{person.busitel} #{person.exttel}" %></td>
        <td class="labelCol2">Birimi:</td>
        <td class="dataCol2"><%= person.department %></td>
        <td class="labelCol2">GSM:</td>
        <td class="dataCol2"><%= person.gsm %></td>
        <td><%= person.facebook %></td>
      </tr>
    </table>
  </div>
</div>
