<div id="#{@person.id}-profile-header" class="span12 well profile-header">
  <div class="row-fluid">
    <div class="span2 columns">
      <div class="profile-picture">
        <%= link_to image_tag(@person.avatar_url(:profile)), "#", :class => 'togglebutton', "data-placement" => "below",  "rel" => 'twipsy', "title" => "Resmi Değiştirmek için Tıklayınız", "data-href" => "#logo_change_div" %>
      </div>
    </div>
    <div class="span10 columns">
      <p><strong><%= "#{@person}" %></strong></p>
      <p><%= "#{@person.jobtitle} #{@person.department}" %></p>
      <p><%= "#{@person.busitel} #{@person.exttel}" %></p>
      <p><%= "İstanbul Türkiye" %></p>
      <!--span class=" badge badge-warning">8 messages</span> <span class=" badge badge-info">15 followers</span-->
    </div>
  </div>
  <div class="row-fluid">
    <div id="logo_change_div" class="slidingDiv">
      <%= form_for @person, remote: true, html: {multipart: true, class: 'form-inline'} do |f| %>
        <label>Resim dosyası:</label>
        <%= f.hidden_field :avatar_cache %>
        <%= f.file_field :avatar %>
        <%= f.submit "Profil Resmini Değiştir", :class => "btn btn-mini btn-success" %>
        <%#if @person.avatar? %>
          <%#= f.check_box :remove_avatar %><!--&nbsp;Logoyu Sil-->
        <%# end %>
      <% end %>
    </div>
  </div>
</div>