<div id="partner_form">
<%= simple_form_for @partner, html: { class: "form-horizontal" }, validate: true do |f| %>
  <%= f.error_notification %>

  <div class="pageBlock">
 
    <div class="tabbable tabs-below">

      <div id="my-tab-content" class="tab-content">
        <div id="partner-main-form" class="tab-pane active">
          <%= render 'form_main', :f => f %>
        </div>

		    <div class="form-actions">
		      <%= f.button :submit, t("defaults.action.save"), class: 'btn btn-primary' %>
		      <a href="#" class="btn"><%= t("defaults.link.cancel") %></a>
		    </div>
    </div>
        
  </div>

<% end %>
</div>