<div class="row-fluid">
  <fieldset>
    <legend><%= t("companies.title.partner_info") %></legend>
    <div class="row-fluid">
      <div class="span6">
        <%= f.input :company_id, as: :hidden, label: t("defaults.label.company"), input_html: {class: "chosen_input", "data-url" => "/companies.json", "data-newrecurl" => "/companies/new", "data-selected" => @partner.company_id ? @partner.company.name : "", "data-placeholder" => t("companies.placeholder.company")} %>
       <%= f.input :partner_id, as: :hidden, label: t("companies.label.partner"), input_html: {class: "chosen_input", "data-url" => "/companies.json", "data-newrecurl" => "/companies/new", "data-selected" => @partner.partner_id ? @partner.partner.name : "", "data-placeholder" => t("companies.placeholder.partner")} %>
      </div>
      <div class="span6">
        <%= f.input :partner_type, as: :select, label: t("companies.label.partner_type"), collection: ['Müşterisi', 'Tedarikçisi', 'Ortağı', 'Yatırımcısı', 'Diğer'] %>
        <%= f.input :notes, label: t("defaults.label.notes")  %>
      </div>
    </div>
  </fieldset>
</div>