<div id="opform">
<%= simple_form_for @loading, html: { class: 'form-horizontal'}, validate: true do |f| %>
  <%= f.error_notification %>

  <div class="pageBlock">
    
    <div class="page-header">
      <h4><%= t("operations.title.loading_info") %><small class=""> <%= t("operations.title.talk_about_loading") %></small></h4>
    </div>

    <div class="row-fluid">

      <div id="my-tab-content" class="tab-content">
        <div id="loading-main-form" class="tab-pane active form_tab_pane">
          <%= render 'form_main', :f => f %>
        </div>
        <div class="row-fluid">
          <span class="pull-left">
            <%= link_to "#{t("operations.link.loading_detail")} >>", "#", :class => 'togglebutton', "data-href" => "#loading-detail-form" %>
          </span>
        </div>

        <div id="loading-detail-form" class="slidingDiv">
          <%= render 'form_detail', :f => f %>
        </div>
      </div>

    </div>
    <div class="form-actions">
      <%= f.button :submit, t("operations.button.save_loading"), :class => 'btn btn-info' %>
      <a href="#" class="btn"><%= t("defaults.action.cancel") %></a>
    </div>

<% end %>
</div>
