<div class="row-fluid">
  <fieldset>
    <legend><%= t("operations.title.loading_detail") %></legend>
    <div class="row-fluid">
    <div class="span6">
      <%= f.input :category, as: :select, label: t("operations.label.category"), collection: Listitem.sectors.map { |t| [t.name, t.code] }, include_blank: true %>
      <%#= f.input :bank_flag, label: t("operations.label.bank_flag") %>
      <%= f.input :bank, label: t("operations.label.bank") %>
      <%= f.input :notes, as: :text, input_html: { rows: 2 }, label: t("operations.label.loading_notes") %>
    </div>
    <div class="span6">
      <%= f.input :producer, label: t("operations.label.producer") %>
      <%= f.input :product_price, label: t("operations.label.product_price") do %>
        <%= f.input_field :product_price, class: "input-small" %>
        <%= f.input_field :product_curr, as: :select, collection: Currency.all, include_blank: false, class: "input-small" %>
      <% end %>
      <%= f.input :marks_nos, as: :text, input_html: { rows: 2 }, label: t("operations.label.marks_nos") %>
    </div>
    </div>
  </fieldset>
</div>
