<div class="row-fluid">
  <fieldset>
  <div class="row-fluid">
  <div class="span6">
    <%= f.input :company_id, as: :hidden, label: t("defaults.label.customer"), input_html: { class: "chosen_input", "data-url" => "/companies.json", "data-newrecurl" => "/companies/new", "data-placeholder" => t("operations.placeholder.customer") }, hint: company_input_hint %>
    <%= f.input :load_coun, as: :select, label: t("defaults.label.load_country"), collection: Nimbos::Country.all, input_html: { class: "country_select" }, include_blank: true %>
    <%= f.input :unload_coun, as: :select, label: t("defaults.label.unload_country"), collection: Nimbos::Country.all, input_html: { class: "country_select" }, include_blank: true %>
    <%= f.input :commodity, as: :text, label: t("defaults.label.commodity"), input_html: {rows: 2} %>
    <%= f.input :brut_wg, label: t("defaults.label.brut_weight") do %>
      <%= f.input_field :brut_wg, class: "input-small" %>
      <%= f.input_field :weight_unit, as: :select, collection: Nimbos::Listitem.weightunits.map { |t| [t.name, t.code] }, class: "input-small" %>
    <% end %>
  </div>
  <div class="span6">
    <%= f.input :freight_price, label: t("defaults.label.freight_price"), hint: t("loadings.hint.freight_price") do %>
      <%= f.input_field :freight_price, class: "input-small" %>
      <%= f.input_field :freight_curr, as: :select, collection: Nimbos::Currency.all, include_blank: false, class: "input-small" %>
    <% end %>
    <%= f.input :incoterm, as: :select, label: t("defaults.label.incoterm"), collection: Nimbos::Listitem.incoterms.map { |t| [t.name, t.code] }, include_blank: true %>
    <%#= f.collection_radio_buttons :paid_at, [["PP", "Pre Paid"] ,["CC", "Custom Collect"]], :first, :last %>
    <%= f.input :paid_at, as: :select, label: t("defaults.label.freight_collect") do %>
      <%= f.select :paid_at, [["Pre Paid", "PP" ], ["Custom Collect", "CC" ]], include_blank: true %>
    <% end %>
    <%= f.input :notes, as: :text, input_html: { rows: 2 }, label: t("operations.label.loading_notes") %>
    <span class="pull-right">
      <%= link_to "#{t("operations.link.loading_detail")} >>", "#", :class => 'togglebutton', "data-href" => "#loading-detail-form" %>
    </span>
  </div>
  </div>
  <%= f.hidden_field :position_id %>
  <%= f.hidden_field :operation %>
  </fieldset>

</div>