<tr class="loadingRow">
  <td><div class="addIcon" data-loadid="<%= loading.id %>"></div></td>
  <td><%= link_to loading.reference, loading %></td>
  <td><%= Position.direction_types[loading.direction] %></td>
  <td><%= loading.company.name if loading.company %></td>
  <td><%= Loading.load_types[loading.load_type] %></td>
  <td><%= loading.load_coun %></td>
  <td><%= loading.unload_coun %></td>
  <td><%= loading.freight_price %> &nbsp; <%= loading.freight_curr %></td>
  <td><%= loading.brut_wg %></td>
  <td><%= loading.commodity[0..20] %></td>
</tr>
