<div class="profile-content">

  <!--table class="outer" width="100%" id="contentTable" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="oRight" id="bodyCell"-->

        <div class="row-fluid" style="text-align:center;">
          <%= link_to "Yükleme Noktası(1)", "##{@loading.id}_departureList" %> |
          <%= link_to "Boşaltma Noktası(1)", "##{@loading.id}_arrivalList" %> |
          <%= link_to "Dosyalar(2)", "##{@loading.id}_documentList" %> |
          <%= link_to "Fatura Kalemleri(2)", "##{@loading.id}_invoitemList" %> |
          <%= link_to "Masraflar(1)", "##{@loading.id}_costList" %>
        </div>

        <div class="row-fluid profile-section">  
          <%= render 'shared/section_profile_header', object: @loading %>
          <%= render 'tab1' %>
        </div>

        <div class="row-fluid profile-section">
          <%= render "shared/related_list", list_model: "departure", parent: @loading, objects: @loading.departures %>
        </div>

        <div class="row-fluid profile-section">
          <%= render "shared/related_list", list_model: "arrival", parent: @loading, objects: @loading.arrivals %>
        </div>

        <div class="row-fluid profile-section">
          <%= render "shared/related_list", list_model: "container", parent: @loading, objects: @loading.containers %>
        </div>

        <div class="row-fluid profile-section">
          <%= render "shared/related_list", list_model: "package", parent: @loading, objects: @loading.packages %>
        </div>

        <div class="row-fluid profile-section">
          <%= render "shared/related_list", list_model: "document", parent: @loading, objects: @loading.documents %>
        </div>

        <div class="row-fluid profile-section">
          <%= render "shared/related_list", list_model: "invoitem", parent: @loading, objects: @loading.invoitems %>
        </div>

        <div class="row-fluid profile-section">
          <%= render "shared/related_list", list_model: "cost", parent: @loading, objects: @loading.costs %>
        </div>

        <div class="row-fluid profile-section">
          <div id="loading_comments" class="feeds">
            <%= render 'comments/commentable', :object => @loading %>
          </div>
        </div>

      <!--/td>
      <td id="rightCell" class="sidebarCell">
        <div id="rightbar">
          <%#= render 'todos', :loading => @loading %>
          <%# if @loading.operation == 'sea' %>
            <%#= render 'containers', :loading => @loading %>
          <%# else %>
            <%#= render 'boxes', :loading => @loading %>
          <%# end %>
          <%#= render 'followers', :loading => @loading %>
        </div>
      </td>
    </tr>
  </table-->
</div>
