<div class="profile-content">

  <% unless @loading.position %>
    <div class="row-fluid">
      <div class="pull-right">
        <%#= link_to "Reservasyonun hangi proje kapsamında taşınacağını belirtmemişsiniz, lütfen planlayınız >>", plan_loading_path(@loading), class: "btn btn-success" %>
      </div>
    </div>
  <% end %>

  <div class="row-fluid profile-summary">
    <%= link_to "#{t("defaults.title.departures")}(#{@loading.departures_count})", "##{@loading.id}_departureList" %> |
    <%= link_to "#{t("defaults.title.arrivals")}(#{@loading.arrivals_count})", "##{@loading.id}_arrivalList" %> |
    <%= link_to "#{t("defaults.title.containers")}(#{@loading.containers_count})", "##{@loading.id}_containerList" %> |
    <%= link_to "#{t("defaults.title.packages")}(#{@loading.packages_count})", "##{@loading.id}_packageList" %> |
    <%= link_to "#{t("defaults.title.documents")}(#{@loading.documents_count})", "##{@loading.id}_documentList" %>
  </div>

  <div class="row-fluid profile-section">  
    <%= render 'shared/section_profile_header', object: @loading %>
    <%= render 'tab1' %>
  </div>

  <div class="row-fluid profile-section">
    <%= render "shared/related_list", list_model: "departure", parent: @loading, objects: @loading.departures %>
  </div>

  <div class="row-fluid profile-section">
    <%= render "shared/related_list", list_model: "arrival", parent: @loading, objects: @loading.arrivals %>
  </div>

  <div class="row-fluid profile-section">
    <%= render "shared/related_list", list_model: "container", parent: @loading, objects: @loading.containers %>
  </div>

  <div class="row-fluid profile-section">
    <%= render "shared/related_list", list_model: "package", parent: @loading, objects: @loading.packages %>
  </div>

  <div class="row-fluid profile-section">
    <%= render "shared/related_list", list_model: "document", parent: @loading, objects: @loading.documents %>
  </div>

  <!--div class="row-fluid profile-section">
    <%#= render "shared/related_list", list_model: "invoitem", parent: @loading, objects: @loading.invoitems %>
  </div-->

  <!--div class="row-fluid profile-section">
    <%#= render "shared/related_list", list_model: "cost", parent: @loading, objects: @loading.costs %>
  </div-->

  <div class="row-fluid profile-section">
    <div class="page-header">
      <h5>
        Todo List
        <span class="sub-link">
          <%= link_to "Create todolist for this loading", nimbos.new_todolist_path(loading_id: @loading.id), class: "btn btn-small btn-info" %>
        </span>
      </h5>
    </div>
    <div class="row-fluid">
      <ul id="Loading_<%= @loading.id %>_todolists">
        <%= render @loading.todolists %>
      </ul>
    </div>
  </div>

  <div class="row-fluid profile-section">
    <div class="page-header">
      <h5>
        Discussions
        <span class="sub-link">
          <span class="btn btn-small btn-info togglebutton" data-href="#new_post_div">Post a new message</span>
        </span>
      </h5>
    </div>
    <div id="new_post_div" class="row-fluid slidingDiv">
      <div class="span6">
        <%= render 'nimbos/posts/form', object: @loading %>
      </div>
    </div>
    <%#= render 'posts/postlist', posts: @loading.posts %>
    <div class="row-fluid">
      <ul id="Loading_<%= @loading.id %>_posts">
        <%= render partial: "nimbos/posts/post_listitem", collection: @loading.posts.latests, as: :post %>
      </ul>
    </div>
  </div>

</div>