<div id="quick-profile" class="loading">
  <div>
    <table style="width:100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><h3><%= @loading.reference.upcase %></h3></td>
        <td colspan="4"><%= render 'loadings/tab_header', :loading => @loading %></td>
        <!--td style="text-align:right">
          <%#= link_to "Edit", edit_loading_path(@loading), :class => 'btn primary' %>
        </td-->
      </tr>
      <tr>
        <td class="labelCol2">Müşteri :</td>
        <td class="dataCol2"><%= @loading.company.name if @loading.company %></td>
        <td class="labelCol2">Yük Açıklaması:</td>
        <td class="dataCol2"><%= @loading.commodity %></td>
        <td class="dataCol2 lastCol">Kayıt Sahibi:<%= @loading.user %></td>
      </tr>
      <tr>
        <td class="labelCol2">Navlun :</td>
        <td class="dataCol2"><%= @loading.freight_price %>&nbsp;<%= @loading.freight_curr %></td>
        <td class="labelCol2">Brüt Ağırlık:</td>
        <td class="dataCol2"><%= @loading.brut_wg %></td>
        <td class="dataCol2 lastCol">Kayıt Zamanı:<%= @loading.created_at.strftime("%d/%m/%Y %H:%M") %></td>
      </tr>
    </table>
  </div>
</div>
