<div class="page-header">
  <ul class="inline">
    <li><h5 class="mainTitle"><%= t("positions.title.position_#{listItem.pluralize}") %></h5></li>
    <li>
      <%= link_to t("positions.link.new_#{listItem}"), new_record_path(listItem, object), class: "btn btn-info" %> veya 
      <%= link_to t("positions.link.add_reservation"), plan_position_path(object), class: "btn btn-link" %>
    </li>
    <li class="pull-right"><%= link_to "#" do %><%= "#{listItem.humanize.pluralize} Help" %><i class="icon-question-sign"></i><% end %></li>
  </ul>
</div>