<!--div id="good_header" class="todoListHeader">
  Referans No: <%= loading.reference.upcase %>
  <%= link_to "(PDF)", loading_path(loading, format: "pdf") %>
  <span id="positionref" class="rightside">
    <%= link_to loading.position_name, position_path(loading.position) %>
  </span>
</div-->
<div id="good_branch">
  <dl class="yatay-info" id="headline">
    <dd><%= loading.branch.name %></dd>
    <dd><%= Position.payment_types[loading.paid_at] %></dd>
    <dd><%= loading.incoterm %></dd>
    <dd><%= link_to loading.position_name.upcase, position_path(loading.position) %></dd>
  </dl>
</div>

