<!--div id="good_header" class="todoListHeader">
  Referans No: <%= loading.reference.upcase %>
  <%= link_to "(PDF)", loading_path(loading, format: "pdf") %>
  <span id="positionref" class="rightside">
    <%= link_to loading.position_name, position_path(loading.position) unless loading.position_id.nil? %>
  </span>
</div-->
<div id="good_branch">
  <dl class="yatay-info" id="headline">
    <dd><%= loading.operation.humanize %></dd>
    <dd><%= Position.direction_types[loading.direction] %></dd>
    <dd><%= loading.branch.name %></dd>
    <dd><%= Position.payment_types[loading.paid_at] %></dd>
    <dd><%= loading.incoterm %></dd>
    <dd><%= Loading.load_types[loading.load_type] %></dd>
    <dd>
      <% if loading.position_id.nil? %>
        <%= link_to "Taşıma Planlanmamış, Planlamak için tıklayınız", transplan_path(:select_loads, :loading_id => loading.id), :class => 'btn btn-info btn-mini' %></dd>
      <% else %>
        <%= link_to loading.position.reference, position_path(loading.position) %>
      <% end %>
  </dl>
</div>

