<div id="good_profile" class="tab-pane active">
  <div class="pageBody">
    <div class="profile-content">
    <table  class="detailList" border="0" cellpatding="0" cellspacing="0">
      <tr>
        <td class="labelCol2">Customer :</td>
        <td class="dataCol2"><%= loading.company.name if loading.company %>&nbsp;</td>
        <td class="labelCol2">Waybill No :</td>
        <td class="dataCol2"><%#= loading.waybill_no %>&nbsp;</td>
      </tr>
      <tr>
        <td class="labelCol2">Gönderici :</td>
        <td class="dataCol2"><%#= loading.sender.name if loading.sender %>&nbsp;</td>
        <td class="labelCol2">Navlun Tutarı :</td>
        <td class="dataCol2"><%= loading.freight_price %>&nbsp;<%= loading.freight_curr.upcase if loading.freight_curr %></td>
      </tr>
      <tr>
        <td class="labelCol2">Alıcı :</td>
        <td class="dataCol2"><%#= loading.consignee.name if loading.consignee %>&nbsp;</td>
        <td class="labelCol2">Mal Değeri :</td>
        <td class="dataCol2"><%= loading.product_price %>&nbsp;<%= loading.product_curr.upcase if loading.product_curr %></td>
      </tr>
      <tr>
        <td class="labelCol2">Acenta :</td>
        <td class="dataCol2"><%= loading.agent.name if loading.agent %>&nbsp;</td>
        <td class="labelCol2">Özet Beyan :</td>
        <td class="dataCol2"><%#= loading.statement %>&nbsp;<%#= loading.statement_date %></td>
      </tr>
      <tr>
        <td class="labelCol2">Yükleme/Pickup Tarihi :</td>
        <td class="dataCol2"><%#= loading.load_date %>&nbsp;/&nbsp;<%#= loading.pickup_date %></td>
        <td class="labelCol2">Boşaltma Tarihi:</td>
        <td class="dataCol2"><%#= loading.unload_date %></td>
      </tr>
      <tr>
        <td class="labelCol2">Yükleme Adresi :</td>
        <td class="dataCol2">
          <span class="rightside"><a href="#"><i class="icon-map-marker"></i></a></span>
          <%= loading.departure.address %>&nbsp;<%= loading.departure.district %>&nbsp;<%= loading.departure.city.name if loading.departure.city %>&nbsp;<%= loading.departure.country.name if loading.departure.country %>
        </td>
        <td class="labelCol2">Boşaltma Adres :</td>
        <td class="dataCol2">
          <span class="rightside"><a href="#"><i class="icon-map-marker"></i></a></span>
          <%= loading.arrival.address %>&nbsp;<%= loading.arrival.district %>&nbsp;<%= loading.arrival.city.name if loading.arrival.city %>&nbsp;<%= loading.arrival.country.name if loading.arrival.country %><span class="rightside"><a href="#">Show map</a></span>
        </td>
      </tr>
      <tr>
        <td class="labelCol2">Yük Tanımı :</td>
        <td class="dataCol2"><%= loading.commodity %></td>
      </tr>
    </table>
    </div>
  </div>
</div>

