<div id="loading#{loading.id}_header">
  <div class="row-fluid">
    <dl class="yatay-info">
      <dd><strong><%= link_to loading_name(loading), loading_path(loading) %></strong></dd>
      <dd><%= branch_name(loading.branch) %></dd>
      <dd><%= incoterm_name(loading.incoterm) %></dd>
      <dd><%= loading.paid_at %></dd>
      <dd class="pull-right">
        <%= link_to position_name(loading.position), position_path(loading.position) unless loading.position.nil? %>
        <%= link_to t("positions.message.plan_position"), plan_loading_path(loading) if loading.position.nil? %>
      </dd>
    </dl>
  </div>
</div>