<div id="loading#{loading.id}_header">
  <div class="row-fluid">
    <dl class="yatay-info">
      <dd><strong><%= loading_name %></strong></dd>
      <dd><%= operation_name(loading.operation) %></dd>
      <dd><%= direction_name(loading.direction) %></dd>
      <dd><%= branch_name(loading.branch) %></dd>
      <dd><%= Position.payment_types[loading.paid_at] %></dd>
      <dd><%= incoterm_name(loading.incoterm) %></dd>
      <dd><%= Loading.load_types[loading.load_type] %></dd>
      <dd class="pull-right">
        <% if loading.position_id.nil? %>
          <%= link_to t("operations.label.reservation"), transplan_path(:select_loads, :loading_id => loading.id), class: 'btn btn-info btn-mini', title: t("positions.message.plan_position") %>
        <% else %>
          <%= link_to position_name(loading.position), position_path(loading.position) %>
        <% end %>
      </dd>
    </dl>
  </div>
</div>