<div class="profile-section">
  <div class="profile-data-section">
    <h4 class="profile-data-section">Contact</h4>
  </div>
  <div class="profile-data-body">
    <div class="profile-data-section">
      <a class="sidelink-item" href="#"><%= image_tag "occupied_icon.png" %><span><%= loading.company.name if loading.company %></span></a>
    </div>
    <div class="profile-data-section">
      <a class="sidelink-item" href="#"><%= image_tag "mail_icon.png" %><span><%= loading.departure_country.name if loading.departure_country %>-><%= loading.arrival_country.name if loading.arrival_country %></span></a>
    </div>
    <div class="profile-data-section">
      <a class="sidelink-item" href="#"><%= image_tag "occupied_icon.png", "data-placement" => 'below',  :rel => 'twipsy', :title => 'Waybill No' %><span><%= loading.waybill_no %></span></a>
    </div>
    <div class="profile-data-section">
      <a class="sidelink-item" href="#"><%= image_tag "usd_icon.png" %><span><%= loading.freight_price %>&nbsp;<%= loading.freight_curr %>&nbsp;Navlun</span></a>
    </div>
    <div class="profile-data-section">
      <a class="sidelink-item" href="#"><%= image_tag "tel_icon.png" %><span><%= loading.brut_wg %>&nbsp;</span></a>
    </div>
    <div class="profile-data-section">
      <a class="sidelink-item" href="#"><%= image_tag "kfax_icon.png" %><span><span><%= loading.created_at.strftime("%m/%d/%Y") %></span></a>
    </div>
    <div class="profile-data-section">
      <a class="sidelink-item" href="#"><%= image_tag "address_icon.png" %><span><%= loading.commodity %></span></a>
    </div>
  </div>
  <div class="profile-data-section">
    <h4 class="profile-data-section">Linkler</h4>
  </div>
  <div class="profile-data-body">
    <div class="profile-data-section profile-link-section">
      <a class="sidelink-item" href="#"><%= image_tag "occupied_icon.png" %><span><%= loading.company.name if loading.company %></span></a>
    </div>
  </div>
</div>
