<div class="row-fluid">
  <div class="page-header">
    <h3>
      Reservasyonlar
      <small><%= link_to "Yeni Reservasyon Başlat", new_loading_path, class: "btn btn-success" %></small>
    </h3>
  </div>
  <div class="row-fluid">
    <p>
      Müşterilerin taşınacak yükleri birer rezervasyondur. Yükün yükleme-boşaltma bilgileri, koli-konteyner bilgileri ve teklif bilgilerini bu sayfadan yönetebilirsiniz.
    </p>
  </div>
  <div class="page-header">
    <h5>
      Son Rezervasyonlar/Yükler
      <div class="pull-right">
        <form class="form-search">
          <input type="text" class="input-xlarge search-query" placeholder="Referans/Customer name/Commodity">
          <button type="submit" class="btn">Search</button>
        </form>
      </div>
    <h5>
  </div>
  <%#= render partial: "loadings/popover", collection: @loadings, as: :loading %>
  <div id="loading_list">
    <table class="table table-bordered table-condensed">
      <tr>
        <th class="span1">Referans</th>
        <th class="span2">Müşteri</th>
        <th class="span2">Çıkış Yeri</th>
        <th class="span2">Varış Yeri</th>
        <th class="span1">Proje Referans</th>
        <th class="span2">Commodity</th>
        <th class="span1">User</th>
        <th class="span1"></th>
      </tr>

    <% @loadings.each do |loading| %>
      <tr>
        <td><%= link_to loading.reference, loading_path(loading) %></td>
        <td><%= link_to company_name(loading.company), company_path(loading.company) if loading.company %></td>
        <td><%= t("countries.#{loading.load_coun}") if loading.load_coun %></td>
        <td><%= t("countries.#{loading.unload_coun}") if loading.unload_coun %></td>
        <td><%= link_to position_name(loading.position), position_path(loading.position) if loading.position %></td>
        <td><%= loading.commodity %></td>
        <td><%= image_tag user_mini_avatar(loading.user), class: "img-circle", title: user_name(loading.user) %></td>
        <td><%= link_to "Edit", edit_loading_path(loading) %></td>
      </tr>
    <% end %>
    </table>
    <div class="pagination">
      <%= paginate @loadings %>
    </div>
  </div>
</div>
<script type="text/javascript">
  document.getElementById('loadingnavigator').classList.add('active');
</script>