<div class="row">
  <div id="sidebar" class="span4 columns sidebar">
    <div id="profile-sidebar">
      <div id="profile-picture">
        <%= image_tag "loading.jpg" %>
      </div>
      <%= render 'tab_sidebar', :loading => @loading %>
    </div>
  </div>
  <div id="content" class="span9 columns content">
    <div id="good" class="row profile">
      <ul class="tabs" data-tabs="tabs">
        <li class="active"><a href="#good_profile">Yük Bilgisi</a></li>
        <li><a href="#good_detail">Yük Detayları</a></li>
        <li><a href="#good_docs">Adres Bilgileri</a></li>
        <div class="rightside">
          <%= link_to "Edit Loading", edit_loading_path(@loading), :class => 'btn primary' %>
        </div>
      </ul>
      <div id="my-tab-content" class="tab-content">
        <%= render 'tab1', :loading => @loading %>
        <%= render 'tab2', :loading => @loading %>
        <%= render 'tab3', :loading => @loading %>
      </div>
    </div>
    <div id="good_feeds" class="feeds">
      <%= render 'comment', :loading => @loading %>
      <%= render 'comments', :loading => @loading %>
    </div>
  </div>
  <div id="rightbar" class="span3 columns">
    <%= render 'todos', :loading => @loading %>
    <%= render 'boxes', :loading => @loading %>
    <%#= render 'containers', :loading => @loading %>
    <%= render 'followers', :loading => @loading %>
  </div>
</div>
<!--ul class="pills rightside">
  <li><%= link_to "Add Container", new_loading_container_path(@loading, @container), :class => "btn primary" %></li>
  <li><%= link_to "Add Packages", new_loading_package_path(@loading, @package), :class => "btn primary" %></li>
</ul-->
<%#= render :partial => 'containers/list', :locals => { :containers => @loading.containers } %>
<%#= render :partial => 'packages/list', :locals => { :packages => @loading.packages } %>
