<div id="arrival_<%= arrival.id %>" class="tab-pane active">
  <div class="pageBody">
    <div class="profile-content">
    <legend>Boşaltma Bilgisi <%= link_to edit_arrival_path(arrival) do %><i class="icon-edit"></i><% end %></legend>
    <table class="detailList" style="width:100%;text-align:center" border="0" cellpatding="0" cellspacing="0">
      <tr>
        <th>Boşaltma Tarihi</th>
        <th>Özet Beyan</th>
        <th>Gümrük</th>
        <th>Gümrükçü</th>
        <th>Alıcı</th>
        <th>Yükleyici</th>
        <th>Notify</th>
      </tr>
      <tr>
        <td><%= arrival.unload_date.strftime("%d/%m/%Y %I:%M") if arrival.unload_date %></td>
        <td><%= "#{arrival.statement} - #{arrival.statement_date}" %></td>
        <td>Ambarlı Gümrük</td>
        <td><%= arrival.customofficer.name if arrival.customofficer %></td>
        <td><%= arrival.consignee.name if arrival.consignee %></td>
        <td><%= arrival.deliver.name if arrival.deliver %></td>
        <td><%= arrival.notify.name if arrival.notify %><br><%= arrival.notify2.name if arrival.notify2 %></td>
      </tr>
      <tr>
        <th>Adres:</th>
        <td colspan="2"><%= arrival.address %>&nbsp;<%= arrival.district %>&nbsp;<%= arrival.city.name if arrival.city %>&nbsp;<%= arrival.country.name if arrival.country %></td>
        <th>Not:</th>
        <td colspan="3"><%= arrival.notes %></td>
      </tr>
    </table>
    </div>
  </div>
</div>

