<div class="row-fluid">
  <div class="span6">
    <%#= f.input :unload_place_id, as: :select, input_html: {class: "chosen_input", "data-url" => "/places.json"} %>
    <%= f.input :unload_place, label: t("defaults.label.unload_place"), placeholder: t("operations.placeholder.unload_place") %>
    <%= f.input :country_id do %>
      <%= f.input_field :unload_city, class: "input-small", placeholder: t("operations.placeholder.unload_city") %>
      <%= f.input_field :country_id, as: :select, collection: Country.all, include_blank: false, class: "input-small" %>
    <% end %>
  </div>
  <div class="span6">
    <%= f.input :unload_date, as: :string, label: t("defaults.label.unload_date"), input_html: {class: "input-small", "data-datepicker" => "datepicker"} %>
    <%= f.input :notes, as: :text, label: t("defaults.label.unload_note"), input_html: {rows: 2} %>
  </div>
</div>
