<div class="row-fluid">
  <div class="span6">
    <%#= f.input :unload_place_id, :as => :select, :input_html => {:class => "chosen_input", "data-url" => "/places.json"} %>
    <%= f.input :unload_place_id, as: :hidden, label: "Boşaltma Yeri", input_html: {:class => "chosen_input", "data-url" => "/places.json", "data-newrecurl" => "/places/new", "data-selected" => @arrival.unload_place_id ? @arrival.unload_place.name : "", "data-placeholder" => "Boşaltma Yerini Seçiniz."} %>
    <%= f.input :country_id do %>
      <%= f.input_field :country_id, :as => :select, :collection => Country.all, :include_blank => false, :class => "input-small" %>
      <%= f.grouped_collection_select :city_id, Country.order(:name), :cities, :name, :id, :name, {:include_blank => true}, {:class => "input-small"} %>
    <% end %>
  </div>
  <div class="span6">
    <%= f.input :unload_date, :as => :string, :input_html => {:class => "input-small", "data-datepicker" => "datepicker"} %>
    <%= f.input :notes, :as => :text, :input_html => {:rows => 2, :cols => 37} %>
  </div>
</div>
