<div class="row-fluid">
  <fieldset>
    <legend><%= t("operations.title.arrival_info") %></legend>
    <div class="row-fluid">
    <div class="span6">
      <%= f.input :unload_place, label: t("defaults.label.unload_place"), placeholder: t("operations.placeholder.unload_place") %>
      <%#= f.input :unload_place_id, as: :hidden, label: "Boşaltma Yeri", input_html: {:class => "chosen_input", "data-url" => "/places.json", "data-newrecurl" => "/places/new", "data-selected" => @arrival.unload_place_id ? @arrival.unload_place.name : "", "data-placeholder" => "Boşaltma Yerini Seçiniz."} %>
      <%#= f.input :unload_place_id, :as => :select, :input_html => {:class => "chosen_input", "data-url" => "/places.json"} %>
      <%= f.input :country_id, label: t("operations.label.unload_country_city") do %>
        <%#= f.grouped_collection_select :city_id, Country.order(:name), :cities, :name, :id, :name, {include_blank: true}, {class: "input-small"} %>
        <%#= f.input_field :city_id, as: :select, :collection => City.where(country_id: @arrival.country_id), include_blank: true, class: "input-small" %>
        <%= f.input_field :unload_city, class: "input-small", placeholder: t("operations.placeholder.unload_city") %>
        <%= f.input_field :country_id, as: :select, :collection => Country.all, include_blank: false, class: "input-small" %>
      <% end %>
      <%= f.input :unload_date, as: :string, label: t("defaults.label.unload_date"), input_html: {class: "input-small datepicker"} %>
      <%= f.input :notes, as: :text, label: t("defaults.label.unload_note"), input_html: {rows: 2} %>
    </div>
    <div class="span6">
      <%#= f.input :consignee_id, as: :select, input_html: {class: "chosen_input", "data-url" => "/companies.json"} %>
      <%#= f.input :consignee_id, as: :hidden, label: t("defaults.label.consignee"), input_html: {class: "chosen_input", "data-url" => "/companies.json", "data-newrecurl" => "/companies/new", "data-placeholder" => t("operations.placeholder.consignee")} %>

      <%#= f.input :deliver_id, as: :select, input_html: {class: "chosen_input", "data-url" => "/companies.json"} %>
      <%= f.input :deliver_id, as: :hidden, label: t("operations.label.delivery_firm"), input_html: {class: "chosen_input", "data-url" => "/companies.json", "data-newrecurl" => "/companies/new", "data-placeholder" => t("operations.placeholder.delivery_firm")} %>

      <%#= f.input :notify_id, as: :select, input_html: {class: "chosen_input", "data-url" => "/companies.json"} %>
      <%= f.input :notify_id, as: :hidden, label: t("operations.label.notify"), input_html: {class: "chosen_input", "data-url" => "/companies.json", "data-newrecurl" => "/companies/new", "data-placeholder" => t("operations.placeholder.notify")} %>

      <%#= f.input :notify2_id, as: :select, input_html: {class: "chosen_input", "data-url" => "/companies.json"} %>
      <%= f.input :notify2_id, as: :hidden, label: t("operations.label.notify"), input_html: {class: "chosen_input", "data-url" => "/companies.json", "data-newrecurl" => "/companies/new", "data-placeholder" => t("operations.placeholder.notify")} %>
      <%= f.input :post_trans, label: t("operations.label.post_trans") %>
    </div>
    </div>
    <div id="customer_unloading_address" style="display:none">    
      <legend><%= t("operations.title.post_trans_info") %></legend>
      <div class="row-fluid">
        <div class="span6">
          <%= f.input :address, as: :text, label: t("operations.label.unload_address"), input_html: {rows: 1} %>
          <%= f.input :district, label: t("operations.label.unload_district") do %>
            <%= f.input_field :district, class: "input-small", placeholder: t("defaults.placeholder.district") %>
            <%= f.input_field :postcode, class: "input-small", placeholder: t("defaults.placeholder.postcode") %>
          <% end %>
          <%#= f.input :unload_point, as: :select, :collection => Loading.point_types.map { |r| [r[1], r[0] ] }, include_blank: false %>
          <%#= f.input :post_trans, label: t("operations.label.post_trans") %>
        </div>
        <div class="span6">
          <%= f.input :delivery_date, as: :string, label: t("defaults.label.delivery_date"), input_html: { class: "input-small datepicker" } %>
        </div>
      </div>
    </div>
  </fieldset>
</div>
