<div id="opform">
  <%= simple_form_for [@position, @transnode], :validate => true do |f| %>
  <%= f.error_notification %>
  <fieldset>

  <div class="pageBlock">
    <%= render 'shared/form_buttonsh', :f => f %>
 
    <!--div class="tabbable tabs-below"-->
    <div>

      <div id="my-tab-content" class="tab-content">
        <legend>Gemi Bilgileri</legend>
        <div id="transnode-main-form" class="tab-pane active">
          <%= render 'form_main', :f => f %>
        </div>

      </div>

    </div>
    <%= f.error :base %>
  </div>

  </fieldset>
<% end %>
</div>
