<div class="row-fluid">
  <div class="profile-content">
    <table style="width:100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="labelCol2">Gemi Adı:</td>
        <td class="dataCol2"><%= transnode.vessel %></td>
        <td class="labelCol2">Kalkış Limanı:</td>
        <td class="dataCol2"><%= transnode.departure_place %></td>
        <td class="labelCol2">Varış Limanı:</td>
        <td class="dataCol2"><%= transnode.arrival_place %></td>
      </tr>
      <tr>
        <td class="labelCol2">Sefer No:</td>
        <td class="dataCol2"><%= transnode.voyage %></td>
        <td class="labelCol2">Kalkış Tarihi:</td>
        <td class="dataCol2"><%= transnode.departure_date %></td>
        <td class="labelCol2">Kalkış Tarihi:</td>
        <td class="dataCol2"><%= transnode.arrival_date %></td>
      </tr>
    </table>
  </div>
</div>
