<div id="opform" class="span16 columns">
<%= simple_form_for @patron, :validate => true do |f| %>
  <%= f.error_notification %>

  <fieldset>
    <div class="row">
      <div class="page-header span16 columns">
        <h4>Customer</h4>
      </div>
      <div class="span8 columns">
        <%= f.input :title %>
        <%= f.input :tel  %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        <%= f.button :submit, :class => 'btn primary' %>
      </div>
    </div>
  </fieldset>

<% end %>
</div>
