<div id="patron_form">
<%= simple_form_for @patron, html: {class: 'form-horizontal'}, validate: true do |f| %>
  <%= f.error_notification %>
  <%= f.error :base, error_method: :to_sentence %>

  <fieldset>
    <%= f.input :name, label: t("web.label.company_name"), placeholder: t("web.placeholder.company_name") %>
    <%= f.input :contact_name, label: t("web.label.name"), placeholder: t("web.placeholder.name") %>
    <%= f.input :contact_surname, label: t("web.label.surname"), placeholder: t("web.placeholder.surname") %>
    <%= f.input :tel, label: t("web.label.phone"), placeholder: t("web.placeholder.phone")  %>
    <%= f.input :email, label: t("web.label.email"), placeholder: t("web.placeholder.email") %>
    <%= f.input :country_id do %>
      <%= f.select :country_id, Country.all.map { |c| ["#{c.name} +#{c.telcode}", c.code] }, include_blank: false, input_html: { class: "country_select", "data-placeholder" => t("patrons.placeholder.country") }, label: t("web.label.country"), selected: "TR" %>
    <% end %>
    <%#= f.input :employees, as: :select, label: t("web.label.employee_number"), collection: Patron.employee_ranks.map { |r| [r[1], r[0] ] }, include_blank: false %>
    <%#= f.input :language %>
    <div class="controls"><%= f.button :submit, t("web.label.signup"), class: 'btn btn-success' %></div>
  </fieldset>

<% end %>
</div>
