<div id="patron_form">
<%= simple_form_for @patron, :validate => true do |f| %>
  <%= f.error_notification %>

  <fieldset>
    <%= f.input :title, :label => "Company" %>
    <%= f.input :contact_name, :label => "Name" %>
    <%= f.input :contact_surname, :label => "Surname" %>
    <%= f.input :tel  %>
    <%= f.input :email %>
    <%= f.input :employees, :as => :select, :collection => Patron.employee_ranks.map { |r| [r[1], r[0] ] }, :include_blank => false %>
    <%#= f.input :language %>
    <div class="controls"><%= f.button :submit, "Try SocialFreight", :class => 'btn btn-success' %></div>
  </fieldset>

<% end %>
</div>
