<tr>
  <td><%= patron.title %></td>
  <td><%= patron.tel %></td>
  <td><%= patron.email %></td>
  <td><%= patron.fax %></td>
  <td><%#= patron.city.name if patron.city %></td>
  <td><%#= patron.country.name if patron.country %></td>
  <td><%= link_to 'Show', patron %></td>
  <td><%= link_to 'Edit', edit_patron_path(patron) %></td>
</tr>