<div id="quick-profile" class="patron">
  <div>
    <table style="width:100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="labelCol2"><%= t("defaults.label.email") %> :</td>
        <td class="dataCol2 lastCol"><%= @patron.email %></td>
        <td class="labelCol2"><%= t("defaults.label.website") %> :</td>
        <td class="dataCol2"><%= @patron.website %></td> 
      </tr>
      <tr>
        <td class="labelCol2"><%= t("defaults.label.tel") %> :</td>
        <td class="dataCol2"><%= @patron.tel %></td>
        <td class="labelCol2"><%= t("defaults.label.fax") %> :</td>
        <td class="dataCol2"><%= @patron.fax %></td>
      </tr>
    </table>
  </div>
</div>
