<div id="profile-header" class="profile-content row-fluid">
  <div class="span2">
    <div id="profile-picture" class="patron">
      <%#= image_tag(@patron.logo_url(:profile)) %>
      <%= link_to image_tag(@patron.logo_url(:profile)), "#", :class => 'togglebutton', "data-placement" => "below",  "rel" => 'twipsy', "title" => t("defaults.messages.change_picture"), "data-href" => "#logo_change_div" %>
    </div>
  </div>
  <div class="span10">
    <div id="profile-detail">
      <div id="profile-title" class="row-fluid">
        <div class="span6">
          <h5><%= @patron.name %></h5>
        </div>
        <div class="span6">
          <span class="socialicons"></span>
          <span class=" pull-right">
            <%= link_to t("patrons.link.edit_patron"), setup_path(:set_address), :class => 'btn btn-info' %>
          </span>
        </div>
      </div>
      <%= render 'profile_detail' %>
    </div>
    <div id="logo_change_div" class="slidingDiv">
      <%= form_for @patron, :remote => true, :html => {:multipart => true} do |f| %>
        <p>
          <label><%= t("defaults.label.picture_file") %>:</label>
          <%= f.file_field :logo %>
          <%= f.submit t("defaults.action.change") %>
          <% if @patron.logo? %>
            <%= f.check_box :remove_logo %>&nbsp;<%= t("patrons.link.destroy_logo") %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
</div>
