<div id="patron_profile" class="tab-pane profile-content active">
  <div class="pageBody">
    <table style="width:100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="6"><legend>Firma Bilgileri</legend></td>
      </tr>
      <tr>
        <td class="labelCol2">Fatura Ünvanı :</td>
        <td class="dataCol2"><%= @patron.title %></td>
        <td class="labelCol2">Zaman Dilimi :</td>
        <td class="dataCol2"><%= @patron.time_zone %></td>
        <td class="labelCol2">Dil :</td>
        <td class="dataCol2 lastCol"><%= @patron.language %></td>
      </tr>
      <tr>
        <td class="labelCol2">Döviz :</td>
        <td class="dataCol2"><%= @patron.currency %></td>
        <td class="labelCol2">Locale :</td>
        <td class="dataCol2"><%= @patron.locale %></td>
        <td class="labelCol2">Mail Encoding :</td>
        <td class="dataCol2 lastCol"><%= @patron.mail_encoding %></td>
      </tr>
      <tr>
        <td colspan="6"><legend>Adres Bilgileri</legend></td>
      </tr>
      <tr>
        <td class="labelCol2">Adres :</td>
        <td class="dataCol2"><%= @patron.address %></td>
        <td class="labelCol2">Şehir/Ülke :</td>
        <td class="dataCol2"><%= @patron.city.name if @patron.city %>&nbsp;<%= @patron.country.name if @patron.country %></td>
        <td class="labelCol2">PostaKodu :</td>
        <td class="dataCol2 lastCol"><%= @patron.postcode %></td>
      </tr>
    </table>
  </div>
</div>
