<div id="welcome" class="container">
  <div class="row">
    <div class="span12 columns">

      <div class="widget">
        <div class="page-header">
          <h5><%= t("web.label.check_your_mailbox_msg") %><br><%= t("web.label.thanks_for_choosing") %></h5>
        </div>
        <div class="row" style="text-align:center;margin-top:70px;margin-bottom:130px;">
          <div class="span3">
            <img src="../assets/check_mail.png" />
            <h5><%= t("web.label.check_your_mailbox") %></h5>
          </div>
          <div class="span3">
            <img src="../assets/login_screen.png" />
            <h5><%= t("web.label.login_to_socialfreight") %></h5>
          </div>
          <div class="span3">
            <img src="../assets/run_app.png" />
            <h5><%= t("web.label.run_socialfreight") %></h5>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
