<div id="opform">
<%= simple_form_for(@findoc) do |f| %>
  <%= f.error_notification %>
  <fieldset>
  <div class="pageBlock">
    <%= f.input :docdate, :as => "string", :input_html => {:class => "input-small", "data-datepicker" => "datepicker"} %>
    <%= f.input :amount do %>
      <%= f.input_field :amount, :class => "input-small" %>
      <%= f.input_field :curr, :as => :select, :collection => Currency.all, :include_blank => false, :class => "input-small" %>
    <% end %>
    <%= f.input :unit_id %>
    <%= f.input :unit_name %>
    <%= f.input :process_type %>
    <%= f.input :target_type %>
    <%= f.input :target_id %>
    <%= f.input :target_name %>
    <%= f.input :docno %>
    <%= f.input :extno %>
    <%= f.input :doctype %>
    <%= f.input :des %>
    <%= f.input :unit_type, as: "hidden" %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
</div>
