<h1>Listing findocs</h1>

<table class="table table-striped">
  <tr>
    <th>Docdate</th>
    <th>Amount</th>
    <th>Curr</th>
    <th>Process type</th>
    <th>Target name</th>
    <th>Docno</th>
    <th>Extno</th>
    <th>Doctype</th>
    <th>Des</th>
    <th>User</th>
  </tr>

<% @findocs.each do |findoc| %>
  <tr>
    <td><%= findoc.docdate %></td>
    <td><%= findoc.amount %></td>
    <td><%= findoc.curr %></td>
    <td><%= findoc.process_type %></td>
    <td><%= findoc.target_name %></td>
    <td><%= findoc.docno %></td>
    <td><%= findoc.extno %></td>
    <td><%= findoc.doctype %></td>
    <td><%= findoc.des %></td>
    <td><%= findoc.user_id %></td>
  </tr>
<% end %>
</table>
    <div class="btn-group">
      <a class="btn btn-success dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon-plus-sign icon-white"></i>Yeni Evrak Girişi</a>
      <a class="btn btn-success dropdown-toggle" href="#" data-toggle="dropdown">
         <span class="caret" />
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "Kasa Evrağı", new_findoc_path(:unit_type => "Cash") %>
          <%= link_to "Banka Hesap Evrağı", new_findoc_path(:unit_type => "Bank") %>
          <%= link_to "Çek Portföy Evrağı", new_findoc_path(:unit_type => "Portfoy") %>
          <%= link_to "Çek Koçan Evrağı", new_findoc_path(:unit_type => "Kocan") %>
      </ul>
    </div>

    <div class="btn-group">
      <a class="btn btn-success dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon-plus-sign icon-white"></i>Parametre Tanımları</a>
      <a class="btn btn-success dropdown-toggle" href="#" data-toggle="dropdown">
         <span class="caret" />
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "Kasa Tanımı", new_finunit_path(:unit_type => "Cash") %>
          <%= link_to "Banka Hesap Tanımı", new_finunit_path(:unit_type => "Bank") %>
          <%= link_to "Çek Portföy Tanımı", new_finunit_path(:unit_type => "Portfoy") %>
      </ul>
    </div>
