<p id="notice"><%= notice %></p>

<p>
  <b>Docdate:</b>
  <%= @findoc.docdate %>
</p>

<p>
  <b>Amount:</b>
  <%= @findoc.amount %>
</p>

<p>
  <b>Curr:</b>
  <%= @findoc.curr %>
</p>

<p>
  <b>Rate:</b>
  <%= @findoc.rate %>
</p>

<p>
  <b>Rate amount:</b>
  <%= @findoc.rate_amount %>
</p>

<p>
  <b>Rate type:</b>
  <%= @findoc.rate_type %>
</p>

<p>
  <b>Unit type:</b>
  <%= @findoc.unit_type %>
</p>

<p>
  <b>Unit:</b>
  <%= @findoc.unit_id %>
</p>

<p>
  <b>Unit name:</b>
  <%= @findoc.unit_name %>
</p>

<p>
  <b>Process type:</b>
  <%= @findoc.process_type %>
</p>

<p>
  <b>Target type:</b>
  <%= @findoc.target_type %>
</p>

<p>
  <b>Target:</b>
  <%= @findoc.target_id %>
</p>

<p>
  <b>Target name:</b>
  <%= @findoc.target_name %>
</p>

<p>
  <b>Docno:</b>
  <%= @findoc.docno %>
</p>

<p>
  <b>Extno:</b>
  <%= @findoc.extno %>
</p>

<p>
  <b>Doctype:</b>
  <%= @findoc.doctype %>
</p>

<p>
  <b>Des:</b>
  <%= @findoc.des %>
</p>

<p>
  <b>Glstatus:</b>
  <%= @findoc.glstatus %>
</p>

<p>
  <b>Gldocno:</b>
  <%= @findoc.gldocno %>
</p>

<p>
  <b>User:</b>
  <%= @findoc.user_id %>
</p>

<p>
  <b>Patron:</b>
  <%= @findoc.patron_id %>
</p>

<p>
  <b>Patron token:</b>
  <%= @findoc.patron_token %>
</p>


<%= link_to 'Edit', edit_findoc_path(@findoc) %> |
<%= link_to 'Back', findocs_path %>
