<div id="banks" class="row-fluid">

  <div id="profile-header" class="profile-content row-fluid">
    <div class="span2">
      <%= image_tag("bank.png") %>
    </div>
    <div class="span9">
      <h5>Bankalar</h5>
    </div>
  </div>

  <div class="row-fluid">
    <div id="banks_menu" class="span6">
      <legend><%= t "Banka İşlemleri" %></legend>
      <table class="table table-condensed">
        <tr><td><%= link_to "Yeni Banka Oluştur", new_bank_path %></td></tr>
        <tr><td></td></tr>
      </table>
    </div>

    <div id="banks_reports" class="span6">
        <legend><%= t "Banka Raporları" %></legend>
        <table class="table table-condensed">
          <tr><td><%= link_to "Banka Listesi", new_search_path(model: "bank") %></td></tr>
          <tr><td></td></tr>
        </table>
    </div>
  </div>

  <div id="banks_list" class="row-fluid">
    <legend>Banka Listesi</legend>
    <%= render "banks/related_list", objects: @banks %>
  </div>

</div>