<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bank.name %>
</p>

<p>
  <b>Code:</b>
  <%= @bank.code %>
</p>

<p>
  <b>Service code:</b>
  <%= @bank.service_code %>
</p>

<p>
  <b>Service url:</b>
  <%= @bank.service_url %>
</p>

<p>
  <b>Response type:</b>
  <%= @bank.response_type %>
</p>

<p>
  <b>Country:</b>
  <%= @bank.country %>
</p>

<p>
  <b>Currency:</b>
  <%= @bank.currency %>
</p>


<%= link_to 'Edit', edit_bank_path(@bank) %> |
<%= link_to 'Back', banks_path %>
