<div id="user_form">
<%= simple_form_for @user, :validate => true  do |f| %>
  <%= f.error_notification %>

  <div class="page-header">
    <h4>Sign Up</h4>
  </div>
  <fieldset>
      <%= f.input :name %>
      <%= f.input :surname %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :password_confirmation, :label => "Confirm Password" %>
      <%= f.button :submit, :class => 'btn primary' %>
  </fieldset>

<% end %>
</div>
