<div id="user_form">
<%= simple_form_for user, :validate => true  do |f| %>
  <%= f.error_notification %>

  <fieldset>
      <%= f.input :name %>
      <%= f.input :surname %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :password_confirmation, :label => "Confirm Password" %>
      <div class="controls">
        <%= f.button :submit, :class => 'btn btn-success' %>
      </div>
  </fieldset>

<% end %>
</div>
