<div id="user_form" class="row-fluid">
<%= simple_form_for @user, html: { class: "form-horizontal", id: "new_patron_user" }, validate: true  do |f| %>
  <%= f.error_notification %>

  <div class="pageBlock">

      <div id="my-tab-content" class="tab-content">
        <div id="user-main-form" class="tab-pane active">
          <div class="page-header">
            <h4><%= t("users.title.user_info") %></h4>
          </div>
          <div class="row-fluid">
            <fieldset>
              <div class="row-fluid">
                <div class="span6">
                  <%= f.input :name %>
                  <%= f.input :surname %>
                </div>
                <div class="span6">
                  <%= f.input :email %>
                  <%= f.input :branch_id, as: :select, collection: current_patron.branches, include_blank: false, selected: current_user.branch_id %>                
                  <%#= f.input :role, as: :select, collection: Role.all, include_blank: false, selected: "operator" %>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="page-header">
            <h5><%= t("users.title.user_settings") %></h5>
          </div>
          <div class="row-fluid">
            <fieldset>
              <div class="row-fluid">
                <div class="span6">
                  <%#= f.input :region %>
                  <%#= f.input :user_type do %>
                    <%#= f.select :user_type, Listitem.usertypes.map { |t| [t.name, t.code] }, include_blank: false, selected: "operator" %>
                  <%# end %>
                  <%= f.input :time_zone, selected: current_user.time_zone %>
                  <%#= f.input :locale do %>
                    <%#= f.select :locale, Listitem.locales.map { |t| [t.name, t.code] }, include_blank: false, selected: current_user.locale %>
                  <%# end %>
                </div>
                <div class="span6">
                  <%= f.input :language do %>
                    <%= f.select :language, Listitem.languages.map { |t| [t.name, t.code] }, include_blank: false, selected: current_user.language %>
                  <% end %>
                  <%#= f.input :mail_encoding do %>
                    <%#= f.select :mail_encoding, Listitem.mail_encodings.map { |t| [t.name, t.code] }, include_blank: false, selected: current_user.mail_encoding %>
                  <%# end %>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Kullanıcı Bilgisini Kaydet", class: "btn btn-info" %>
            <a href="#" class="btn">Vazgeç</a>
          </div>
        </div>
      </div>

  </div>
<% end %>
</div>
