<div id="user_form">
<%= simple_form_for @user, :validate => true  do |f| %>
  <%= f.error_notification %>

  <div class="pageBlock">
    <%= render 'shared/form_buttonsh', :f => f, :header => "New User" %>

    <!--div class="tabbable tabs-below"-->

      <div id="my-tab-content" class="tab-content">
        <div id="user-main-form" class="tab-pane active">
          <div class="row-fluid">
            <fieldset>
              <legend>Kullanıcı Bilgisi</legend>
              <div class="span6">
                <%= f.input :name %>
                <%= f.input :surname %>
                <%= f.input :email %>
                <%= f.input :role %>
                <%= f.input :user_type %>
              </div>
              <div class="span6">
                <%= f.input :region %>
                <%= f.input :time_zone %>
                <%= f.input :locale %>
                <%= f.input :language %>
                <%= f.input :mail_encoding %>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    <!--/div-->
  </div>
<% end %>
</div>
