<div id="profile-header" class="profile-content">
  <table class="outer" width="100%" id="headerTable" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="span2 noborder">
        <div id="profile-picture" class="loading">
          <%= link_to image_tag(@user.avatar_url(:profile)), "#", :class => 'togglebutton', "data-placement" => "below",  "rel" => 'twipsy', "title" => "Resmi Değiştirmek için Tıklayınız", "data-href" => "#logo_change_div" %>
        </div>
      </td>
      <td>
        <div id="profile-detail" class="loading">
          <div id="profile-title" class="row-fluid">
            <div class="title">
              <h5><%= "#{@user}" %></h5>
            </div>
            <div class="buttons">
              <% if current_user.id = @user.id %>
                <%= link_to "Edit", edit_person_path(@user.person), :class => 'btn btn-info btn-mini' %>
              <% else %>
                <%= render 'shared/follow_button', object: @user %>
              <% end %>
            </div>
          </div>
          <%= render 'people/profile_detail', :person => @user.person %>
        </div>
        <div id="logo_change_div" class="slidingDiv">
          <%= form_for @user, remote: true, html: {multipart: true, class: 'form-inline'} do |f| %>
              <label>Resim dosyası:</label>
              <%= f.hidden_field :avatar_cache %>
              <%= f.file_field :avatar %>
              <%= f.submit "Profil Resmini Değiştir", :class => "btn btn-mini btn-success" %>
              <%#if @user.avatar? %>
                <%#= f.check_box :remove_avatar %><!--&nbsp;Logoyu Sil-->
              <%# end %>
          <% end %>
        </div>
      </td>
    </tr>
  </table>
</div>
