<div id="profile-header" class="profile-content">
  <table class="outer" width="100%" id="headerTable" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="span2 noborder">
        <div id="profile-picture" class="loading">
          <%= link_to image_tag(@user.avatar_url(:profile)), "#", :class => 'togglebutton', "data-placement" => "below",  "rel" => 'twipsy', "title" => "Resmi Değiştirmek için Tıklayınız", "data-href" => "#logo_change_div" %>
        </div>
      </td>
      <td>
        <div id="profile-detail" class="loading">
          <div id="profile-title" class="row-fluid">
            <div class="title">
              <span><%= "#{@person.salutation} #{@person}" %></span>
            </div>
            <div class="buttons">
              <% if current_user.id = @user.id %>
                <%= link_to "Edit", edit_person_path(@user.person), :class => 'btn primary' %>
              <% end %>
            </div>
          </div>
          <%= render 'profile_detail' %>
        </div>
        <div id="logo_change_div" class="slidingDiv">
          <%= form_for @user, :remote => true, :html => {:multipart => true} do |f| %>
            <p>
              <label>Resim dosyası:</label>
              <%= f.file_field :avatar %>
              <%= f.submit "Değiştir" %>
              <%if @user.avatar? %>
                <%= f.check_box :remove_avatar %>&nbsp;Logoyu Sil
              <% end %>
            </p>
          <% end %>
        </div>
      </td>
    </tr>
  </table>
</div>
