<div id="activation_form" class="container">

  <div class="widget" style="margin-bottom:130px;">  
    <div class="row">
      <h4><%= t("web.label.activated_your_account") %></h4>
    </div>
    
    <div class="row">
      <h5><%= t("web.label.email_to_login") %>;&nbsp;<%= @user.email %></h5>
      <h5><%= t("web.label.set_your_password") %>;</h5>
    </div>

    <div class="row">
      <%= simple_form_for @user, validate: true, html: { class: "form-horizontal" }  do |f| %>
        <%= f.error_notification %>
        
        <div class="row">
          <div class="span6">
            <fieldset>
              <%= f.input :password, label: t("web.label.password") %>
              <%= f.input :password_confirmation, label: t("web.label.comfirm_password") %>
            </fieldset>
          
            <div class="form-actions">
              <%= f.button :submit, t("users.action.change_password"), class: 'btn btn-success' %>
            </div>

          </div>

        </div>
        
      <% end %>
    </div>
  </div>
</div>
