<div id="users" class="row-fluid">

  <div id="profile-header" class="profile-content row-fluid">
    <div class="span2">
      <%= image_tag("user.png") %>
    </div>
    <div class="span9">
      <h5>Kullanıcılar</h5>
    </div>
  </div>

  <div class="row-fluid">
    <div id="users_menu" class="span6">
      <legend><%= t "Kullanıcı İşlemleri" %></legend>
      <table class="table table-condensed">
        <tr><td><%= link_to "Yeni Kullanıcı Oluştur", new_user_path %></td></tr>
        <tr><td><%= link_to "Kullanıcı Şifresi Değiştir", new_password_reset_path %></td></tr>
        <tr><td></td></tr>
      </table>
    </div>

    <div id="users_reports" class="span6">
        <legend><%= t "Kullanıcı Raporları" %></legend>
        <table class="table table-condensed">
          <tr><td><%= link_to "Kullanıcı Listesi", new_search_path(model: "user") %></td></tr>      
          <tr><td><%= link_to "Kullanıcı Kayıt Tarihi", new_search_path(model: "log") %></td></tr>
          <tr><td></td></tr>
        </table>
    </div>
  </div>

  <div id="users_list" class="row-fluid">
    <legend>Kullanıcı Listesi</legend>
    <%= render "users/related_list", objects: @users %>
  </div>

</div>