<div class="btn-group">
	<a class="dropdown-toggle dropdown_<%= object.to_s %>" data-toggle="dropdown" href="#">
		<i class="fa fa-<%= object.to_s %>" style="vertical-align:top; margin-right:0;"></i>
		<% if number > 0 %>
		  <span id="<%= object.to_s %>_counter" class="badge"><%= number %></span>
		<% end %>
	</a>
	<ul id="<%= object.to_s %>_list" class="dropdown-menu">

	</ul>
</div>