<div class="listHeader profile" style="margin-bottom:10px;">
  <table cellspacing="0" cellpadding="0" border="0" style="width:100%;">
    <tbody>
      <tr style="width:100%">
        <td class="listTitle"  style="width:30%;text-align:left">
          <h5 class="mainTitle"><%= t("operations.title.#{object.class.to_s.downcase}_profile") %></h5>
        </td>
        <td class="listButtons" style="width:50%;text-align:left">
          
          <%= link_to t("defaults.link.new_#{object.class.to_s.downcase}"), new_record_path(object.class.to_s.downcase), class: "btn btn-mini btn-info" %>
          <%= link_to t("defaults.link.edit_#{object.class.to_s.downcase}"), edit_record_path(object), class: "btn btn-mini btn-info" %>
        </td>
        <td class="listHelp" style="width:20%;text-align:right;padding-right:10px;">
          <%= link_to "#" do %><%= "#{object.class.name.humanize.pluralize} Help" %>
            <i class="icon-question-sign"></i>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
