<div class="alternate">
  <div class="container">
    <!--div class="span3">
      <h4>Company</h4>
      <ul>
        <li><%= link_to "Niçin SocialFreight", main_app.features_path %></li>
        <li><%= link_to "Güvenlik", main_app.security_path %></li>
        <li><%= link_to "Servisler", main_app.services_path %></li>
        <li><%= link_to "Roadmap", main_app.roadmap_path %></li>
        <li><%= link_to "Hakkımızda", main_app.aboutus_path %></li>
      </ul>
    </div-->

    <div class="span3">
      <!--h4><%= t("web.link.contact") %></h4-->
      <p class="footerp">
        İnönü mh. Muammer Aksoy cd. Ulusoy Tesisleri<br/>
        Küçükçekmece / İstanbul<br/>
        t: 0212 692 99 99<br/>
        f:  0212 696 96 28<br/>
      </p>
      <p class="footerp"><a href="http://www.ulusoylogistics.com" target="_blank">web: www.ulusoylogistics.com</a></p>
      <p class="footerp">Mail: <%= mail_to "info@ulusoy.com
", "info@ulusoy.com" %></p>
    </div>

    <div class="span2">
      <!--h4>Follow</h4-->
      <ul>
        <li><%= link_to "Hakkımızda", main_app.aboutus_path %></li>
        <li><a href="http://www.twitter.com/ulusoylogistics" target="_blank">Twitter</a></li>
        <li><a href="http://www.facebook.com/ulusoylogistics" rel="publisher">Facebook</a></li>
      </ul>
    </div>

  </div>
  <div class="rightside"><p class="footerp">Copyright © Nimbo 2013. All rights reserved.</p></div>
</div>
