<div class="alternate">
  <div class="container">
    <div class="span3">
      <h4>Company</h4>
      <ul>
        <li><%= link_to "Niçin SocialFreight", features_path %></li>
        <li><%= link_to "Güvenlik", security_path %></li>
        <li><%= link_to "Servisler", services_path %></li>
        <li><%= link_to "Roadmap", roadmap_path %></li>
        <li><%= link_to "Hakkımızda", aboutus_path %></li>
      </ul>
    </div>

    <div class="span3">
      <h4>İletişim</h4>
      <p class="footerp">
        Cevizli Mah. Zuhal Cad. No:1<br/>
        Maltepe İstanbul Türkiye
      </p>
      <p class="footerp">GSM: +90 555 289 1072<br/>Mail: <%= mail_to "yourfriends@socialfreight.com
", "yourfriends@socialfreight.com" %></p>
    </div>

    <div class="span2">
      <h4>Follow</h4>
      <ul>
        <li><a href="http://www.twitter.com/socialfreight" target="_blank">Twitter</a></li>
        <li><a href="http://www.plus.google.com/socialfreight" target="_blank">Circle Us</a></li>
        <li><a href="http://www.linkedin.com/socialfreight" target="_blank">Linkedin</a></li>
      </ul>
    </div>

  </div>
  <div class="rightside"><p class="footerp">Copyright © SocialFreight 2012. All rights reserved.</p></div>
</div>
