<div class="home-portfolio container clearfix" style="overflow: hidden;">
  <ul class="row">
    <li class="home-portfolio-item span-one-third">
      <%= link_to (image_tag("big_images/no-hardware.jpg")), features_path(anchor: "noheadache") %>
      <span><%= link_to "Server almanıza gerek yok", features_path(anchor: "noheadache") %></span>
    </li>
    <li class="home-portfolio-item span-one-third">
      <%= link_to (image_tag("big_images/no-software.png")), features_path(anchor: "social") %>
      <span><%= link_to "Yazılım kurulum dertlerine son", features_path(anchor: "social") %></span>
    </li>
    <li class="home-portfolio-item span-one-third">
      <%= link_to (image_tag("big_images/freight-management.jpg")), features_path(anchor: "multimodal") %>
      <span><%= link_to "Multimodal Operasyon Yönetimi", features_path(anchor: "multimodal") %></span>
    </li>
  </ul>
  <ul class="row">
    <li class="home-portfolio-item span-one-third">
      <%= link_to (image_tag("big_images/fleet_mgmt.jpg")), services_path(anchor: "fillos") %>
      <span><%= link_to "Filo Yönetimi", services_path(anchor: "fillos") %></span>
    </li>
    <li class="home-portfolio-item span-one-third">
      <%= link_to (image_tag("big_images/offermanagement.png")), services_path(anchor: "company") %>
      <span><%= link_to "Firma Yönetimi", services_path(anchor: "company") %></span>
    </li>
    <li class="home-portfolio-item span-one-third">
      <%= link_to (image_tag("big_images/documentmanagement.jpg")), services_path(anchor: "documents") %>
      <span><%= link_to "Döküman Yönetimi", services_path(anchor: "documents") %></span>
    </li>
  </ul>
  <ul class="row">
    <li class="home-portfolio-item span-one-third">
      <%= link_to (image_tag("big_images/datasecurity.png")), security_path %></a>
      <span><%= link_to "Veriniz Güvende", security_path %></span>
    </li>
    <li class="home-portfolio-item span-one-third">
      <%= link_to (image_tag("big_images/costmanagement.jpg")), services_path(anchor: "costs") %>
      <span><%= link_to "Sürücü Hesaplaşmaları", services_path(anchor: "costs") %></span>
    </li>
    <li class="home-portfolio-item span-one-third">
      <%= link_to (image_tag("big_images/finance-mgmt.jpg")), roadmap_path(anchor: "finance") %>
      <span><%= link_to "Finans Yönetimi", roadmap_path(anchor: "finance") %></span>
    </li>
  </ul>
</div>
<div class="container portfolio-pager">
  <div id="portfolio-pager"></div>
</div>

