<div class="span3 sidebar">
  <ul class="widgets">
    <li class="widget category-widget clearfix">
      <h4>Mevcut Servisler</h4>
      <ul class="clearfix">
        <li><%= link_to "Hava Operasyon Yönetimi", air_path %></li>
        <li><%= link_to "Deniz Operasyon Yönetimi", sea_path %></li>
        <li><%= link_to "Kara Operasyon Yönetimi", road_path %></li>
        <li><%= link_to "Tren Operasyon Yönetimi", rail_path %></li>
        <li><%= link_to "Müşteri & Tedarikçi Yönetimi", services_path(anchor: "companies") %></li>
        <li><%= link_to "Filo Yönetimi", services_path(anchor: "fillos") %></li>
        <li><%= link_to "Masraf Yönetimi", services_path(anchor: "costs") %></li>
        <li><%= link_to "Döküman Yönetimi", services_path(anchor: "documents") %></li>
      </ul>
      <h4>Planlanan Servisler</h4>
      <ul class="clearfix">
        <li><%= link_to "Finans Yönetimi", roadmap_path(anchor: "finance") %><span><a href="#">Soon</a></span></li>
        <li><%= link_to "Depo & Antrepo Yönetimi", roadmap_path(anchor: "depot") %><span><a href="#">Soon</a></span></li>
        <li><%= link_to "Mobil Uygulamalar", roadmap_path(anchor: "mobil") %><span><a href="#">Soon</a></span></li>
        <li><%= link_to "Araç Takip Entegrasyonu", roadmap_path(anchor: "nagivation") %><span><a href="#">Soon</a></span></li>
        <li><%= link_to "Harita Servis Entegrasyonu", roadmap_path(anchor: "maps") %><span><a href="#">Soon</a></span></li>
        <li><%= link_to "Yakıt Yönetimi", roadmap_path(anchor: "fuel") %><span><a href="#">Soon</a></span></li>
      </ul>
    </li>
    <!--li class="widget blog-widget">
<h4>From The Blog</h4>
<div class="sidebar-blog-slider">
  <div>
    <ul class="blog-widget-articles">
<li class="blog-widget-article">
  <a href="single-blog.html"><img src="/assets/big_images/thumb-1.jpg" alt="" /></a>
  <div class="blog-widget-info">
    <a class="blog-widget-title" href="single-blog.html">Effective User Research And Transforming The Minds Of Clients</a>
    <div class="blog-widget-meta">
<a href="#">June 9th, 2011,</a><a href="#">92 Comments</a>
    </div>
  </div>
</li>
<li class="blog-widget-article">
  <a href="#"><img src="/assets/big_images/thumb-1.jpg" alt="" /></a>
  <div class="blog-widget-info">
    <a class="blog-widget-title" href="single-blog.html">Holidays Around The World: Smashing Photo Contest</a>
    <div class="blog-widget-meta">
<a href="#">June 9th, 2011,</a><a href="#">92 Comments</a>
    </div>
  </div>
</li>
<li class="blog-widget-article">
  <a href="#"><img src="/assets/big_images/thumb-1.jpg" alt="" /></a>
  <div class="blog-widget-info">
    <a class="blog-widget-title" href="single-blog.html">Combining Analog And Digital Techniques</a>
    <div class="blog-widget-meta">
<a href="#">June 9th, 2011,</a><a href="#">92 Comments</a>
    </div>
  </div>
</li>
    </ul>
  </div>
  <div>
    <ul class="blog-widget-articles">
<li class="blog-widget-article">
  <a href="#"><img src="/assets/big_images/thumb-1.jpg" alt="" /></a>
  <div class="blog-widget-info">
    <a class="blog-widget-title" href="single-blog.html">Introduction To Designing For Windows Phone 7 And Metro</a>
    <div class="blog-widget-meta">
<a href="#">June 9th, 2011,</a><a href="#">92 Comments</a>
    </div>
  </div>
</li>
<li class="blog-widget-article">
  <a href="#"><img src="/assets/big_images/thumb-1.jpg" alt="" /></a>
  <div class="blog-widget-info">
    <a class="blog-widget-title" href="single-blog.html">Smashing Photo Contest “Holidays Around The World”: Best Entries!</a>
    <div class="blog-widget-meta">
<a href="#">June 9th, 2011,</a><a href="#">92 Comments</a>
    </div>
  </div>
</li>
<li class="blog-widget-article">
  <a href="#"><img src="/assets/big_images/thumb-1.jpg" alt="" /></a>
  <div class="blog-widget-info">
    <a class="blog-widget-title" href="single-blog.html">Smashing Photo Contest “Holidays Around The World”: Best Entries!</a>
    <div class="blog-widget-meta">
<a href="#">June 9th, 2011,</a><a href="#">92 Comments</a>
    </div>
  </div>
</li>
    </ul>
  </div>
  <div>
  </div>
</div>
<div class="sidebar-blog-pager">
  <div id="sidebar-blog-pager"></div>
</div>
    </li-->
    <li class="widget sidebar-twitter-widget">
      <h4>Bizi Takip Edin</h4>
      <div class="sidebar-tweet"></div>
    </li>
    <!--li class="widget sidebar-video-widget">
<h4>Video Widget</h4>
<div class="video-holder">
  <iframe src="http://player.vimeo.com/video/34177255?title=0&amp;byline=0&amp;portrait=0" width="209" height="155" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/34177255">Manawai - Endless summer</a> from <a href="http://vimeo.com/user626205">Andro Kajzer</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
</div>
    </li-->
  </ul>
</div>
