<div class="slider clearfix row">

  <div class="span8 slider-intro">
    <h1 style="font-size: 20px;"><%#= t("web.label.online_logistics_management") %></h1>
    <p style="font-size:16px;line-height:170%;">
      <%#= t("web.label.painless_management") %>
<h1 style="font-size: 20px;">VİZYONUMUZ</h1>

2016 yılında Lojistik sektöründe, müşteri ve çalışan

memnuniyetini ilke edinmiş bir kurum olarak, <br>dünya

ölçeğinde marka güvenirliliği ile tercih edilen

stratejik bir çözüm ortağı olmak.

 
<h1 style="font-size: 20px;">MİSYONUMUZ</h1>

Ulusoy markasının gücü, geleneği ve güvencesiyle,
<br/>
müşterilerimize rekabet avantajı sağlayacak

yenilikçi çözümler üretmek.
    </p>
    <span><%= link_to t("web.link.get_started"), main_app.features_path, :class => "small-btn blue rounded-1" %></span>
    <span class="pull-right">
    <%= link_to t("web.link.try_for_free"), nimbos.new_patron_path, :class => "small-btn blue rounded-1 pull-right" %>
    </span>
  </div>

  <div class="span4 hidden-phone">
    
    <embed src="<%= asset_path('ulusoy/video.swf') %>", any_embed_options, wmode="transparent", width="250", height="250" />

  </div>

</div>

<div class="row">
  <div class="callout container clearfix">
    <div class="callout-info">
      <%= render "betausers/form" %>
    </div>
  </div>
  <%= render "shared/site_portofilo" %>
</div>

<div class="row hidden-phone">
  <%#= render "shared/site_description" %>
</div>
<script type="text/javascript">document.getElementById('home').classList.add('active');</script>
