<div class="row-fluid">

  <div class="span6">
    <fieldset>
      <% if @loading && (@loading.operation == "air") %>
        <%= f.input :container_type, as: :select, collection: Container.air_container_types.map { |r| [r[1], r[0] ] }, include_blank: false %>
      <% else %>
        <%= f.input :container_type, as: :select, collection: Container.container_types.map { |r| [r[1], r[0] ] }, include_blank: false %>
      <% end %>
      <%= f.input :name, label: "Container No" %>
      <%= f.input :sealno, label: "Seal No" %>
      <%= f.input :loading_id, as: :hidden %>
    </fieldset>
  </div>
  <div class="span6">
    <fieldset>
      <%= f.input :free_day %>
      <%= f.input :demurrage, label: "Daily Demurrage" do %>
        <%= f.input_field :demurrage, class: "input-small" %>
        <%= f.input_field :demurrage_curr, as: :select, collection: Currency.all, include_blank: false, class: "input-small" %>
      <% end %>
      <%= f.input :notes, as: :text, input_html: { :rows => "2"}, label: "Notes" %>
    </fieldset>
    <div class="controls">
      <%= f.button :submit, "Kaydet >> Yük Bilgisine Git", :class => 'btn btn-info' %>
    </div>
  </div>
</div>
