<div id="container_form">
<%= simple_form_for @container, html: { class: 'form-horizontal' }, :validate => true do |f| %>
  <%= f.error_notification %>
  <%= f.error :base %>
  <fieldset>

  <div class="pageBlock">
    <div>

      <div id="my-tab-content" class="tab-content">
        <legend><%= t("containers.title.container_info") %></legend>
        <div id="container-main-form" class="tab-pane active">
          <%= render 'form_main', :f => f %>
        </div>
      </div>

    </div>

  </div>

  </fieldset>
<% end %>
</div>
