<div class="row-fluid">

  <div class="span6">
    <fieldset>
      <%= f.input :container_type, label: t("containers.label.container_type") do %>
        <% if @loading && (@loading.operation == "air") %>
          <%= f.select :container_type, Nimbos::Listitem.aircontainers.map { |t| [t.name, t.code] }, include_blank: true %>
        <% else %>
          <%= f.select :container_type, Nimbos::Listitem.seacontainers.map { |t| [t.name, t.code] }, include_blank: true %>
        <% end %>
      <% end %>
      <%= f.input :name, label: t("containers.label.name") %>
      <%= f.input :sealno, label: t("containers.label.sealno") %>
      <%= f.input :loading_id, as: :hidden %>
    </fieldset>
  </div>
  <div class="span6">
    <fieldset>
      <%= f.input :notes, as: :text, input_html: { rows: "2" }, label: t("defaults.label.notes") %>
      <%= f.input :due_date, as: :string, label: t("defaults.label.unload_date"), input_html: {class: "input-small", "data-datepicker" => "datepicker"} %>
      <%= f.input :demurrage, label: t("containers.label.demurrage") do %>
        <%= f.input_field :demurrage, class: "input-small" %>
        <%= f.input_field :demurrage_curr, as: :select, collection: Nimbos::Currency.all, include_blank: false, class: "input-small" %>
      <% end %>
    </fieldset>
  </div>
</div>
<div class="form-actions">
  <%= f.button :submit, t("containers.action.save"), :class => 'btn btn-info' %>
  
</div>