<div id="container" class="row">
      <div class="profile-content">
        <h3>
          <span id="reference">Container No: <%= @container.name %></span>
        </h3>
        <dl id="overview">
          <dt>Container Type</dt>
          <dd>
            <ul>
              <li>
                <span><%= @container.container_type %></span>
              </li>
            </ul>
          </dd>
          <dt>Free Day</dt>
          <dd>
            <ul>
              <li><%= @container.free_day %></li>
            </ul>
          </dd>
          <dt>Demurrage Price</dt>
          <dd>
            <ul>
              <li>
                <span><%= @container.demurrage%></span>
                <span><%= @container.demurrage_curr%></span>
              </li>
            </ul>
          </dd>
          <dt>Notes</dt>
            <dd>
              <ul>
                <li><%= @container.agent.name if @container.agent%></li>
              </ul>
            </dd>
        </dl>
    </div>
</div>
<%= render :partial => 'packages/list', :locals => { :packages => @container.packages } %>
