<div id="opform" class="row-fluid">

  <div class="pageBlock">

    <%= render 'shared/form_header', message: "Planlama Pozisyon Seçimi" %>
    <%= render 'breadcrumb', step: 2 %>
    
    <div id="selected-loads" class="row-fluid">
      <% unless @loading.nil? %>
        <%= render 'loadings/loadings', loadings: @loading, locals: { @showsums => true } %>
      <% end %>
    </div>

    <div class="row-fluid">
      <%= simple_form_for @position, url: wizard_path, method: :put, validate: true do |f| %>
        <%= f.error_notification %>
        <%= f.error :base %>
        
        <div class="controls rightside">
          <%#= link_to "Bu Adımı Atla >>", next_wizard_path, :class => 'btn btn-danger' %>
          <%= link_to "Başka Yükler Eklemek İstiyorum", "#", :class => 'togglebutton btn btn-info', "data-placement" => "below",  "rel" => 'twipsy', "title" => "Detaylı Ara", "data-href" => "#reservation-search-form" %>
          <%= f.button :submit, "Yük Seçimini Tamamladım & Devam Et >>", :class => 'btn btn-info' %>
          <%#= link_to "Yük Seçimini Tamamladım & Devam Et >>", next_wizard_path, :class => 'btn btn-info' %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="reservation-search-form" class="row-fluid slidingDiv">
  	<%= render 'searches/reservation_form' %>
    <div id="reservations" class="row-fluid">
      <table class="table" id="reservations-table">
      
      </table>
    </div>
  </div>
</div>