<div id="opform" class="row-fluid">

  <div class="pageBlock">
    
    <%#= render 'breadcrumb', step: 2 %>
    <div class="page-header">
      <h4>Yük Taşıma Planlama-Proje Seçimi</h4>
    </div>
    
    <div id="selected-loads" class="row-fluid">
      <% unless @loading.nil? %>
        <%= render @loading  %>
      <% end %>
    </div>

    <div class="row-fluid">
      <%= simple_form_for @position, url: wizard_path, method: :put, validate: true do |f| %>
        <%= f.error_notification %>
        <%= f.error :base %>
        
        <div class="form-actions">
          <%#= link_to "Bu Adımı Atla >>", next_wizard_path, class: 'btn btn-danger' %>
          <%= link_to "Birlikte Taşınacak LCL Yük Seçebilirsiniz", "#", id: "list_reservations", class: 'btn btn-info' %>
          <%= link_to "Bu yükü tanımlı bir projeye bağlayabilirsiniz", "#", id: "list_positions", class: 'btn btn-info' %>
          <%= f.button :submit, "Bu yük(ler) için yeni proje kaydı oluşturabilirsiniz", class: 'btn btn-info' %>
          <%#= link_to "Yük Seçimini Tamamladım & Devam Et >>", next_wizard_path, class: 'btn btn-info' %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="loading-project-planning" class="row-fluid">
  	<%#= render 'searches/reservation_form' %>
    <div id="reservations" class="row-fluid">
      <table class="table" id="reservations-table">
      
      </table>
    </div>
  </div>
</div>