<div id="opform" class="row-fluid">

  <div class="pageBlock">

    <%= render 'shared/form_header', message: "Planlama Yük Seçimi" %>
    <%= render 'breadcrumb', step: 4 %>

    <div class="row-fluid">
      <%= simple_form_for @position, url: wizard_path, method: :put, html: { class: 'form-horizontal'}, validate: true do |f| %>
        <%= f.error_notification %>

        <%#= render 'positions/form_main', :f => f %>
        <%= f.error :base %>
        <%= f.fields_for :transports do |builder| %>
          <%= render "transports/form_#{@position.operation}", f: builder %>
        <% end %>

        <%= f.input :operation, :as => :hidden %>
        <%= f.input :direction, :as => :hidden %>
        <%= f.input :load_type, :as => :hidden %>
        <%= f.input :waybill_no, :as => :hidden %>
        <%= f.input :waybill_date, :as => :hidden %>
        <%= f.input :branch_id, :as => :hidden %>
        <%= f.input :agent_id, :as => :hidden %>
        <%= f.input :report_date, :as => :hidden %>
        <%= f.input :loading_ids, :as => :hidden %>

        <div class="controls rightside">
          <%#= link_to "<< Önceki Adıma Geri Dön", previous_wizard_path, :class => 'btn btn-danger' %>
          <%#= link_to "Mevcut Pozisyona Ekleyeceğim", "#", :class => 'togglebutton btn btn-info', "data-placement" => "below",  "rel" => 'twipsy', "title" => "Detaylı Ara", "data-href" => "#position-search-form" %>
          <%= f.button :submit, "Yükleri Bu Pozisyona Bağla >>", :class => 'btn btn-info' %>
        </div>
      <% end %>
    </div>
  </div>

</div>