<div class="row-fluid">
  <fieldset>
    <legend>Olay Bilgisi</legend>
    <div class="row-fluid">
      <div class="span6">
        <%= f.input :event_title, label: t("companies.label.event_title") %>
        <%= f.input :event_date, as: :string, label: t("companies.label.event_date"), input_html: {class: "input-small", "data-datepicker" => "datepicker"} %>
      </div>
      <div class="span6">
        <%= f.input :description, label: t("companies.label.event_description"), input_html: { rows: "2" }  %>
      </div>
    </div>
    <%= f.input :eventable_type, as: :hidden %>
    <%= f.input :eventable_id, as: :hidden %>
  </fieldset>
</div>