<div id="departure_<%= departure.id %>" class="tab-pane active">
  <div class="pageBody">
    <div class="profile-content">
    <legend>Yükleme Bilgisi <%= link_to edit_departure_path(departure) do %><i class="icon-edit"></i><% end %></legend>
    <table class="detailList" style="width:100%;text-align:center" border="0" cellpatding="0" cellspacing="0">
      <tr>
        <th>Yükleme Tarihi</th>
        <th>Özet Beyan</th>
        <th>Gümrük</th>
        <th>Gümrükçü</th>
        <th>Gönderici</th>
        <th>Yükleyici</th>
        <th>Notify</th>
      </tr>
      <tr>
        <td><%= departure.load_date.strftime("%d/%m/%Y %I:%M") if departure.load_date %></td>
        <td><%= "#{departure.statement} - #{departure.statement_date}" %></td>
        <td>Ambarlı Gümrük</td>
        <td><%= departure.customofficer.name if departure.customofficer %></td>
        <td><%= departure.sender.name if departure.sender %></td>
        <td><%= departure.loader.name if departure.loader %></td>
        <td>Notify Notify2 Notify3</td>
      </tr>
      <tr>
        <th>Adres:</th>
        <td colspan="2"><%= departure.address %>&nbsp;<%= departure.district %>&nbsp;<%= departure.city.name if departure.city %>&nbsp;<%= departure.country.name if departure.country %></td>
        <th>Not:</th>
        <td colspan="3"><%= departure.notes %></td>
      </tr>
    </table>
    </div>
  </div>
</div>

