<div id="opform">
<%= simple_form_for @departure, :html => { :class => 'form-horizontal' }, :validate => true do |f| %>
  <%= f.error_notification %>

  <div class="pageBlock">
    <%= render 'shared/form_buttonsh', :f => f %>

    <div class="tabbable tabs-below">

      <div id="my-tab-content" class="tab-content">
        <div id="loading-main-form" class="tab-pane active form_tab_pane">
          <%= render 'departures/form_fields', :f => f %>
        </div>
      </div>
      
      <%= f.hidden_field :loading_id %>
      <%= render 'shared/form_buttonsb', :f => f %>
    </div>

<% end %>
</div>
