<div class="row-fluid">
  <div class="span6">
    <fieldset>
      <%= f.input :load_place_id, as: :hidden, label: "Yükleme Yeri", input_html: {:class => "chosen_input", "data-url" => "/places.json", "data-newrecurl" => "/places/new", "data-selected" => @departure.load_place_id ? @departure.load_place.name : "", "data-placeholder" => "Yükleme Yerini Seçiniz."} %>
      <%#= f.input :load_place_id, :as => :select, :input_html => {:class => "chosen_input", "data-url" => "/places.json" } %>
      <%= f.input :load_date, as: :string, input_html: { :class => "input-small", "data-datepicker" => "datepicker" } %>
      <%= f.input :load_point, as: :select, collection: Loading.point_types.map { |r| [r[1], r[0] ] }, include_blank: false %>

      <div id="customer_loading_address" style="display:none">
        <%= f.input :country_id do %>
          <%= f.input_field :country_id, :as => :select, :collection => Country.all, :include_blank => true, :class => "input-small" %>
          <%= f.grouped_collection_select :city_id, Country.order(:name), :cities, :name, :id, :name, {:include_blank => true}, {:class => "input-small"} %>
        <% end %>
        <%= f.input :district, :label => "Semt" do %>
          <%= f.input_field :district, :class => "input-small" %>
          <%= f.input_field :postcode, :class => "input-small" %>
        <% end %>
        <%= f.input :address, :as => :text, :input_html => {:rows => 2, :cols => 37} %>
        <%= f.input :pickup_date, :as => :string, :input_html => { :class => "input-small", "data-datepicker" => "datepicker" } %>
      </div>
    </fieldset>
  </div>
  <div class="span6">
    <fieldset>
      <%#= f.input :sender_id, :as => :select, :input_html => {:class => "chosen_input", "data-url" => "/companies.json" } %>
      <%= f.input :sender_id, as: :hidden, label: "Gönderici", input_html: {:class => "chosen_input", "data-url" => "/companies.json", "data-newrecurl" => "/companies/new", "data-placeholder" => "Gönderici Firmayı Seçiniz"} %>
      <%#= f.input :loader_id, :as => :select, :input_html => {:class => "chosen_input", "data-url" => "/companies.json" } %>
      <%= f.input :loader_id, as: :hidden, label: "Gerçek Yükleyici", input_html: {:class => "chosen_input", "data-url" => "/companies.json", "data-newrecurl" => "/companies/new", "data-placeholder" => "Gerçek Yükleyici Firma"} %>
      <%#= f.input :customofficer_id, :as => :select, :input_html => {:class => "chosen_input", "data-url" => "/companies.json" } %>
      <%= f.input :customofficer_id, as: :hidden, label: "Gümrükçük", input_html: {:class => "chosen_input", "data-url" => "/companies.json", "data-newrecurl" => "/companies/new", "data-placeholder" => "Gümrük Firması Seçiniz"} %>
      <%= f.input :statement do %>
        <%= f.input_field :statement, :class => "input-small" %>
        <%= f.input_field :statement_date, :as => :string, :class => "input-small", "data-datepicker" => "datepicker" %>
      <% end %>
      <%= f.input :notes, :as => :text, :input_html => {:rows => 2} %>
    </fieldset>
  </div>
</div>
