<legend><%= t("operations.title.departure_info") %></legend>
<div class="row-fluid">
  <div class="span6">
    <%= f.input :load_place, label: t("defaults.label.load_place"), placeholder: t("operations.placeholder.load_place") %>
      <%= f.input :country_id, label: t("operations.label.load_country_city") do %>
        <%= f.input_field :load_city, class: "input-small", placeholder: t("operations.placeholder.load_city") %>
        <%= f.input_field :country_id, as: :select, :collection => Country.all, include_blank: true, class: "input-small" %>
      <% end %>
  </div>
  <div class="span6">
      <%= f.input :load_date, as: :string, label: t("defaults.label.load_date"), input_html: { class: "input-small", "data-datepicker" => "datepicker" } %>
      <%= f.input :notes, as: :text, label: t("defaults.label.load_note"), input_html: {rows: 2} %>
  </div>
</div>
