<p id="notice"><%= notice %></p>

<p>
  <b>Rent type:</b>
  <%= @rental.rent_type %>
</p>

<p>
  <b>Vehicle:</b>
  <%= @rental.vehicle %>
</p>

<p>
  <b>Vehicle type:</b>
  <%= @rental.vehicle_type %>
</p>

<p>
  <b>Start date:</b>
  <%= @rental.start_date %>
</p>

<p>
  <b>Finish date:</b>
  <%= @rental.finish_date %>
</p>

<p>
  <b>Rent status:</b>
  <%= @rental.rent_status %>
</p>

<p>
  <b>Company:</b>
  <%= @rental.company_id %>
</p>

<p>
  <b>Rent price:</b>
  <%= @rental.rent_price %>
</p>

<p>
  <b>Price curr:</b>
  <%= @rental.price_curr %>
</p>

<p>
  <b>Notes:</b>
  <%= @rental.notes %>
</p>


<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
