<div id="contact_<%= contact.id %>" class="active">

  <div class="row-fluid">
    <div class="span2">
      <%= image_tag "customer.png" %>
    </div>
    <div class="span10">
      <legend>
        <%= contact.to_s %>
        <br><small><%= contact_jobinfo(contact) %></small>
      </legend>
      <div class="contact-details">
        <div class="row-fluid">
          <table>
            <tr>
              <td class="span2 profile-label"><%= t("defaults.label.email") %>:</td>
              <td class="span4"><%= mail_to contact.email, contact.email %></td>
            </tr>
            <tr>
              <td class="span2 profile-label"><%= t("defaults.label.tel") %>:</td>
              <td class="span4"><%= "#{contact.tel} #{contact.gsm}" %></td>
            </tr>
            <tr>
              <td class="span2 profile-label"><%= t("defaults.label.social") %>:</td>
              <td class="span4">
                <% unless contact.twitter.blank? %>
                  <%= link_to url_with_protocol("https://twitter.com/#!/#{contact.twitter}"), target: "_blank" do %>
                    <%= image_tag "/assets/icons/twitter.png" %><%= " @#{contact.twitter} " %>
                  <% end %>
                <% end %>
                <% unless contact.linkedin.blank? %>
                  <%= link_to url_with_protocol("www.linkedin.com/in/#{contact.linkedin}"), target: "_blank" do %>
                    <%= image_tag "/assets/icons/linkedin.png" %><%= "#{contact.linkedin}" %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div> 
</div>