<div id="contact_<%= contact.id %>" class="active">

  <div class="row-fluid">
    <legend>
      <%= link_to edit_contact_path(contact), :title => "Bilgileri Güncelleyebilirsiniz" do %><i class="icon-edit"></i><% end %>
      <%= contact.to_s %>&nbsp;<span class="subtitle"><%= contact.jobtitle %>&nbsp;<%= contact.department %></span>
    </legend>
    <dl class="yatay-info" id="headline">
      <dd></dd>
      <dd class="email">
        <%= mail_to contact.email, contact.email %>
      </dd>
      <dd class="tel">
      <%= link_to contact.tel do %>
        <i class="icon-tag"></i> <%= contact.tel %>
      <% end %>
      </dd>
      <dd class="tel">
      <%= link_to contact.gsm do %>
        <i class="icon-tag"></i> <%= contact.gsm %>
      <% end %>
      </dd>
      <dd class="twitter">
        <%= link_to "@#{contact.twitter}", "https://twitter.com/#!/#{contact.twitter}", :target => "_blank" unless contact.twitter.blank? %>
      </dd>
    </dl>
  </div>
 
</div>

