<div class="row-fluid">
  <fieldset>
    <legend>Yetkili Bilgisi</legend>
    <div class="row-fluid">
      <div class="span6">
        <%= f.input :company_id, as: :hidden, label: "Company", input_html: {class: "chosen_input", "data-url" => "/companies.json", "data-newrecurl" => "/companies/new", "data-selected" => @contact.company_id ? @contact.company.name : "", "data-placeholder" => "Firma Seçiniz."} %>
        <%= f.input :name do %>
          <%= f.input_field :name, class: "input-small" %>
          <%= f.input_field :surname, class: "input-small" %>      
        <% end %>
        <%= f.input :salutation, as: :select, collection: ['Mr', 'Ms', 'Mrs', 'Dr', 'Prof'] %>
        <%= f.input :jobtitle %>
      </div>
      <div class="span6">
        <%= f.input :email %>
        <%= f.input :tel  %>
        <%#= f.input :fax  %>
        <%= f.input :gsm  %>
        <%= f.input :department %>
      </div>
    </div>
  </fieldset>
</div>

