<div id="contact_form">
<%= simple_form_for @contact, html: { class: "form-horizontal" }, validate: true do |f| %>
  <%= f.error_notification %>

  <div class="pageBlock">

    <div class="page-header">
      <h5>Yetkili/Kontak Bilgisi</h5>
    </div>

    <div class="row-fluid">

        <div id="contact-main-form" class="tab-pane active">
          <%= render 'contacts/form_main', :f => f %>
        </div>

    </div>
    
    <div class="form-actions">
      <%= f.button :submit, t("contacts.action.save"), class: 'btn btn-info', accesskey: "s" %>
      <button type="button" class="btn"><%= t("defaults.link.cancel") %></button>
    </div>

  </div>

<% end %>
</div>