<div class="row-fluid">
  <fieldset>
    <legend><%= t("defaults.title.additional_info") %></legend>
    <div class="row-fluid">
      <div class="span6">
        <%= f.input :fax, label: t("defaults.label.fax") %>
        <%= f.input :tel2, label: t("defaults.label.tel") %>
        <%= f.input :des, as: :text, input_html: {rows: 2}, label: t("defaults.label.notes") %>
      </div>
      <div class="span6">
        <%= f.input :birthdate, as: :string, label: t("defaults.vocabulary.birthdate"), input_html: {class: "input-small", "data-datepicker" => "datepicker"} %>
        <%= f.input :twitter, label: t("companies.label.twitter_link") %>
        <%= f.input :linkedin, label: t("companies.label.linkedin_link") %>
        <%= f.input :facebook, label: t("companies.label.facebook_link") %>
      </div>
    </div>
  </fieldset>
</div>

