<div class="row-fluid">
  <%= page_header_helper(t("contacts.title.contacts"), new_contact_path, t("contacts.link.new_contact")) %>
  <%= page_intro_helper(t("contacts.message.intro")) %>

  <%= sub_header_with_search_form(t("contacts.title.last_contacs"), "contacts") %>

  <%#= render partial: "contacts/popover", collection: @contacts, as: :contact %>

  <div id="contact_list" class="row-fluid">
    <%= simple_table_for @contacts, with: ContactTable %>
    <%#= contacts_list_table(@contacts) %>
    <div class="pagination">
      <%= paginate @contacts %>
    </div>
  </div>
</div>
<script type="text/javascript">
  document.getElementById('contactnavigator').classList.add('active');
</script>