<div class="row-fluid">
  <%= simple_form_for @document, html: { class: 'form-horizontal' }, validate: true do |f| %>
    <%= f.error_notification %>
    <%= f.error :base, :error_method => :to_sentence %>

    <fieldset>
      <div class="page-header">
        <h4><%= t("documents.title.document_info") %></h4>
      </div>

      <div class="row-fluid">
          <%= f.input :document_type, label: t("documents.label.document_type") %>
          <%= f.input :document_date, as: :string, input_html: { class: "input-date datepicker" }, label: t("documents.label.document_date") %>
          <%= f.input :document_no, label: t("documents.label.document_no") %>
          <%= f.input :document_file, as: :file, label: t("documents.label.upload_document") %>
          <%#= f.input :country_id, as: :select, collection: Country.find(:all, order: :name), include_blank: true, input_html: { class: "country_select", "data-placeholder" => "Ülke Seçiniz" } %>
          <%#= f.input :city_id, as: :select, collection: City.find(:all, conditions: ["country_id = :c", { :c => @document.country_id } ]), include_blank: true, input_html: { class: "city_select", "data-placeholder" => "Şehir Seçiniz"} %>
          <%#= f.input :operation, as: :select, collection: Operation.all, label: t("documents.label.operation") %>
          <%= f.input :owner_reference, label: t("documents.label.owner_reference") %>
          <%#= f.input :status, as: :select, label: t("documents.label.document_status") %>
          <%#= f.input :page_number %>
          <%= f.input :description, as: :text, label: t("documents.label.description"), input_html: {rows: "2"} %>
      </div>
      <div class="form-actions">
        <%= f.submit t("documents.action.save"), :class => 'btn btn-primary' %>
        <a href="#" class="btn"><%= t("defaults.link.cancel") %></a>
      </div>

      <%= f.input :documented_type, as: :hidden %>
      <%= f.input :documented_id, as: :hidden %>
    </fieldset>

  <% end %>
</div>
