<tr>
  <td><%= document.document_type %></td>
  <td><%= document.document_date.strftime("%d/%m/%Y") %></td>
  <td><%= document.document_no %></td>
  <td><%= document.owner_reference %></td>
  <td><%= document.status %></td>
  <td><%= document.user.to_s if document.user %></td>
  <td><%= document.created_at.strftime("%d/%m/%Y %H:%M") %></td>
  <td><%= document.document_file if document.document_file %></td>
  <td><%= link_to edit_document_path(document) do %><i class="icon-edit"></i><% end %></td>
</tr>