<div id="company_form">
<%= simple_form_for @company, :validate => true do |f| %>
  <%= f.error_notification %>

  <div class="pageBlock">
    <%= render 'shared/form_buttonsh', :f => f, :header => "New Company" %>

    <div class="tabbable tabs-below">

      <div id="my-tab-content" class="tab-content">
        <div id="company-main-form" class="tab-pane active">
          <%= render 'form_main', :f => f %>
          <%= f.fields_for :contacts do |builder| %>
            <%= render 'contacts_fields', :f => builder %>
          <% end %>
        </div>

        <div id="company-invoice-form" class="tab-pane form_tab_pane">
          <%= render 'form_invoice', :f => f %>
        </div>
      </div>

    </div>
    
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#company-main-form">1-Firma Bilgileri</a></li>
      <li><a data-toggle="tab" href="#company-invoice-form">2-Fatura Bilgileri</a></li>
    </ul>
    
  </div>

<% end %>
</div>
