<%= simple_form_for @company, :validate => true do |f| %>
  <%= f.error_notification %>

  <fieldset>
    <div class="row">
      <div class="page-header span16 columns">
        <h4>Customer</h4>
      </div>
      <div class="span8 columns">
        <%= f.input :name, :label => "Short Name" %>
        <%= f.input :title, :label => "Invoice Title" %>
        <%= f.input :company_type do %>
          <%= f.select :company_type, Company.company_types.map { |r| [r[1], r[0] ] }, :include_blank => false %>
        <% end %>
        <%= f.input :tel  %>
        <%= f.input :fax  %>
        <%= f.input :email %>
        <%= f.input :website %>
        <%= f.input :sector %>
        <%= f.input :notes, :as => :text, :label =>"Operational Notes", :input_html => {:rows => "3", :cols => "35"} %>
      </div>
      <div class="span8 columns">
        <%= f.input :branch, :as => :select, :collection => current_patron.branches, :include_blank => false %>
        <%= f.input :country_id do %>
          <%= f.input_field :country_id, :class => "medium", :as => :select, :collection => Country.all, :include_blank => false %>
          <%= f.input_field :city_id, :class => "medium", :as => :select, :collection => City.all, :include_blank => false %>
        <% end %>
        <%= f.input :district do %>
          <%= f.input_field :district, :class => "medium" %>
          <%= f.input_field :postcode, :class => "small" %>
        <% end %>
        <%= f.input :address, :as => :text, :input_html => {:rows => "2", :cols => "35"} %>
        <%= f.input :gsm  %>
        <%= f.input :voip, :label => "Skype"  %>
        <%= f.input :contact %>
        <%= f.input :description, :as => :text, :label =>"Other Notes", :input_html => {:rows => "3", :cols => "35"} %>
        <%= f.button :submit, :class => 'btn primary' %>
      </div>
    </div>
  </fieldset>

<% end %>
