<div class="row-fluid">
  <fieldset>
    <legend>Firma Bilgisi</legend>
    <div class="span6">
      <%= f.input :name %>
      <%= f.input :company_type do %>
        <%= f.select :company_type, Company.company_types.map { |r| [r[1], r[0] ] }, :include_blank => false %>
      <% end %>
      <%= f.input :branch_id, :as => :select, :collection => current_patron.branches, :include_blank => false, :selected => current_user.branch_id %>
    </div>
    <div class="span6">
      <%= f.input :tel  %>
      <%= f.input :fax  %>
      <%= f.input :website %>
    </div>
    <legend>Ek Bilgiler</legend>
    <div class="span6">
      <%= f.input :company_type, as: :select, collection: Company.company_types.map { |r| [r[1], r[0] ] }, :include_blank => false %>
      <%= f.input :sector %>
      <%= f.input :notes, :as => :text, :input_html => {:rows => "1", :cols => "35"} %>
    </div>
    <div class="span6">
      <%= f.input :country_id do %>
        <%= f.input_field :country_id, :class => "input-small", :as => :select, :collection => Country.all, :include_blank => false %>
        <%= f.input_field :city_id, :class => "input-small", :as => :select, :collection => City.all, :include_blank => false %>
      <% end %>
      <%= f.input :district do %>
        <%= f.input_field :district, :class => "input-small" %>
        <%= f.input_field :postcode, :class => "input-small" %>
      <% end %>
      <%= f.input :address, :as => :text, :input_html => {:rows => "1", :cols => "35"} %>
    </div>
  </fieldset>
</div>

