<div id="company_form" class="main-model-form">
<%= simple_form_for @company, html: {class: 'form-horizontal'}, validate: true do |f| %>
  <%= f.error_notification %>
  <%= f.error :base, :error_method => :to_sentence %>

  <div class="pageBlock">
      
    <div class="page-header">
      <h4><%= t("companies.title.company_info") %><small class="pull-right">Firma ile ilgili bütün bilgilerin tamamlanması, sonrasında işlerinizi azaltacaktır. Zorunlu olmayan verileri daha sonrada tamamlayabilirsiniz.</small></h4>
    </div>

    <div id="company-main-form" class="row-fluid">
      <%= render 'form_main', :f => f %>
      <% unless params[:action] == "edit" %>
        <%= f.fields_for :contacts do |builder| %>
          <%= render 'contacts_fields', :f => builder %>
        <% end %>
      <% end %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t("companies.action.save"), class: 'btn btn-info', :accesskey => "s" %>
      <button type="button" class="btn"><%= t("defaults.link.cancel") %></button>
    </div>

  </div>

<% end %>
</div>