<div id="companies_home_content" class="row-fluid">

  <div class="span6">

    <div class="row-fluid">
      <div id="operation_links">
        <legend><%= t("companies.title.company_menu") %></legend>
          <table class="table table-condensed">
            <tr><td><%= link_to t("companies.link.new_company"), new_company_path %></td></tr>
            <tr><td><%= link_to t("companies.link.new_contact"), new_contact_path %></td></tr>
            <tr><td><%= link_to t("companies.link.new_event"), new_event_path %></td></tr>
          </table>
      </div>
    </div>
  </div>

  <div class="span6">
    <div class="row-fluid">
      <div id="crm_tasks">
        <legend><%= t("defaults.title.reports") %></legend>
        <table class="table small-tables table-condensed">
          <tr><td><%= link_to t("companies.link.company_list"), new_search_path(model: "companies") %></td></tr>
          <tr><td><%= link_to t("companies.link.contact_list"), new_search_path(model: "contacts") %></td></tr>
          <tr><td><%#= link_to t("companies.link.event_list"), new_search_path(model: "companies") %></td></tr>
          <!--tr><td><%#= link_to "Alacaklı Tedarikçiler Listesi", companies_path %></td></tr>
          <tr><td><%#= link_to "Borçlu Müşteriler Listesi", companies_path %></td></tr-->
        </table>

        <!--legend><%#= t("defaults.title.tasks") %></legend>
        <table class="table small-tables table-condensed">
        </table-->
      </div>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div id="last_companies" class="profile tabbable">
    <ul class="nav nav-tabs" data-tabs="tabs">
      <li class="active"><a data-toggle="tab" href="#company_list"><%= t("companies.title.last_companies") %></a></li>
      <!--li><a data-toggle="tab" href="#activity_list">Son Aktiviteler</a></li>
      <li><a data-toggle="tab" href="#opportunity_list">Yeni Fırsatlar</a></li-->
      <li class="pull-right"><%= link_to t("defaults.link.detailed_search"), new_search_path, class: "small-size-link" %></li>
    </ul>

    <div id="my-tab-content" class="tab-content">

      <div id="company_list" class="tab-pane profile-content active">
        <%= render partial: "small_list", locals: { objects: Company.limit(10).latest } %>
      </div>

    </div>

  </div>
</div>