<div id="companies_home_content" class="row-fluid">

  <div class="span6">

    <div class="row-fluid">
      <div id="operation_links">
        <legend><%= t("companies.title.company_menu") %></legend>
          <table class="table table-condensed">
            <tr><td><%= link_to t("companies.link.new_company"), new_company_path %></td></tr>
            <tr><td><%= link_to t("companies.link.new_contact"), new_contact_path %></td></tr>
            <tr><td><%= link_to t("companies.link.new_event"), new_event_path %></td></tr>
          </table>
      </div>
    </div>

    <div class="row-fluid">
      <div id="last_companies" class="profile tabbable">
        <ul class="nav nav-tabs" data-tabs="tabs">
          <li class="active"><a data-toggle="tab" href="#company_list"><%= t("companies.title.last_companies") %></a></li>
          <!--li><a data-toggle="tab" href="#activity_list">Son Aktiviteler</a></li>
          <li><a data-toggle="tab" href="#opportunity_list">Yeni Fırsatlar</a></li-->
          <li><%= link_to t("defaults.link.detailed_search"), new_search_path, class: "small-size-link" %></li>
        </ul>

        <div id="my-tab-content" class="tab-content">

          <div id="company_list" class="tab-pane profile-content active">
            <%= render partial: "small_list", locals: { objects: Company.limit(10).latest } %>
          </div>

          <!--div id="activity_list" class="tab-pane profile-content">
            
          </div>

          <div id="opportunity_list" class="tab-pane profile-content">
            
          </div-->
        </div>

      </div>
    </div>
  </div>

  <div class="span6">
    <div class="row-fluid">
      <div id="crm_tasks">
        <legend><%= t("defaults.title.reports") %></legend>
        <table class="table small-tables table-condensed">
          <tr><td><%= link_to t("companies.link.company_list"), companies_path %></td></tr>
          <tr><td><%= link_to t("companies.link.contact_list"), contacts_path %></td></tr>
          <tr><td><%= link_to t("companies.link.event_list"), events_path %></td></tr>
          <!--tr><td><%#= link_to "Alacaklı Tedarikçiler Listesi", companies_path %></td></tr>
          <tr><td><%#= link_to "Borçlu Müşteriler Listesi", companies_path %></td></tr-->
        </table>

        <legend><%= t("defaults.title.tasks") %></legend>
        <table class="table small-tables table-condensed">
          <tr><td>TK253 Nolu sefer kontrol edilecek, Beko'ya bilgi verilecek</td></tr>
          <tr><td>@KRF545654 yük dosyası kapatılmalı %></td></tr>
          <tr><td>@KRF854126 yük taşıması tamamlanınca faturası kesilecek</td></tr>
          <tr><td>CASS yeni stok talebi yapılacak</td></tr>
          <tr><td>Haftalık genel taşıma raporu düzenlenecek</td></tr>
        </table>
      </div>
    </div>

    <div id="companies_chart">

    </div>
  </div>
</div>