<div id="company_form" class="main-model-form">
<%= simple_form_for @company, html: { class: 'form-horizontal' }, remote: true, validate: true do |f| %>
  <%= f.error_notification %>
  <%= f.error :base, :error_method => :to_sentence %>

  <div class="pageBlock">
    <%= render 'shared/form_header', message: "Hızlı Firma Oluştur" %>
    <fieldset>
      <legend>Firma Bilgisi</legend>
      <div class="row-fluid">
          <%= f.input :name %>
          <%= f.input :company_type do %>
            <%= f.select :company_type, Company.company_types.map { |r| [r[1], r[0] ] }, :include_blank => false %>
          <% end %>
          <%= f.input :tel  %>
          <%= f.input :email %>
          <%= f.input :branch_id, :as => :select, :collection => current_patron.branches, :include_blank => false, :selected => current_user.branch_id %>
          <div class="input-controls">
            <%= f.submit "Kaydet", class: "btn btn-success" %>
          </div>
      </div>
    </fieldset>
  </div>

<% end %>
</div>
<script type="text/javascript">$("#new_company").validate();</script>
