<div id="modal_company_form" class="modal">
<%= simple_form_for @company, html: { class: 'form-horizontal' }, remote: true, validate: true do |f| %>
  <%= f.error_notification %>
  <%= f.error :base, :error_method => :to_sentence %>

  <div class="pageBlock">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
      <h4><%= t("companies.title.quick_company") %></h4>
    </div>
    <div class="modal-body">
      <fieldset>
        <legend>Firma Bilgisi</legend>
        <div class="row-fluid">
            <%= f.input :name, label: t("companies.label.name"), placeholder: t("companies.placeholder.name") %>
            <%= f.input :company_type, label: t("companies.label.company_type") do %>
              <%= f.select :company_type, Company.company_types.map { |r| [r[1], r[0] ] }, include_blank: false %>
            <% end %>
            <%= f.input :tel, label: t("defaults.label.tel")  %>
            <%= f.input :fax, label: t("defaults.label.fax") %>
            <%= f.input :branch_id, as: :select, collection: current_patron.branches, include_blank: false, selected: current_user.branch_id %>
        </div>
      </fieldset>
    </div>

    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal" aria-hidden="true"><%= t("defaults.action.close") %></a>
      <%= f.submit t("companies.action.save"), class: "btn btn-success" %>
    </div>

  </div>

<% end %>
</div>
<script type="text/javascript">$("#new_company").validate();</script>