<div id="profile-header" class="profile-content row-fluid">
  <div class="span2">
    <div id="profile-picture" class="company">
      <%= image_tag("/assets/company.png") %>
    </div>
  </div>
  <div class="span10">
    <div id="profile-detail" class="company">
      <div id="profile-title" class="row-fluid">
        <legend>
          <i class="icon-company"></i><%= @company.name %>&nbsp;
          <span class="subtitle"><%= Company.company_types[@company.company_type] %>&nbsp;-&nbsp;No:<%= @company.company_no %></span>
          <span class="socialicons"></span>
        </legend>
      </div>
      <%= render 'profile_detail' %>
    </div>
  </div>
</div>
