<div id="quick-profile" class="company">
  <div>
    <table style="width:100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><h4><%= @company.name %></h4></td>
        <td colspan="4"><%= render 'companies/tab_header', company: @company %></td>
      </tr>
      <tr>
        <td class="dataCol2"><i class="icon-volume-up"></i><%= @company.tel %></td>
        <td class="labelCol2"><%= t("defaults.label.website") %> :</td>
        <td class="dataCol2">
          <%= link_to @company.website, url_with_protocol(@company.website), :target => '_blank' %>
        </td>
        <td class="labelCol2"><%= t("companies.label.company_type") %> :</td>
        <td class="dataCol2 lastCol"><%#= Company.company_types[@company.company_type] %></td>

      </tr>
      <tr>
        <td class="dataCol2"><i class="icon-print"></i><%= @company.fax %></td>
        <td class="labelCol2"><%= t("companies.label.parent_company") %> :</td>
        <td class="dataCol2"><%= link_to @company.parent.name, @company.parent if @company.parent %></td>
        <td class="labelCol2"><%= t("companies.label.sector") %> :</td>
        <td class="dataCol2 lastCol"><%= @company.sector %></td>
      </tr>
    </table>
  </div>
</div>
