<div class="row-fluid profile-content">

  <div class="row-fluid" style="padding-bottom:10px;text-align:center;">
    <%= link_to "Contacts(#{@company.contacts.size})", "##{@company.id}_contactList" %> |
    <%= link_to "Partners(#{@company.partners.size})", "##{@company.id}_partnerList" %> |
    <%= link_to "Cases(#{@company.cases.size})", "##{@company.id}_caseList" %> |
    <%= link_to "Opportunities(0)", "##{@company.id}_opportunityList" %>
  </div>

  <div class="row-fluid profile-section">  
    <%= render 'shared/section_profile_header', object: @company %>
    <%= render 'tab1' %>
  </div>

  <div class="row-fluid profile-sub-header" id="sub_<%= @company.id%>_head">
    <%= image_tag("s.png", class: "hideSubHeader") %>
    <h5>Fatura Bilgileri</h5>
  </div>

  <div class="row-fluid profile-sub-data">
    <%= render 'tab2' %>
  </div>

  <div class="row-fluid profile-section">
    <%= render "shared/related_list", list_model: "contact", parent: @company, objects: @company.contacts %>
  </div>

  <div class="row-fluid profile-section">
    <%= render "shared/related_list", list_model: "case", parent: @company, objects: @company.cases %>
  </div>

  <div class="row-fluid profile-section">
    <%= render "shared/related_list", list_model: "partner", parent: @company, objects: @company.partners %>
  </div>


</div>