<div class="row-fluid profile-content">

  <div class="row-fluid" style="padding-bottom:10px;text-align:center;">
    <%= link_to "Contacts(2)", "##{@company.id}_contactList" %> |
    <%= link_to "Partners(0)", "##{@company.id}_partnerList" %> |
    <%= link_to "Documents(0)", "##{@company.id}_documentList" %> |
    <%= link_to "Activities(0)", "##{@company.id}_activityList" %> |
    <%= link_to "Cases(0)", "##{@company.id}_caseList" %> |
    <%= link_to "Opportunities(0)", "##{@company.id}_opportunityList" %>
  </div>

  <div class="row-fluid profile-section">  
    <%= render 'shared/section_profile_header', object: @company %>
    <%= render 'tab1' %>
  </div>

  <div class="row-fluid profile-sub-header" id="sub_<%= @company.id%>_head">
    <%= image_tag("s.png", class: "hideSubHeader") %>
    <h5>Fatura Bilgileri</h5>
  </div>

  <div class="row-fluid profile-sub-data">
    <%= render 'tab2' %>
  </div>

  <div class="row-fluid profile-section">
    <%= render "shared/related_list", list_model: "contact", parent: @company, objects: @company.contacts %>
  </div>

  <div class="row-fluid profile-section">
    <%= render "shared/related_list", list_model: "partner", parent: @company, objects: @company.partners %>
  </div>

  <div class="row-fluid profile-section">

    <div id="#{@company.id}_activityList" class="pageBlock subRecordList">
      <div class="listSubRecords contacts">
        <div class="pPageBlock brndScnBrd secondaryPalette">
          <%= render "shared/section_list_header", listItem: "activity", object: @company %>
          <div id="#{@company.id}_ActivityList_Body" class="listBody">
            <span class="norecord">Kayıt Bulunamadı...</span>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>