<%= form_for Company.new, validate: true, remote: true, html: {class: 'quick_form'} do |f| %>

  <fieldset>

    <div id="company-main-form" class="tab-pane active">
      <%= label_tag(:name, "Company Name") %>
      <%= f.text_field :name, :class => "input-medium" %>
      <%= label_tag(:company_type, "Company Type") %>
      <%= f.select :company_type, options_for_select(Company.company_types.map { |r| [r[1], r[0] ] }), {:include_blank => false}, {:class => "input-medium"} %>
      <%= label_tag(:branch_id, "Branch") %>
      <%= f.select :branch_id, options_for_select(current_patron.branches.map { |r| [r.name, r.id] }), {:include_blank => false}, {:class => "input-medium"} %>
      
      <%= submit_tag "Kaydet", :class => "btn" %>
    </div>

  </fieldset>

<% end %>
