<%= table_for objects, table_html: { id: "company_report_results", class: "table table-condensed table-striped table-fixed table-bordered"}, 
              header_row_html: { class: "headerRow" },
              row_html: { class: "dataRow" } do |table| %>
  <% table.column :name, label: t("companies.label.name"), column_html: { scope: "col" } do |company| %>
    <%= link_to company.name, company_path(company) %>
  <% end %>
  <% table.column :tel, label: t("defaults.label.tel"), column_html: { scope: "col" } %>
  <% table.column :website, label: t("defaults.label.website"), column_html: { scope: "col" } do |company| %>
    <a href="<%= company.website%>" target="_blank"><%= company.website %></a>
  <% end %>
  <% table.column :fax, label: t("defaults.label.fax"), column_html: { scope: "col" } %>
  <% table.column :action, label: false, column_html: { class: "actionCol", scope: "col" } do |company| %>
    <%= link_to edit_company_path(company) do %><i class="icon-edit"></i><% end %>            
  <% end %>
<% end %>