<div id="good_branch">
  <dl class="yatay-info" id="headline">
    <dd><%= branch_name(company.branch) %></dd>
    <dd>No:<%= company.company_no %></dd>
    <dd>
      <%= company.city %>&nbsp;<%= company.country.name if company.country %>
    </dd>
    <dd>
        Search company:
        <a href="https://www.google.com.tr/#q=<%= company_name(company) %>" title="Search on Google" target="_blank">
          <%= image_tag "/assets/icons/google.png" %>
        </a>
        |
        <a href="https://twitter.com/search?q=<%= company_name(company) %>" title="Search on Twitter" target="_blank">
          <%= image_tag "/assets/icons/twitter.png" %>
        </a>
        |
        <a href="https://www.facebook.com/search/results.php?q=<%= company_name(company) %>" title="Search on Facebook" target="_blank">
          <%= image_tag "/assets/icons/facebook.png" %>
        </a>
        |
        <a href="http://www.linkedin.com/search/fpsearch?keywords=<%= company_name(company) %>" title="Search on Linkedin" target="_blank">
          <%= image_tag "/assets/icons/linkedin.png" %>
        </a>
    </dd>
  </dl>
</div>

