<div id="good_branch">
  <dl class="yatay-info" id="headline">
    <dd><%= branch_name(company.branch) %></dd>
    <dd>No:<%= company.company_no %></dd>
    <dd>
      <%= company.city %>&nbsp;<%= company.country.name if company.country %>
    </dd>
    <dd>
        Search company:
        <a href="https://twitter.com/search?q=<%= company_name(company) %>" target="_blank">Twitter</a>
        |
        <a href="https://www.facebook.com/search/results.php?q=<%= company_name(company) %>" target="_blank">Facebook</a>
        |
        <a href="https://www.google.com.tr/#q=<%= company_name(company) %>" target="_blank">Google</a>
        |
        <a href="http://www.linkedin.com/search/fpsearch?keywords=sales-force" target="_blank">Linkedin</a>
    </dd>
  </dl>
</div>

