<table class="table table-striped">
  <tr>
    <th>Firma No</th>
    <th>Ünvanı</th>
    <th>Yetkili</th>
    <th>Telefon</th>
    <th>Fax</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% if @companies %>
	<% @companies.each do |company| %>
		<tr>
      <td><%= link_to company.company_no, company_path(company) %></td>
      <td><%= link_to company.name, company_path(company) %></td>
      <td><%= company.contact %></td>
      <td><%= company.tel %></td>
      <td><%= company.fax %></td>
		  <td><%= link_to company do %><i class="icon-search"></i><% end %></td>
		  <td><%= link_to edit_company_path(company) do %><i class="icon-edit"></i><% end %></td>
		  <td><%#= link_to 'Destroy', company, confirm: 'Are you sure?', method: :delete %></td>
		</tr>
	<% end %>
<% end %>
</table>

<br />

<%= link_to 'New Company', new_company_path %>
