<div id="finunit">
<%= simple_form_for @finunit, :validate => true do |f| %>
  <%= f.error_notification %>

  <div class="pageBlock">
    <%= render 'shared/form_buttonsh', :f => f %>

    <div class="row-fluid">
      <div class="span6">
        <fieldset>
          <%= f.input :name %>
          <%= f.input :curr, :as => :select, :collection => Currency.all, :include_blank => false %>
          <%= f.input :branch_id, :as => :select, :collection => current_patron.branches, :include_blank => false %>
          <%= f.input :person_id, :as => :select, :collection => [[@finunit.person_id ? @finunit.person.to_s : "", @finunit.person_id]], :input_html => {:class => "chosen_input", "data-url" => "/people.json"} %>
        </fieldset>
      </div>
      <div class="span6">
        <fieldset>
          <%= f.input :bank_id, :as => :select, :collection => [[@finunit.bank_id ? @finunit.bank.name : "", @finunit.bank_id]], :input_html => {:class => "chosen_input", "data-url" => "/companies.json"} %>
          <%= f.input :bank_branch %>
          <%= f.input :account %>
          <%= f.input :iban %>
          <%= f.input :unit_type, :as => :hidden %>
        </fieldset>
      </div>
    </div>
  </div>
<% end %>
</div>
