<h1>Listing finunits</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Curr</th>
    <th>Unit type</th>
    <th>Branch</th>
    <th>Bank</th>
    <th>Bank branch</th>
    <th>Person</th>
    <th>Patron</th>
    <th>Patron token</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @finunits.each do |finunit| %>
  <tr>
    <td><%= finunit.name %></td>
    <td><%= finunit.curr %></td>
    <td><%= finunit.unit_type %></td>
    <td><%= finunit.branch_id %></td>
    <td><%= finunit.bank_id %></td>
    <td><%= finunit.bank_branch %></td>
    <td><%= finunit.person_id %></td>
    <td><%= finunit.patron_id %></td>
    <td><%= finunit.patron_token %></td>
    <td><%= link_to 'Show', finunit %></td>
    <td><%= link_to 'Edit', edit_finunit_path(finunit) %></td>
    <td><%= link_to 'Destroy', finunit, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Finunit', new_finunit_path %>
