<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @finunit.name %>
</p>

<p>
  <b>Curr:</b>
  <%= @finunit.curr %>
</p>

<p>
  <b>Unit type:</b>
  <%= @finunit.unit_type %>
</p>

<p>
  <b>Branch:</b>
  <%= @finunit.branch_id %>
</p>

<p>
  <b>Bank:</b>
  <%= @finunit.bank_id %>
</p>

<p>
  <b>Bank branch:</b>
  <%= @finunit.bank_branch %>
</p>

<p>
  <b>Person:</b>
  <%= @finunit.person_id %>
</p>

<p>
  <b>Patron:</b>
  <%= @finunit.patron_id %>
</p>

<p>
  <b>Patron token:</b>
  <%= @finunit.patron_token %>
</p>


<%= link_to 'Edit', edit_finunit_path(@finunit) %> |
<%= link_to 'Back', finunits_path %>
