<div id="quick-profile" class="class="row-fluid"">
  <div>
    <table  class="detailList" border="0" cellpadding="0" cellspacing="0" style="width:100%">
      <tr>
        <td colspan="4"><%= render 'tab_header', :payoff => payoff %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">Çıkış Bilgileri</td>
        <td colspan="2">Varış Bilgileri</td>
        <td colspan="2">Dönüş Bilgileri</td>
      </tr>
      <tr>
        <td colspan="2"><%= "#{payoff.departure_date} #{payoff.departure_km} km #{payoff.departure_place}" %></td>
        <td colspan="2"><%= "#{payoff.arrival_date} #{payoff.arrival_km} km #{payoff.arrival_place}" %></td>
        <td colspan="2"><%= "#{payoff.return_date} #{payoff.return_km} km #{payoff.return_place}" %></td>
      </tr>
      <tr>
        <td>Notlar : </td>
        <td colspan="5"><%= payoff.notes %></td>
      </tr>
    </table>
  </div>
</div>
