<div id="payoff_form" class="main-model-form">
  <%= simple_form_for @payment, html: {class: 'form-horizontal'}, validate: true do |f| %>
    <%= f.error_notification %>
  
    <div class="pageBlock">
    <%= render 'shared/form_buttonsh', f: f, header: "New Payment" %>  
    <fieldset>

      <div class="row-fluid">
        <div class="span6">
          <%= f.input :staff_id, as: :hidden, label: "Sürücü/Personel", input_html: {class: "chosen_input", "data-url" => "/people.json", "data-newrecurl" => "/people/new", "data-selected" => @payment.staff_id ? @payment.staff.to_s : "", "data-placeholder" => "Sürücü/Personel Seçiniz."} %>
          <%= f.input :payment_price do %>
            <%= f.input_field :payment_price, class: "input-small" %>
            <%= f.input_field :price_curr, :as => :select, :collection => Currency.all, :include_blank => false, class: "input-small" %>
          <% end %>
        </div>
        <div class="span6">
          <%= f.input :payment_date, label: "Tarih & Belge No" do %>
            <%= f.input_field :payment_date, as: :string, class: "input-small", "data-datepicker" => "datepicker", placeholder: "Avans Tarihi" %>
            <%= f.input_field :payment_docno, class: "input-small", placeholder: "Belge No" %>
          <% end %>
          <%= f.input :branch_id, as: :select, collection: current_patron.branches, include_blank: false, selected: current_user.branch_id %>
          <%#= f.input :finunit_id, placeholder: "Finunit" %>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span12">
          <%= f.input :notes, input_html: { rows: 1, class: "span10" } %>
        </div>
      </div>
      <%= f.input :payoff_id, as: :hidden %>
    </fieldset>
    </div>
    <%= f.button :submit %>
  <% end %>
</div>