<tr>
  <td><%= feedback.name %></td>
  <td><%= feedback.email %></td>
  <td><%= feedback.msg %></td>
  <td><%= patron_name(feedback.patron) if feedback.patron %></td>
  <td><%= mail_to feedback.email, "Cevapla" %></td>
</tr>
