<tr>
  <td><%= feedback.name %></td>
  <td><%= feedback.email %></td>
  <td><%= feedback.msg %></td>
  <td><%= patron_name(feedback.patron) %></td>
  <td><%= mail_to "Cevapla", feedback.email %></td>
</tr>
