<%= simple_form_for @feedback, validate: true, html: { class: "form-horizontal" }, remote: true do |f| %>
  <%= f.error_notification %>

  <fieldset>
    <div class="row">
      <div class="page-header">
        <h4>Bize Yazın</h4>
      </div>
      <div class="row">
        <%#= f.input :place_type, :as => :checkbox, :collection => Operation.all.map { |o| [o.place, o.id]}, :include_blank => false %>
        <%= f.input :name, placeholder: "Adınız" %>
        <%= f.input :email, placeholder: "Mail Adresiniz" %>
        <%= f.input :msg, as: :text, placeholder: "Mesajınız" %>
        <div class="input-controls rightside">
          <%= f.button :submit, "Gönder", class: 'btn btn-success' %>
        </div>
      </div>
    </div>
  </fieldset>

<% end %>