<div id="feedback_form">
  <%= simple_form_for @feedback, validate: true, html: { class: "form-horizontal" }, remote: true do |f| %>
    <%= f.error_notification %>

    <div class="pageBlock">

      <div class="page-header">
        <h4><%= t("companies.title.quick_feedback") %></h4>
      </div>

      <div class="page-body">
        <fieldset>
          <legend>Bize Yazın</legend>
          <div class="row">
            <%= f.input :name, placeholder: "Adınız" %>
            <%= f.input :email, placeholder: "Mail Adresiniz" %>
            <%= f.input :msg, as: :text, placeholder: "Mesajınız" %>
          </div>
        </fieldset>
      </div>

      <div class="form-actions">
        <%= f.submit t("defaults.action.send"), class: 'btn btn-success' %>
      </div>

    </div>
  
  <% end %>
</div>