<div id="feedback_form" class="modal">
  <%= simple_form_for @feedback, validate: true, html: { class: "form-horizontal" }, remote: true do |f| %>
    <%= f.error_notification %>

    <div class="pageBlock">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h4><%= t("feedbacks.title.quick_feedback") %></h4>
      </div>

      <div class="modal-body">
        <fieldset>
          <legend><%= t("feedbacks.title.contact_us") %></legend>
          <div class="row">
            <%= f.input :name, label: t("feedbacks.label.name"), placeholder: t("feedbacks.placeholder.name") %>
            <%= f.input :email, label: t("feedbacks.label.email"), placeholder: t("feedbacks.placeholder.email") %>
            <%= f.input :msg, as: :text, label: t("feedbacks.label.msg"), placeholder: t("feedbacks.placeholder.msg") %>
          </div>
        </fieldset>
      </div>

      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true"><%= t("defaults.action.close") %></a>
        <%= f.submit t("defaults.action.send"), class: 'btn btn-success' %>
      </div>

    </div>
  
  <% end %>
</div>
<script type="text/javascript">$("#new_feedback").validate();</script>