<div id="search-form" class="profile widget">
  <div class="page-header">
    <h5>Rapor Kriter Seçimi</h5>
  </div>
  <div class="row-fluid">
  <%= simple_form_for @search, html: { class: "form-horizontal" } do |f| %>
    <fieldset>
    <%= f.simple_fields_for :filter do |ff| %>
      <div class="row-fluid">
    	  <div class="span6">
    		  <%= ff.input :reference, label: t("companies.label.contact_name"), input_html: { value: @search.filter["reference"] } %>
    	  </div>
    	  <div class="span6">
    	    <%= ff.input :docdate1, label: "Kayıt Tarihi" do %>
    	      <%= ff.input_field :docdate1, as: "string", class: "input-date datepicker", value: @search.filter["docdate1"] %>
    	      <%= ff.input_field :docdate2, as: "string", class: "input-date datepicker", value: @search.filter["docdate2"] %>
    	    <% end %>
    	  </div>
      </div>
      <div class="row-fluid">
        <div class="span6">
          <%= ff.input :company_id, as: :hidden, label: t("defaults.label.company"), input_html: { class: "chosen_input", "data-url" => "/companies.json", value: @search.filter["company_id"] } %>
        </div>
        <div class="span6">
          <%#= f.input :branch_id, as: :select, collection: current_patron.branches, selected: current_user.branch_id %>
        </div>
      </div>
    <% end %>
    </fieldset>

      <%= f.input :model, as: :hidden, value: "contacts" %>
      <%= f.input :searched, as: :hidden, value: :false %>

      <%= f.button :submit, "Search", class: 'btn btn-success' %>
      <%#= link_to "Detaylı Ara", "#", class: 'togglebutton', "data-placement" => "below",  "rel" => 'twipsy', "title" => "Detaylı Ara", "data-href" => "#load_form_details" %>
      <div id="load_form_details" class="row-fluid slidingDiv">
      </div>
  <% end %>
  </div>
</div>
