<div id="search-form" class="widget">
<%= simple_form_for @search, html: {class: 'form-horizontal'} do |f| %>
  <fieldset>
  <div class="row-fluid">
		<div class="span6">
      <%= f.input :direction do %>
        <%= f.input_field :direction, as: :select, collection: Position.direction_types.map { |r| [r[1], r[0] ] }, class: "input-small" %>
        <%= f.input_field :paid_at, as: :select, collection: Position.payment_types.map { |r| [r[1], r[0] ] }, class: "input-small" %>
      <% end %>
		</div>
		<div class="span6">
      <%= f.input :docdate1, label: "Tarih Aralığı" do %>
        <%= f.input_field :docdate1, as: "string", class: "input-small", "data-datepicker" => "datepicker" %>
        <%= f.input_field :docdate2, as: "string", class: "input-small", "data-datepicker" => "datepicker" %>
        <%= f.button :submit, "Search", class: 'btn btn-primary' %>
        <%= link_to "Detaylı Ara", "#", class: 'togglebutton', "data-placement" => "below",  "rel" => 'twipsy', "title" => "Detaylı Ara", "data-href" => "#pos_form_details" %>
      <% end %>
		</div>
    <div id="pos_form_details" class="slidingDiv span12">
      <%= f.input :transporter_id %>
      <%= f.input :branch_id, as: :select, collection: current_patron.branches %>
    </div>
    <%= f.input :model, as: :hidden, input_html: { value: "positions" } %>
    <%= f.input :operation, as: :hidden %>
  </div>
  </fieldset>

<% end %>
</div>
