<div id="search-form" class="widget">
<%= simple_form_for @search, :html => {:class => 'form-horizontal'}, :remote => true do |f| %>
  <fieldset>
  <div class="row-fluid">
    <div class="span6">
    <%= f.input :direction do %>
      <%= f.input_field :direction, :as => :select, :collection => Position.direction_types.map { |r| [r[1], r[0] ] },:class => "input-medium", :include_blank => false %>
      <%= f.input_field :branch_id, :as => :select, :collection => current_patron.branches, :class => "input-medium" %>
    <% end %>
    </div>
    <div class="span6">
    <%= f.input :docdate1, :label => "Load Date" do %>
      <%= f.input_field :docdate1, :as => "string", :class => "input-small", "data-datepicker" => "datepicker" %>
      <%= f.input_field :docdate2, :as => "string", :class => "input-small", "data-datepicker" => "datepicker" %>
      <%= f.button :submit, "Search", :class => 'btn btn-primary' %>
      <%= link_to "Detaylı Ara", "#", :class => 'togglebutton', "data-placement" => "below",  "rel" => 'twipsy', "title" => "Detaylı Ara", "data-href" => "#res_form_details" %>
    <% end %>
    </div>
    <div id="res_form_details" class="slidingDiv span12">
      <%= f.input :company_id %>
      <%= f.input :country_id, :as => :select, :collection => Country.all, :include_blank => false, :input_html => {:class => "input-medium"} %>
    </div>
    <%= f.input :model, :as => :hidden, :input_html => { :value => "reservations" } %>
    <%#= f.input :id, :as => :hidden, :input_html => { :value => "" } %>
    <%= f.input :searched, :as => :hidden, :input_html => { :value => "false" } %>
    <%= f.input :operation, :as => :hidden %>
  </div>
  </fieldset>
<% end %>
</div>
