<% case @search.model %>
  <% when "positions" %>
    <%= render 'searches/positions_form' %>
    <div class="page-header">
      <h4>Proje Listesi
        <small class="pull-right">
          <a href="#" class="saveascsv" data-table="position_report_results">Excele Aktar</a>
        </small>
      </h4>
    </div>
    <div class="row-fluid">
      <%= render 'positions/related_list', :objects => @positions %>
    </div>

  <% when "loadings" %>
    <%= render 'searches/loadings_form' %>
    <div class="page-header">
    	<h4>Yük Listesi
	    	<small class="pull-right">
	    		<a href="#" class="saveascsv" data-table="loading_report_results">Excele Aktar</a>
	    	</small>
      </h4>
    </div>
    <div class="row-fluid">
      <%= render 'loadings/related_list', :objects => @loadings %>
    </div>

  <% when "reservations" %>
    <%= render 'searches/reservation_form' %>
    <%= render 'reservations', :reservations => @reservations %>
  <% else %>
    <%= render "#{@search.model}_results" %>
<% end %>
<% javascript "report_manifest" %>