<div class="row-fluid">
  <div class="span6">
    <%= simple_form_for @todolist, html: { class: 'form-search' }, validate: true do |f| %>
      <%= f.error_notification %>

      <div class="page-header">
        <h4>Yeni Todolist</h4>
      </div>
      <div class="row-fluid">
	      <%= f.input :name, placeholder: t("todolists.placeholder.todolist_name"), input_html: { class: "input-xxlarge" }, label: false %>
	      <%= f.input :todop_type, as: :hidden %>
	      <%= f.input :todop_id, as: :hidden %>
	    </div>
      <div class="form-actions">
        <%= f.submit(t("defaults.action.save"), class: 'btn btn-info') %>
      </div>
    <% end %>    
  </div>
</div>