<div class="row-fluid">

  <div class="row-fluid">
	  <div class="page-header">
      <h5><%= todolist.name %></h5>
    </div>
    <ul id="todolist_<%= @todolist.id %>_uncompleted_tasks_list">
      <%= render todolist.incomplete_tasks %>
    </ul>
    <ul id="todolist_<%= @todolist.id %>_completed_tasks_list">
      <%= render todolist.completed_tasks %>
    </ul>
  </div>

  <div class="row-fluid">
    <div class="row-fluid">
      <%= render "tasks/form", todolist: todolist %>
    </div>
  </div>

</div>