<tr>
  <td><%= listheader.name %></td>
  <td><%= listheader.code %></td>
  <td><%= listheader.i18n_code %></td>
  <td><%= link_to "Güncelle", edit_listheader_path(listheader) %> | <%= link_to "Detay", listheader_path(listheader) %></td>
</tr>