<div class="row-fluid fields">
  <fieldset>
    <%= f.input :code, label: "List Item" do  %>
      <%= f.input_field :code, class: "input-small" %>
      <%= f.input_field :name, class: "input-small" %>
      <%= f.input_field :i18n_code, class: "input-small" %>
      <%= f.input_field :_destroy, as: :hidden %>
      <%= link_to_remove_fields t("defaults.link.destroy"), f %>
    <% end %>
  </fieldset>
</div>