<tr>
  <td><%= link_to country.code, country_path(country) %></td>
  <td><%= link_to country.name, country_path(country) %></td>
  <td><%= country.telcode %></td>
  <td><%= country.locale %></td>
  <td><%= country.language %></td>
  <td><%= country.time_zone %></td>
  <td><%= country.mail_encoding %></td>
  <td><%= link_to 'Edit', edit_country_path(country) %></td>
  <td><%#= link_to 'Destroy', country, confirm: 'Are you sure?', method: :delete %></td>
</tr>
