<%= simple_form_for @country, :validate => true do |f| %>
  <%= f.error_notification %>

  <div class="row-fluid">

    <fieldset>
      <div class="page-header span12">
        <h4>Country</h4>
      </div>
      <div class="span6">
        <%= f.input :code  %>
        <%= f.input :name %>
        <%= f.input :telcode %>
        <%= f.button :submit, :class => 'btn primary' %>
      </div>
    </fieldset>
  </div>
<% end %>
