<div id="country_form" class="row-fluid">
<%= simple_form_for @country, validate: true, html: { class: "form-horizontal" } do |f| %>
  <%= f.error_notification %>
  <%= f.error :base, error_method: :to_sentence %>

    <div class="pageBlock">
   
      <div class="page-header">
        <h4>Ülke Bilgisi<small class="pull-right"></small></h4>
      </div>
      <div id="country-main-form" class="row-fluid">
        <div class="span6">
          <fieldset>
            <%= f.input :code  %>
            <%= f.input :name %>
            <%= f.input :telcode %>
          </fieldset>
        </div>
        <div class="span6">
          <fieldset>
            <%= f.input :locale  %>
            <%= f.input :language %>
            <%= f.input :time_zone  %>
            <%= f.input :mail_encoding  %>
          </fieldset>
        </div>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Ülke Bilgisini Kaydet", class: 'btn btn-info', :accesskey => "s" %>
        <button type="button" class="btn">Vazgeç</button>
      </div>
    </div>
<% end %>
</div>