<div id="country" class="row-fluid">

  <div>
    <span><%= @country.name %></span>
    <span class="rightside">
      <%= link_to "Add City", new_user_path %>
      <%= link_to "Add State", new_user_path %>
    </span>
  </div>

  <div class="row-fluid">

    <div id="new_city" class="span6">
      <%= simple_form_for ([@country.cities.build]), :validate => true do |f| %>
        <%= f.error_notification %>
        <div class="row-fluid">
          <fieldset>
            <div class="page-header">
              <h4>Add City</h4>
            </div>
            <div class="span6">
              <%= f.input :country_id, :as => :hidden, :input_html => { :value => @country.id }  %>
              <%= f.input :code  %>
              <%= f.input :name %>
              <%= f.input :telcode %>
              <%= f.button :submit, :class => 'btn primary' %>
            </div>
          </fieldset>
        </div>

      <% end %>
    </div>

    <div id="cities" class="span6">
      <div class="page-header">
        <h4>City List</h4>
      </div>
      <table class="table table-stripped">
        <tr>
          <th>Name</th>
          <th>Kod</th>
          <th>Tel Kod</th>
        </tr>

      <% @country.cities.each do |city| %>
        <tr>
          <td><%= city.name %></td>
          <td><%= city.code %></td>
          <td><%= city.telcode %></td>
        </tr>
      <% end %>
      </table>
    </div>


  </div>
</div>
