<li id="Post_<%= post.id %>" class="media">
  <%= link_to user_small_avatar(post.user), main_app.user_path(post.user), class: "pull-left" %>
  <div class="media-body">
    <div class="media-content">
      <%= link_to sanitize(post.message), main_app.post_path(post) %>
      <span class="sub-info"><%= post.last_comment.comment_text unless post.last_comment.nil? %></span>
      <%#= link_to post.target_name, polymorphic_url(post.target), title: "#{post.target_type}: #{post.target_name}" if post.target_id %>
    </div>
    <div class="media-meta">
      <span class="sub-info"><%= link_to user_name(post.user), main_app.user_path(post.user) %></span>
      <!--span class="pull-left timeago" title="<%= post.created_at.round(0).iso8601(10) %>"></span-->
      <span class="sub-info"><%= post.created_at.to_s(:pretty) %></span>
    </div>
    <%#= render "comments/commentable", object: post %>
  </div>
</li>