<div class="span6">
	<legend><%= t("counters.label.#{f.object.operation}_#{f.object.counter_type}_reference")%></legend>
  <fieldset>
    <%= f.input :prefix, class: "input-small" %>
	  <%= f.input :count, class: "input-small" %>
	  <%= f.input :suffix, class: "input-small" %>
	  <span class="controls">
	  	Örnek:<%= "#{f.object.prefix}#{sprintf('%07d', f.object.count)}#{f.object.suffix}" %>
	  </span>
	  <%= f.input :operation, as: :hidden %>
	  <%= f.input :counter_type, as: :hidden %>
	  <%= f.input :id, as: :hidden %>
    <% if f.object.counter_type.to_s == "Loading" %>
	  <p>
	  	Yük reservasyonlarına verilecek referans numarası formatını belirlemek üzeresiniz.<br>Taşınacak yükler ile ilgili müşterilerinizle yapacağınız bilgi alışverilerinde bu referans numarasını kullanacaksınız.
	  </p>
	  <% end %>
	  <% if f.object.counter_type.to_s == "Position" %>
	  <p>
	  	Proje referans numarası formatını belirlemek üzeresiniz.<br>
	  	Taşımanın kesinleştiği andan itibaren tamamlanmasına kadar geçen sürede yapılacak bütün işlemlerde bu referans numrasını kullanacaksınız.
	  </p>
	  <% end %>
  </fieldset>
</div>