<div id="setup_address">
  <legend class="alert alert-success">Hoşgeldiniz, şimdi birkaç adımda sizi tanımaya çalışacağız, sabrınız için şimdiden teşekkürler :)</legend>
  <div class="row-fluid">
    <ul class="breadcrumb">
      <li><a href="#">Adress Bilgileri</a><span class="divider">>></span></li>
      <li><a href="#">Lojistik Profil</a><span class="divider">>></span></li>
      <li class="active">Referans Numaraları<span class="divider">>></span></li>
      <li><a href="#">Şube Bilgileri</a></li>
      <li><a href="#">Kullanıcı Bilgileri</a></li>
    </ul>
  </div>

  <div id="opform">
  <%= simple_form_for @patron, url: wizard_path, method: :put, html: { class: 'form-horizontal'}, validate: true do |f| %>
  <%= f.error_notification %>
  <fieldset>

  <div class="pageBlock">
 
    <!--div class="tabbable tabs-below"-->
    <div>

      <div id="my-tab-content" class="tab-content">
        <div id="position-main-form" class="tab-pane active">
          <legend>Operasyonel Sayaç Tanımları</legend>
          <div class="row-fluid">
            <div class="span12">
              <fieldset>
                <%= f.simple_fields_for :counters do |cf| %>
                  <% unless cf.object.operation.blank? %>
                    <%= render 'counter_fields', :f => cf %>                    
                  <% end %>
                <% end %>
              </fieldset>
              <div class="controls">
                <%= link_to "Bu Adımı Atla >>", next_wizard_path, :class => 'btn btn-danger' %>
                <%= f.button :submit, "İleri >> Şube Tanımları", :class => 'btn btn-info' %>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <%= f.error :base %>
  </div>

  </fieldset>
  <% end %>
  </div>
</div>
