<div id="setup_address">
  <legend class="alert alert-success">Hoşgeldiniz, şimdi birkaç adımda sizi tanımaya çalışacağız, sabrınız için şimdiden teşekkürler :)</legend>
  <div class="row-fluid">
    <ul class="breadcrumb">
      <li><a href="#">Adress Bilgileri</a><span class="divider">>></span></li>
      <li><a href="#">Lojistik Profil</a><span class="divider">>></span></li>
      <li><a href="#">Referans Numaraları</a><span class="divider">>></span></li>
      <li><a href="#">Şube Bilgileri</a><span class="divider">>></span></li>
      <li class="active">Kullanıcı Bilgileri</li>
    </ul>
  </div>

  <div id="opform">
  <%= simple_form_for @patron, :url => wizard_path, :method => :put, :validate => true do |f| %>
  <%= f.error_notification %>
  <fieldset>

  <div class="pageBlock">
 
    <!--div class="tabbable tabs-below"-->
    <div>

      <div id="my-tab-content" class="tab-content">
        <div id="position-main-form" class="tab-pane active">
          <legend>Kullanıcı Bilgileri</legend>
          <div class="row-fluid">
            <div class="span12">
              <fieldset>
                <%= f.simple_fields_for :users do |cf| %>
                  <% if cf.object.new_record? %>
                    <%= render 'user_fields', :f => cf %>
                  <%# else %>
                    <%#= render 'users/user', :user => cf.object %>
                  <% end %>
                <% end %>
                <%= link_to_add_fields "Yeni Kullanıcı Ekle", f, :users %>
              </fieldset>
              <div class="controls">
                <%= link_to "Bu Adımı Atla >>", next_wizard_path, :class => 'btn btn-danger' %>
                <%= f.button :submit, "İleri >>", :class => 'btn btn-info' %>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <%= f.error :base %>
  </div>

  </fieldset>
  <% end %>
  </div>
</div>
