<div id="fleetman_home_content" class="row-fluid">

  <div class="span6">

    <div class="row-fluid">
      <div id="operation_links">
        <legend>İşlemler</legend>
          <table class="table table-condensed">
            <tr><td><%= link_to "Yeni Araç", new_vehicle_path %></td></tr>
            <tr><td><%= link_to "Sürücü/Çekici İş Emri Oluştur", new_contact_path %></td></tr>
            <tr><td><%= link_to "Sürücü Avans/Masraf Hesaplaşması", payback_path(:select_staff) %></td></tr>
            <tr><td><%= link_to "", "#" %></td></tr>
          </table>
      </div>
    </div>

    <div class="row-fluid">
      <legend>Son Yapılan İşlemler</legend>
      <div id="last_fleetman" class="profile tabbable">
        <ul class="nav nav-tabs" data-tabs="tabs">
          <li class="active"><a data-toggle="tab" href="#invoice_list">Son Faturalar</a></li>
          <li><a data-toggle="tab" href="#income_list">Son Tahsilatlar</a></li>
          <li><a data-toggle="tab" href="#pay_list">Son Ödemeler</a></li>
          <li><%= link_to "Detaylı Ara >>", new_search_path, class: "small-size-link" %></li>
        </ul>

        <div id="my-tab-content" class="tab-content">

          <div id="invoice_list" class="tab-pane profile-content active">
            
          </div>

          <div id="income_list" class="tab-pane profile-content">
            
          </div>

          <div id="pay_list" class="tab-pane profile-content">
            
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="span6">
    <div class="row-fluid">
      <div id="crm_tasks">
        <legend>Raporlar</legend>
        <table class="table table-condensed">
          <tr><td><%= link_to "Fatura Listesi", fleetman_path %></td></tr>      
          <tr><td><%= link_to "Ödeme/Tahsilat Listesi", fleetman_path %></td></tr>
          <tr><td><%= link_to "Nakit Akışı", fleetman_path %></td></tr>
        </table>

        <legend>Görevler & Notlar</legend>
        <table class="table table-condensed">
          <tr><td>TK253 Nolu sefer kontrol edilecek, Beko'ya bilgi verilecek</td></tr>
          <tr><td>@KRF545654 yük dosyası kapatılmalı %></td></tr>
          <tr><td>@KRF854126 yük taşıması tamamlanınca faturası kesilecek</td></tr>
          <tr><td>CASS yeni stok talebi yapılacak</td></tr>
          <tr><td>Haftalık genel taşıma raporu düzenlenecek</td></tr>
        </table>
      </div>
    </div>

    <div id="fleetman_chart">

    </div>
  </div>
</div>