<tr>
  <td><%= vehicle.code %></td>
  <td><%= vehicle.vehicle_class %></td>
  <td><%= vehicle.model_year %>&nbsp;<%= vehicle.brand %>&nbsp;<%= vehicle.model %></td>
  <td><%= vehicle.country.code %></td>
  <td><%= vehicle.ownership %></td>
  <td><%= vehicle.vehicle_price %>&nbsp;<%= vehicle.price_curr %></td>
  <td><%= vehicle.fuel_capacity %>&nbsp;<%= vehicle.fuel_type %></td>
  <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
</tr>

