<div id="item<%= activity.target_id %>" class="hoverable <%= activity.target_type.downcase %>Item">
  <div id="<%= activity.target_type.downcase %><%= activity.target_id %>" class="recentItem">
    <%= link_to activity.target, :title => "#{activity.target_type}: #{activity.target_name}", "rel" => "popover", "data-content" => "<h2>#{activity.target_name}</h2><p>Firma Bilgileri</p>" do %>
      <i class="icon-<%= activity.target_type.downcase %>"></i>
      <span><%= activity.target_name %></span>
    <% end %>
  </div>
</div>
