<div id="item<%= activity.target_id %>" class="hoverable <%= activity.target_type.downcase %>Item">
  <div id="<%= activity.target_type.downcase %><%= activity.target_id %>" class="recentItem">
    <%= link_to activity.target, rel: "popover", "data-content" => "#{activity.target_name}", "data-original-title" => "" do %>
      <i class="icon-<%= activity.target_type.downcase %>"></i>
      <span><%= activity.target_name %></span>
    <% end %>
  </div>
</div>
