<div id="opform" class="row-fluid">

  <div class="pageBlock">

    <%= render 'shared/form_header', message: "Müşteri Sistemde Mevcut mu ?" %>

    <div class="row-fluid">
      <%= form_tag(wizard_path, method: :put, class: 'form-horizontal') do |f| %>

        <fieldset>
          <div class="controls">
            <%= radio_button_tag(:is_customer, "no") %>
            <%= label_tag(:is_customer_no, "Müşteri Sistemde kayıtlı değil") %>
          </div>
          <div id="new-customer-div" class="row-fluid" style="display:none">
            <%= link_to "Yeni Müşteri Kaydı Oluşturalım >>", next_wizard_path, :class => 'btn btn-danger' %>
          </div>
          <div class="controls">
            <%= radio_button_tag(:is_customer, "yes") %>
            <%= label_tag(:is_customer_yes, "Müşteri Sistemde Mevcut") %>
          </div>
          <div id="old-customer-div" class="row-fluid" style="display:none">
            <%= select_tag :company_id,  "<option>Müşteri Seçiniz</option>".html_safe, :multiple => false, :class => "chosen_input", "data-url" => "/companies.json" %>
            <%= submit_tag "İlgili Müşteri için Yük Oluşturalım >>", :class => 'btn btn-info' %>
            <%#= link_to "İlgili Müşteri için Yük Oluşturalım >>", reservation_path(:load_info, :operation => "sea"), :class => 'btn btn-info' %>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>