<div class="row-fluid">
  <ul class="breadcrumb">
    <li class="<%= (step == 1 ? 'active' : '')%>"><a href="#"><%= t("operations.title.loading_info") %></a><span class="divider">>></span></li>
    <li class="<%= (step == 2 ? 'active' : '')%>"><a href="#"><%= t("operations.title.departure_info") %></a><span class="divider">>></span></li>
    <li class="<%= (step == 3 ? 'active' : '')%>"><a href="#"><%= t("operations.title.arrival_info") %></a><span class="divider">>></span></li>
    <li class="<%= (step == 4 ? 'active' : '')%>"><a href="#"><%= t("operations.title.loading_detail") %></a></li>
  </ul>
</div>