<div id="arrival">

  <%= render 'loadings/profile_header' %>
  <%= render 'breadcrumb', step: 3 %> 

  <div id="opform" class="row-fluid">
  <%= simple_form_for @arrival, url: wizard_path, method: :put, html: { class: 'form-horizontal'}, validate: true do |f| %>
    <%= f.error_notification %>
    
    <div class="row-fluid">
      <% if current_operation == 'inland' %>

        <%= render 'arrivals/form_fields_inland', :f => f %>
    
        <div class="row-fluid">
          <legend>Koli Bilgileri</legend>
          <%= f.fields_for :packages do |builder| %>
            <%= render 'packages/form_simple', :f => builder %>
          <% end %>
          <%= link_to_add_fields "Koli Bilgisi Ekle", f, :packages, "packages/form_simple" %>
        </div>

      <% else %>
        <%= render 'arrivals/form_fields', :f => f %>
      <% end %>

      <div class="form-actions">
        <%= link_to t("operations.button.skip_this_step"), next_wizard_path, class: 'btn btn-danger' %>
        <%= f.button :submit, t("operations.button.save_departure_continue_to_details"), class: 'btn btn-info' %>
      </div>
    </div>
  <% end %>
  </div> 

</div>