<div id="loading">

  <%= render 'loadings/profile_header' %>

  <div id="opform" class="row-fluid">
    <%= simple_form_for @loading, :url => wizard_path, :method => :put, :html => {:class => 'form-horizontal'}, :validate => true do |f| %>
      <%= f.error_notification %>
      <div class="pageBlock">
        
        <%= render 'shared/form_buttonsh', :f => f %>
        <%= render 'loadings/form_detail', :f => f %>

        <div class="controls rightside">
          <%#= link_to "Bu Adımı Atla >>", next_wizard_path, :class => 'btn btn-danger' %>
          <%= f.button :submit, "Kaydet & Yükleme Profil Sayfasını Aç >>", :class => 'btn btn-info' %>
        </div>
      </div>
    <% end %>
  </div>

  <%= render 'breadcrumb', step: 4 %>
  
</div>