<div id="loading">

  <%= render 'loadings/profile_header' %>
  <%= render 'breadcrumb', step: 4 %>

  <div id="opform" class="row-fluid">
    <%= simple_form_for @loading, url: wizard_path, method: :put, html: { class: 'form-horizontal' }, validate: true do |f| %>
      <%= f.error_notification %>
      <div class="pageBlock">

        <%= render 'loadings/form_detail', :f => f %>

        <div class="form-actions">
          <%= link_to t("operations.button.skip_this_step"), next_wizard_path, class: 'btn btn-danger' %>
          <%= f.button :submit, t("operations.button.save_details_and_continue_to_profile"), class: 'btn btn-info' %>
        </div>
      </div>
    <% end %>
  </div>
  
</div>