<div id="loading">

  <div id="opform" class="row-fluid">
    <%= simple_form_for @loading, :url => wizard_path, :method => :put, :html => {:class => 'form-horizontal'}, :validate => true do |f| %>
      <%= f.error_notification %>

      <div class="pageBlock">
        <%= render 'shared/form_header', message: "Yeni Yük Oluşturma" %>

        <% if @loading.operation == 'inland' %>
          <%= render 'loadings/form_inland', :f => f %>
        <% else %>
          <%= render 'loadings/form_main', :f => f %>
        <% end %>

        <%= f.error :base %>
        <div class="controls rightside">
          <%#= link_to "Bu Adımı Atla >>", next_wizard_path, :class => 'btn btn-danger' %>
          <%= f.button :submit, "Kaydet & Yükleme Bilgilerine Devam Et >>", :class => 'btn btn-info' %>
        </div>
      </div>

    <% end %>
  </div>

  <%= render 'breadcrumb', step: 1 %>

</div>