<%= simple_form_for @place, html: {class: 'form-horizontal'}, validate: true do |f| %>
  <%= f.error_notification %>

  <div class="row-fluid">
    <fieldset>
        <%= f.input :place_type, as: :select, collection: Place.place_types.map { |r| [r[1], r[0] ] }, include_blank: false %>
        <%= f.input :name %>
        <%= f.input :code %>
        <%= f.input :address %>
        <%= f.input :postcode %>
        <%= f.input :district %>
        <%= f.input :country_id, as: :select, collection: Country.find(:all, order: :name), include_blank: true, input_html: { class: "country_select", "data-placeholder" => "Ülke Seçiniz" } %>
        <%#= f.input :state_id %>
        <%#= f.input :city_id, :as => :select, :collection => [[@place.city_id ? @place.city.name : "", @place.city_id]], :include_blank => false, input_html: { class: "city_select" }, "data-placeholder" => "Şehir Seçiniz" %>
        <%= f.input :city_id, as: :select, collection: City.find(:all, conditions: ["country_id = :c", { :c => @place.country_id } ]), include_blank: true, input_html: { class: "city_select", "data-placeholder" => "Şehir Seçiniz"} %>
        <%= f.input :description, as: :text, input_html: {rows: "3"} %>
        <div class="control">
          <%= f.button :submit, :class => 'btn btn-primary' %>
        </div>
    </fieldset>
  </div>
<% end %>
