<%= simple_form_for @place, :html => {:class => 'form-horizontal'}, :validate => true do |f| %>
  <%= f.error_notification %>

  <div class="row-fluid">
    <fieldset>
        <%= f.input :place_type, :as => :select, :collection => Place.place_types.map { |r| [r[1], r[0] ] }, :include_blank => false %>
        <%= f.input :name %>
        <%= f.input :code %>
        <%= f.input :address %>
        <%= f.input :postcode %>
        <%= f.input :district %>
        <%= f.input :country_id, :as => :select, :collection => Country.all, :include_blank => false %>
        <%#= f.input :state_id %>
        <%= f.input :city_id, :as => :select, :collection => City.all, :include_blank => false %>
        <%= f.input :description, :as => :text, :input_html => {:rows => "3"} %>
        <div class="control">
          <%= f.button :submit, :class => 'btn btn-primary' %>
        </div>
    </fieldset>
  </div>
<% end %>
