<div class="row-fluid">

<legend>Yükleme Boşaltma Noktaları</legend>
<div class="rightside">
  <div class="btn-group">
    <a class="btn btn-success" href="#" data-toggle="dropdown"><i class="icon-plus-sign icon-white"></i>Lojistik Noktası Ekle</a> 
    <a class="btn btn-success dropdown-toggle" href="#" data-toggle="dropdown">
      <span class="caret" />
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "Havalimanı Ekle", new_place_path(:place_type => "air") %></li>
      <li><%= link_to "Denizlimanı Ekle", new_place_path(:place_type => "sea") %></li>
      <li><%= link_to "İstasyon Ekle", new_place_path(:place_type => "rail") %></li>
      <li><%= link_to "Sınırkapısı Ekle", new_place_path(:place_type => "road") %></li>
      <li><%= link_to "Gümrük Ekle", new_place_path(:place_type => "custom") %></li>
    </ul>
  </div>
</div>
<table class="table table-stripped">
  <tr>
    <th>Type</th>
    <th>Name</th>
    <th>Code</th>
    <th>Country</th>
    <th>City</th>
    <th>District</th>
    <th>Description</th>
  </tr>
  <%= render @places %>

</table>

<div class="span6">
  <%= gmaps4rails(@json) %>
</div>
</div>


