<li class="menubaritem femaleuser">
   <div class="dropcontent">
      <div class="row">
	<div class="span4 columns">
	  <div class="uprofile">
		<img class="photo" src="../assets/user_male.png" alt="" />
		<a href="#">State of the Web 2010</a>
		<p>From TechCrunch John Doe, on April 10, 2010</p>
	  </div>
	</div>
      </div>
   </div>
</li>		
<li class="menubaritem air">
   <div class="dropcontent">
      <div class="row">
         <div><h5>Air Module Links</h5></div>
	 <div class="span6 columns">
	 <div class="span3">
	    <ul>
		<li><%= link_to "Position List", positions_path(:operation => 'Air') %></li>
		<li><%= link_to "Load List", loadings_path(:operation => 'Air') %></li>
		<li><a href="airproposal.html">Proposal List</a></li>
		<li><%= link_to "Airports", places_path(:place_type => "AP") %></li>
	    </ul>   
	 </div>
	 <div class="span3">
							<ul>
								<li><%= link_to "Create Position", new_position_path %></li>
								<li><%= link_to "Create Loading", new_loading_path %></li>
								<li><a href="#">Create Proposal</a></li>
								<li><a href="#">Parameters</a></li>
							</ul>   
						</div>
					</div>
                </div>
			  </div>
			</li>
			<li class="menubaritem sea">
              <div class="dropcontent">
				<div class="row">
					<div><h5>Sea Module Links</h5></div>
					<div class="span6 columns">
						<div class="span3">
							<ul>
								<li><a href="mainmenu.html">Position List</a></li>
								<li><a href="airload.html">Good List</a></li>
								<li><a href="airproposal.html">Proposal List</a></li>
								<li><a href="#">Reservation List</a></li>
							</ul>   
						</div>
						<div class="span3">
							<ul>
								<li><a href="airpos.html">Create Position</a></li>
								<li><a href="#">Create Loading</a></li>
								<li><a href="#">Create Reservation</a></li>
								<li><a href="#">Create Proposal</a></li>
								<li><a href="#">Parameters</a></li>
							</ul>   
						</div>
					</div>
                </div>
			  </div>
			</li>
			<li class="menubaritem truck">
              <div class="dropcontent">
				<div class="row">
					<div><h5>Truck Module Links</h5></div>
					<div class="span6 columns">
						<div class="span3">
							<ul>
								<li><a href="mainmenu.html">Position List</a></li>
								<li><a href="airload.html">Good List</a></li>
								<li><a href="airproposal.html">Proposal List</a></li>
								<li><a href="#">Reservation List</a></li>
							</ul>   
						</div>
						<div class="span3">
							<ul>
								<li><a href="airpos.html">Create Position</a></li>
								<li><a href="#">Create Loading</a></li>
								<li><a href="#">Create Reservation</a></li>
								<li><a href="#">Create Proposal</a></li>
								<li><a href="#">Parameters</a></li>
							</ul>   
						</div>
					</div>
                </div>
			  </div>
			</li>
<li class="menubaritem rail">
   <div class="dropcontent">
       <div class="row">
          <div><h5>Rail Module Links</h5></div>
          <div class="span6 columns">
            <div class="span3">
               <ul>
                  <li><a href="mainmenu.html">Position List</a></li>
                  <li><a href="airload.html">Good List</a></li>
                  <li><a href="airproposal.html">Proposal List</a></li>
                  <li><a href="#">Reservation List</a></li>
               </ul>   
            </div>
          </div>
       </div>
   </div>
</li>
<li class="menubaritem custom"></li>
<li class="menubaritem finance"></li>
<li class="menubaritem customer">
   <div class="dropcontent">
       <div class="row">
          <div><h5>Customer Management</h5></div>
          <div class="span6 columns">
            <div class="span3">
               <ul>
                  <li><%= link_to "New Customer", new_company_path %></li>
                  <li><a href="airload.html">Good List</a></li>
                  <li><a href="airproposal.html">Proposal List</a></li>
                  <li><%= link_to "New Patron", new_patron_path %></li>
               </ul>   
            </div>
          </div>
       </div>
   </div>
</li>
