<li class="menubaritem">
  <%= link_to (image_tag "config-users.png"), user_path(current_user) %>
  <%= render :partial => "layouts/menu_user" %>
</li>
<% current_patron.operations.each_with_index do |operation, index| %>
  <% unless operation.to_s.blank? %>
  <li class="menubaritem <%= operation %>">
    <%= link_to (image_tag "#{operation}.png"), home_operation_path(operation) %>
    <%= render :partial => "layouts/menu_#{operation}" %>
  </li>
  <% end %>
<% end %>
<li class="menubaritem">
  <%= link_to (image_tag "fork.png"), user_path(current_user) %>
</li>
<li class="menubaritem">
  <%= link_to (image_tag "finance.png"), user_path(current_user) %>
</li>
<li class="menubaritem">
  <%= link_to (image_tag "customer.png"), user_path(current_user) %>
  <%= render :partial => "layouts/menu_customer" %>
</li>
