<div class="navbar fill" style="margin-top:40px">
  <div id="main-navigation" class="row navbar-inner">
    <ul class="nav">
      <li class="divider-vertical"></li>
      <%= navigator("homenavigator", main_app.root_url, "Ana Sayfa", "fa fa-home") %>
      <li class="divider-vertical"></li>
      <%= navigator("postnavigator", nimbos.posts_path, "Sohbet", "fa fa-comment") %>
      <li class="divider-vertical"></li>
      <%= navigator("companynavigator", network.companies_url, "Firmalar", "fa fa-company") %>
      <%= navigator("contactnavigator", network.contacts_url, "Kontaklar", "fa fa-user") %>
      <%= navigator("positionnavigator", logistics.positions_url, "Projeler", "fa fa-barcode") %>
      <%= navigator("loadingnavigator", logistics.loadings_url, "Reservasyonlar", "fa fa-barcode") %>
      <li class="divider-vertical"></li>
      <%= navigator("warenavigator", assetim.root_url, "Envanterler", "fa fa-barcode") %>
      <li class="divider-vertical"></li>
      <%= navigator("ticketnavigator", helpdesk.root_url, "Talepler", "fa fa-bullhorn") %>
      <li class="divider-vertical"></li>
      <%= navigator("peoplenavigator", personal.people_path, "Personel Yönetimi", "fa fa-user") %>
      <li class="divider-vertical"></li>
    </ul>
  </div>
</div>