<div class="navbar">
  <div id="main-navigation" class="row profile navbar-inner" style="margin-top:50px;margin-left:5px;">
    <ul class="nav">
      <%= navigator("homenavigator", root_url, "Ana Sayfa", "icon-home") %>
      <%= navigator("companynavigator", crm_path, "Müşteriler", "icon-star-empty") %>
      <li id="opernavigator" <% if (current_tab == "opernavigator") %>class="dropdown active"<% else %>class="dropdown"<%  end %>>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-cog"></i>
          Operasyon Yönetimi
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <%= navigator("airnavigator", home_operation_path(:air), "Hava Operasyon", "icon-plane") %>
          <%= navigator("seanavigator", home_operation_path(:sea), "Deniz Operasyon", "icon-flag") %>
          <%= navigator("roadnavigator", home_operation_path(:road), "Kara Operasyon", "icon-road") %>
          <%= navigator("railnavigator", home_operation_path(:rail), "Demiryolu Operasyon", "icon-random") %>
          <!--li id="inlandnavigator"><%#= link_to home_operation_path(:inland) do %><i class="icon-qrcode"></i>Dahili Nakliye<%# end %></li>
          <li id="distronavigator"><%#= link_to home_operation_path(:distro) do %><i class="icon-qrcode"></i>Ulusal Dağıtım<%# end %></li>
          <li id="heavynavigator"><%#= link_to home_operation_path(:heavy) do %><i class="icon-qrcode"></i>Ağır Nakliye<%# end %></li-->

        </ul>
      </li>
      <%# current_patron.operations.each_with_index do |operation, index| %>
        <%# unless operation.to_s.blank? %>
          <!--li class="<%#= selected_navigation(operation.to_s) %>"><%#= link_to operation.to_s.humanize, home_operation_path(operation) %></li-->
        <%# end %>
      <%# end %>
      <%= navigator("fleetnavigator", fleetman_path, "Filo Yönetimi", "icon-road") %>
      <%= navigator("financenavigator", finance_path, "Finans", "icon-signal") %>
      <!--li id="glnavigator"><%#= link_to "#" do %><i class="icon-list-all"></i>Muhasebe<%# end %></li>
      <li id="iknavigator"><%#= link_to "#" do %><i class="icon-user"></i>İK<%# end %></li-->
      <!--li id="othersnavigator"><%#= link_to "#" do %><i class="icon-resize-full"></i>Diğer İşlemler<%# end %></li-->
    </ul>
  </div>
</div>