<div class="navbar fill" style="margin-top:40px">
  <div id="main-navigation" class="row navbar-inner">
    <ul class="nav">
      <li class="divider-vertical"></li>
      <%= navigator("homenavigator", main_app.root_url, "Ana Sayfa", "icon-home") %>
      <li class="divider-vertical"></li>
      <%= navigator("postnavigator", nimbos.posts_path, "Sohbet", "icon-comment") %>
      <li class="divider-vertical"></li>
      <%= navigator("warenavigator", assetim.root_url, "Envanterler", "icon-barcode") %>
      <li class="divider-vertical"></li>
      <%= navigator("ticketnavigator", helpdesk.root_url, "Talepler", "icon-bullhorn") %>
      <li class="divider-vertical"></li>
      <%= navigator("peoplenavigator", main_app.people_path, "Personel Yönetimi", "icon-user") %>
      <li class="divider-vertical"></li>
    </ul>
  </div>
</div>