<div class="navbar navbar-fixed-top">
  <div class="navbar-inner fill">
    <div class="container">
      <%= link_to "SocialFreight", root_url, :class => "brand" %>
      <div class="nav-collapse">
      <ul class="nav social">
        <li><a class="twitter" href="https://twitter.com/socialfreight"></a></li>
        <li><a class="facebook" href="https://www.socialfreight.com"></a></li>
        <li><a class="mail" href="https://www.socialfreight.com"></a></li>
        <li><a class="phone" href="https://www.socialfreight.com"></a></li>
      </ul>
      <ul class="nav pull-right">
        <% if current_user %>
          <% if current_patron %>
            <li><%= link_to current_patron.title, patron_path(current_patron) %></li>
          <% end %>
          <li><%= link_to current_user.email, root_url %></li>
          <li><%= link_to "Log out", logout_path %></li>
        <% else %>
          <li><%#= link_to "Kayıt Ol", signup_path %> </li>
          <li><%= link_to "Giriş Yap", login_path %></li>
          <li><%= link_to "Ücretsiz Deneyin", new_patron_path %></li>
        <% end %>
      </ul>
      </div>
    </div>
  </div>
</div>
