<!DOCTYPE html>
<html>
<head>
  <title>Socialfreight</title>
  <meta charset='utf-8'>
  <meta name="google-site-verification" content="YBxTWCsF7NumqEi-_IkfMvp4F61RxGpQ19ElYC27UEE" />
  <%= stylesheet_link_tag    "application", :debug => Rails.env.development? %>
  <%= javascript_include_tag "application", :debug => Rails.env.development? %>
  <%= csrf_meta_tags %>
  <%= yield :head %>  
</head>
<body>
  <%= render 'layouts/topbar' %>

  <div class="container-fluid">

    <div id="wrapper" class="row-fluid" style="margin-top:90px;">
      <div id="messages" class="row-fluid">
        <% flash.each do |name, msg| %>
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <%= content_tag :div, msg, :id => "flash_#{name}", :class => "alert-message #{name}" %>
        <% end %>
      </div>

      <div class="row-fluid">
        <div class="span3">
          <%= render "dashboard/admin_sidebar" %>
        </div>
        <div class="span9">
          <%= yield %>
        </div>
      </div>

    </div>

  </div>
  <footer>
    <%= yield :scripts %>
  </footer>
</body>
</html>

