<!DOCTYPE html>
<html>
<head>
  <title>Socialfreight</title>
  <%= stylesheet_link_tag    "application", :debug => Rails.env.development? %>
  <%= javascript_include_tag "application", :debug => Rails.env.development? %>
  <%= csrf_meta_tags %>
  <%= yield :head %>  
</head>
<body>
<%= render 'layouts/topbar' %>

<div class="container">
  <div id="leftmenu">
    <ul id="menu">
      <%= render 'layouts/menu' %>
    </ul>
  </div>

  <div id="content">
    <div id="messages" class="span16">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}", :class => "alert-message #{name}" %>
      <% end %>
    </div>
    <%= yield %>
  </div>

</div>
<footer>
<%= yield :scripts %>
</footer>
</body>
</html>

