<!DOCTYPE html>
<html>
<head>
  <title>Socialfreight</title>
  <meta charset='utf-8'>
  <meta name="google-site-verification" content="YBxTWCsF7NumqEi-_IkfMvp4F61RxGpQ19ElYC27UEE" />
  <%= stylesheet_link_tag    "application", :debug => Rails.env.development? %>
  <%= javascript_include_tag "application", :debug => Rails.env.development? %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31085255-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body data-spy="scroll">
  <%= render 'layouts/topbar' %>

  <div class="container-fluid">
    <%= render 'layouts/navigator' %>
    <div id="wrapper" class="row-fluid">
      <div id="messages" class="row-fluid">
        <% flash.each do |name, msg| %>
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <%= content_tag :div, msg, :id => "flash_#{name}", :class => "alert alert-#{name}" %>
        <% end %>
      </div>
      <div class="row-fluid">
        <div id="sidebarCell" class="span2 sidebarCell">
          <%= render :partial => 'shared/sidebar' %>
        </div>
        <div id="bodyCell" class="span10 oRight">
          <%= yield %>
        </div>
      </div>
    </div>

  </div>
<%#= link_to (image_tag "feedback-button.png", :alt => "Let us know what you think"), new_feedback_path, :class => "Feedback", :title => "Let us know what you think" %>
  <footer>
    <script type="text/javascript">
      (function() {jQuery(function() {$("#<%= current_tab.to_s %>").addClass("active");}})();
    </script>
    <%= yield :scripts %>
  </footer>
</body>
</html>