<!DOCTYPE html>
<html>
<head>
  <title>Socialfreight</title>
  <meta charset='utf-8'>
  <%= stylesheet_link_tag    "application", :debug => Rails.env.development? %>
  <%= javascript_include_tag "application", :debug => Rails.env.development? %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
<%= render 'layouts/topbar' %>

<div class="container-fluid">
  <%= render 'layouts/navigator' %>

  <div id="wrapper">
    <div id="messages">
      <% flash.each do |name, msg| %>
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <%= content_tag :div, msg, :id => "flash_#{name}", :class => "alert alert-#{name}" %>
      <% end %>
    </div>
    <table class="outer" width="100%" id="bodyTable" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td id="sidebarCell" class="sidebarCell">
          <%= content_for?(:sidebar) ? yield(:sidebar) : render(:partial => 'shared/sidebar')%>
        </td>
        <td class="oRight" id="bodyCell" style="vertical-align:top">
          <%= yield %>
        </td>
      </tr>
    </table>
  </div>

</div>
<%#= link_to (image_tag "feedback-button.png", :alt => "Let us know what you think"), new_feedback_path, :class => "Feedback", :title => "Let us know what you think" %>
<footer>
<%= yield :scripts %>
</footer>
</body>
</html>
<script type="text/javascript">document.getElementById('<%= current_tab %>').classList.add('active');</script>
