<!DOCTYPE html>
<html>
<head>
  <title>Socialfreight</title>
  <%= stylesheet_link_tag    "socialfreight" %>
  <%= javascript_include_tag "socialfreight" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%#= render 'layouts/topbar' %>
<%= render 'shared/site_header' %>

<div class="container-fluid" style="padding:0">

  <div id="content">
    <div id="messages" class="span16" style="margin-top:50px">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}", :class => "alert-message #{name}" %>
      <% end %>
    </div>
    <%= yield %>
  </div>

</div>
<%= render 'shared/site_news' %>
<%= render 'shared/site_footer' %>

</body>
</html>

