<!DOCTYPE html>
<html>
<head>
  <title>Socialfreight</title>
  <%= stylesheet_link_tag    "socialfreight", :debug => Rails.env.development? %>
  <%= javascript_include_tag "socialfreight", :debug => Rails.env.development? %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/topbar' %>
<%= render 'shared/site_header' %>

<div class="container" style="padding:0">

  <div id="content" class="row">
    <div id="messages">
      <% flash.each do |name, msg| %>
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <%= content_tag :div, msg, :id => "flash_#{name}", :class => "alert alert-#{name}" %>
      <% end %>
    </div>
    <%= yield %>
  </div>

</div>
<%#= render 'shared/site_news' %>
<%#= render 'shared/site_footer' %>

</body>
</html>

