<div id="content">
  <div id="operation" class="profile tabbable">
    <ul class="nav nav-tabs" data-tabs="tabs">
      <li class="active"><a data-toggle="tab" href="#position_list">Positions</a></li>
      <li><a data-toggle="tab" href="#loading_list">Loadings</a></li>
      <li><a data-toggle="tab" href="#reservation_list">Reservations</a></li>
    </ul>

    <div id="my-tab-content" class="tab-content">
      <div id="position_list" class="tab-pane profile-content active">
        <%= render 'searches/position_form' %>
        <% if @operation.positions %>
          <%= render 'positions/positions', :positions => @operation.positions %>
        <% end %>
      </div>

      <div id="loading_list" class="tab-pane profile-content">
        <%= render 'searches/loading_form' %>
        <% if @operation.loadings %>
          <%= render 'loadings/loadings', :loadings => @operation.loadings %>
        <% end %>
      </div>

      <div id="reservation_list" class="tab-pane profile-content">
        <%= render 'searches/reservation_form' %>
        <% if @operation.loadings %>
          <%= render 'loadings/loadings', :loadings => @operation.reservations %>
        <% end %>
      </div>
    </div>
  </div>
</div>

