<div class="profile-section">
  <div class="profile-data-section">
    <h4 class="profile-data-section">İşlemler</h4>
  </div>
  <div class="profile-data-body">

    <div class="profile-data-section">
      <%= link_to new_position_path(:operation => operation.id), :class => "sidelink-item" do %>
        <%= image_tag "occupied_icon.png" %>
        <span>Pozisyon Oluştur</span>
      <% end %>
    </div>

    <div class="profile-data-section">
      <%= link_to new_loading_path(:operation => operation.id), :class => "sidelink-item" do %>
        <%= image_tag "occupied_icon.png" %>
        <span>Yük Reservasyonu Oluştur</span>
      <% end %>
    </div>

    <div class="profile-data-section">
      <%= link_to planning_search_path(:operation => operation.id), :class => "sidelink-item" do %>
        <%= image_tag "occupied_icon.png" %>
        <span>Reservasyon Planlama</span> 
      <% end %>
    </div>

    <div class="profile-data-section">
      <%= link_to new_position_path(:operation => operation.id), :class => "sidelink-item" do %>
        <%= image_tag "occupied_icon.png" %>
        <span>Teklif Oluştur</span>
      <% end %>
    </div>

  </div>
  <div class="profile-data-section">
    <h4 class="profile-data-section">Linkler</h4>
  </div>
  <div class="profile-data-body">

    <div class="profile-data-section">
      <%= link_to places_path(:operation => operation.id), :class => "sidelink-item" do %>
        <%= image_tag "occupied_icon.png" %>
        <span>Havalimanları</span> 
      <% end %>
    </div>

  </div>
</div>
